{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare Partner API",
    "version": "1.0.0",
    "description": "The Partner API pushes leads, activities, files and calls into TatvaCare and reads their state back. One\nkey governs every entity: there is no per-entity enablement. The key determines which fields may be read\nand written, and which product line and group a record belongs to.\n\n## Identity — read this first\n\n**Every record is addressed by `name`.** A create returns the `name` of the record it created — an opaque\nidentifier that carries no meaning and follows no pattern. It is stored by the caller and is the address used for every subsequent\nread, update and delete. It is the only address the API accepts.\n\n**Deduplication is performed by the CRM, never by the caller.** A lead is unique per\n`(mobile_no, product line, group)`. Re-sending the same patient updates that lead; the program is a\nmutable attribute and is not part of identity. A changed phone number is a new patient and mints a new\nlead. Activities, files and calls are **created** against a lead and are **updated by `name`** — they are\nnever deduplicated on a caller-supplied value, so a re-sent create produces a second record.\n\n**`external_id` is a label, not an address.** It is an optional, free-form reference of the caller's own\nchoosing, stored against the record and echoed back on every read so a caller can recognise their own\nrow. It is never interpreted, never deduplicated on, and never used to locate a record.\n\n**Retries are made safe with the `Idempotency-Key` header.** A write may carry one. The first request\nclaims the key and stores its response; a retry with the same key and the same body replays that stored\nresponse instead of writing again. The same key with a different body is rejected with a 422. This is the\nonly retry-safety mechanism, and it is unrelated to `external_id`.\n\n## The shape\n\nA lead has top-level fields (such as `first_name`, `mobile_no`, `status`) and child tables sent as arrays\n(such as `custom_lab_profile` and `custom_plan_profile`). There is no fixed payload: the schema is\ndiscovered at runtime. Every entity exposes a `*_schema` endpoint returning exactly what the calling key\nmay send and read, with each field marked `REQUIRED`, `OPTIONAL` or `OUTPUT_ONLY`. A field list is never\nhardcoded.\n\n## One envelope\n\nEvery response is emitted at the top level, with no `message` wrapper. A success carries\n`{\"status\": \"success\", \"action\": ..., \"data\": ...}`, where `action` is one of `created`, `updated`,\n`fetched` or `deleted`. A failure carries `{\"status\": \"error\", \"error\": {\"code\", \"message\"}}` with a\nnon-2xx status. Every bulk method returns `{\"status\": \"success\", \"summary\": {\"total\", \"succeeded\",\n\"failed\"}, \"results\": [...]}` — reads and writes alike — with `results` input-ordered and each row\ncarrying its own outcome. A bulk call returns 200 even when individual rows failed.\n\n## Limits\n\nBulk methods accept up to 25 records per call. Lists page at up to 200 rows. Two limits apply\nindependently: a call-rate limit and a daily record-volume quota. Single, bulk and list methods all charge\ntheir true row count against the volume quota. A breach of either returns 429 with `Retry-After`.",
    "contact": {
      "name": "TatvaCare CRM Ops"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    },
    {
      "url": "http://dev.localhost:8000",
      "description": "Local dev bench"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication",
      "tags": [
        "Authentication"
      ]
    },
    {
      "name": "Leads",
      "tags": [
        "Leads"
      ]
    },
    {
      "name": "Activities",
      "tags": [
        "Activities"
      ]
    },
    {
      "name": "Files",
      "tags": [
        "Files"
      ]
    },
    {
      "name": "Calls",
      "tags": [
        "Calls"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Every request needs an `Authorization` header:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nThe literal lowercase `token`, a single space, then the key and secret joined by a colon.\n\nA key saved via [Authentication](/partner-validate-key) is reused by the console on every request. The verification call below confirms the header before any lead call.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Leads",
      "description": "Leads are the root entity. Every activity, file and call hangs off one.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `lead_schema` | Discovery: the fields this key may send and read, plus its routing. |\n| GET | `lead_get` | Read one lead by `name` or `mobile_no`. |\n| GET | `lead_list` | List leads on the key's line, filtered and paginated. |\n| POST | `lead_create` | Create or update, deduped by phone within the line and group. |\n| PUT | `lead_update` | Update a lead by `name`. |\n| DELETE | `lead_delete` | Delete a lead by `name`. |\n| POST | `lead_get_bulk` | `{\"names\":[...]}` or `{\"mobile_nos\":[...]}` (up to 100). |\n| POST | `lead_create_bulk` | `{\"leads\":[...]}` (up to 100). |\n| PUT | `lead_update_bulk` | `{\"updates\":[...]}` (up to 100). |\n| DELETE | `lead_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Identity and dedup\n\nA lead is unique per `(mobile_no, product line, group)` — the CRM's own rule, never an `external_id`. Re-sending the same patient updates that lead. The program is a mutable attribute and is NOT part of identity: the same patient sent with a different program transitions the SAME lead. A changed phone number is a new patient and mints a new lead.\n\n`mobile_no` is a valid address here, and only here, because phone is the lead's natural key. Every other entity is addressed by `name` alone.\n\n### Discover before sending\n\n`lead_schema` returns exactly what THIS key may send and read, each field marked `REQUIRED`, `OPTIONAL` or `OUTPUT_ONLY`. Two keys calling it receive different field lists. A field list is never hardcoded.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Activities",
      "description": "Activities are logged on a lead. An activity is a task of a configured activity type, scoped to the lead's product line and group. The same key that writes leads writes activities: there is no per-entity enablement, and one key governs all four entity APIs.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `activity_schema` | Discovery by lead: the activity types available to a lead, each with its field schema. |\n| GET | `activity_get` | Read one activity by `name`. |\n| GET | `activity_list` | List a lead's activities, filtered and paginated. |\n| POST | `activity_create` | Create an activity; returns its `name`. |\n| PUT | `activity_update` | Update an activity by `name`. |\n| DELETE | `activity_delete` | Delete an activity by `name`. |\n| POST | `activity_get_bulk` | `{\"names\":[...]}` (up to 100). |\n| POST | `activity_create_bulk` | `{\"activities\":[...]}` (up to 100). |\n| PUT | `activity_update_bulk` | `{\"updates\":[...]}` (up to 100). |\n| DELETE | `activity_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Discover before sending\n\nActivity fields are scoped to the lead: different leads expose different types and fields. `activity_schema?lead=<id>` (or `?mobile_no=`) is called first, and values are sent and read keyed by the schema `fieldname` under `values`. A field list is never hardcoded.\n\n### Identity\n\nAn activity is addressed by `name`, returned when it was created. A POST **creates**: it does not deduplicate, so a re-sent create produces a second activity. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.\n\nOptional `created_at` backdates the activity for a historical load.",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Files",
      "description": "Files are attached to a lead, or to a scoped activity or note on that lead. The same key as leads, with no per-entity enablement.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `file_schema` | Discovery: the attach payload contract. |\n| GET | `file_get` | Read one file's metadata and proxy url by `name`. |\n| GET | `file_list` | List a lead's files, filtered and paginated. |\n| POST | `file_attach` | Decode or download the bytes and attach to a lead, activity or note. |\n| DELETE | `file_delete` | Delete a file by `name`. |\n| POST | `file_get_bulk` | `{\"names\":[...]}` (up to 100). |\n| POST | `file_attach_bulk` | `{\"files\":[...]}` (up to 100). |\n| DELETE | `file_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Always private\n\nEvery file attached through this API is private. `is_private` always reads `true` and `file_url` is always a proxy url, never a raw storage key or a local path. The bytes are supplied either as a downloadable `file_url` (fetched by the server) or as `content_base64`. Exactly one is sent.\n\n### Identity\n\nA file is addressed by `name`, returned when it was attached. A POST **attaches**: it does not deduplicate, so re-sending the same bytes attaches a second file. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.\n\n### No update\n\nA file's bytes are immutable. There is deliberately no update method: replacing a file means attaching the new one and deleting the old.",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Calls",
      "description": "Calls are logged on a lead. A call is stored in the same call log the telephony integration writes to. The same key as leads, with no per-entity enablement.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `call_schema` | Discovery: the call payload contract. |\n| GET | `call_get` | Read one call by `name`. |\n| GET | `call_list` | List a lead's calls, filtered and paginated. |\n| POST | `call_create` | Create a call log; returns its `name`. |\n| PUT | `call_update` | Update a call by `name`. |\n| DELETE | `call_delete` | Delete a call by `name`. |\n| POST | `call_get_bulk` | `{\"names\":[...]}` (up to 100). |\n| POST | `call_create_bulk` | `{\"calls\":[...]}` (up to 100). |\n| PUT | `call_update_bulk` | `{\"updates\":[...]}` (up to 100). |\n| DELETE | `call_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Attribution: `lead` is always read\n\n`lead` or `mobile_no` attaches the call explicitly, scoped to the line. Omitting both lets the server strict-match the customer number (`from_number` on Inbound, `to_number` on Outbound), scoped to the line. No match, or an ambiguous match, leaves the call unlinked and `lead` reads `null`, never on the wrong lead. `lead` is always read back to confirm whether the call was linked.\n\n### Identity\n\nA call is addressed by `name`, returned when it was created — which is NOT the `external_id`. A POST **creates**: it does not deduplicate, so a re-sent create produces a second call. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.\n\nOptional `started_at` backdates the call on insert.",
      "x-zudoku-collapsed": true
    }
  ],
  "components": {
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on the lead itself. The top-level fields a key may send and read live here, and child tables embed as arrays. The exact fields a key is granted are listed by `lead_schema`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The lead's unique id — an opaque identifier the server generates. It carries no meaning, follows no pattern, and is never sent on a create.",
            "readOnly": true,
            "example": "a7f3c9e12b"
          },
          "first_name": {
            "type": "string",
            "description": "First name. If it is unknown, `(no name)` is filled in when it is omitted on create."
          },
          "last_name": {
            "type": "string",
            "description": "Last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "Required. The dedup anchor, together with the product line and group. E.164 format: `+<country code><digits>`, no spaces or hyphens.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164, same as `mobile_no`."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164, same as `mobile_no`."
          },
          "status": {
            "type": "string",
            "description": "Optional. The CRM defaults it on create. It is NOT required — and because `lead_create` is an upsert, sending it on every sync will overwrite the lifecycle status the CRM has since moved on to.",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Read the allowed values from `lead_schema`."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "**OUTPUT_ONLY.** Server-assigned by the Assignment Rule. A value sent here is ignored.",
            "readOnly": true
          },
          "lost_reason": {
            "type": "string",
            "description": "Required when `status` is `Junk` or `Unqualified`. Read the allowed values from `lead_schema`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "Product Line B",
              "Product Line A",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "The product line. Fixed to the key and stamped server-side, so it is never sent by the caller."
          },
          "custom_group": {
            "type": "string",
            "enum": [
              "Group A",
              "Program E",
              "Pharma Z",
              "Product Line B",
              "Group B"
            ],
            "description": "The group within the product line. Fixed to the key and stamped server-side, so it is never sent by the caller."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Program E",
              "Program F",
              "Product Line B",
              "Program D",
              "Program H",
              "Program B",
              "Program A",
              "Program C"
            ],
            "description": "The lead's current program. A mutable attribute, never part of identity: sending the same patient with a different program TRANSITIONS the same lead. Honoured by both `lead_create` and `lead_update`, and validated against the key's `allowed_programs` (see `lead_schema.routing`)."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "The lead's previous program if it transitioned. Records the last switch only."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "The product line the lead first entered through. Captured once and never updated."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated. Deprecated for new writes; use `source` instead."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External identifier from the source system."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy migration identifier. Not populated for new leads."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy migration lead number."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-generation identifier (campaign or form submission id)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Age in years. Caller-provided; not derived from the date of birth."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Age bucket (for example `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State or region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to the lead (for example Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Job title."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "Plan, subscription, program, payment, and acquisition data, sent as an array. Writes merge field by field into the existing row, so a partial write never wipes it. Discover the exact fields via `lead_schema`."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Lab values, vitals, conditions, and scores, sent as an array. Discover the exact fields via `lead_schema`."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Care team: coaches, relationship manager, therapist, doctor, hospital, sent as an array. Discover the exact fields via `lead_schema`."
          },
          "lead_name": {
            "type": "string",
            "description": "Read-only. Auto-computed from `first_name` and `last_name`. Never write it.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "Read-only. When the lead was created.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "Read-only. When the lead was last modified. Useful for change tracking and delta sync.",
            "readOnly": true
          }
        }
      },
      "PlanProfile": {
        "type": "object",
        "description": "A plan, subscription, or program profile row, sent as a JSON array under `custom_plan_profile`. The exact fields available are key-specific and are discovered via `lead_schema` (`data.children.custom_plan_profile.fields`). A field list must not be hardcoded.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique id (read-only; present when a lead is read back)."
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "A lab-values and vitals profile row, sent as a JSON array under `custom_lab_profile`. The exact fields available are key-specific and are discovered via `lead_schema` (`data.children.custom_lab_profile.fields`). A field list must not be hardcoded.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique id (read-only; present when a lead is read back)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "A care-team and providers profile row, sent as a JSON array under `custom_care_providers_profile`. The exact fields available are key-specific and are discovered via `lead_schema` (`data.children.custom_care_providers_profile.fields`). A field list must not be hardcoded.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique id (read-only; present when a lead is read back)."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `lead_create`. Only `mobile_no` is strictly required (the dedup anchor); `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other fields are optional and must be within the fields the key is allowed to send (`lead_schema` lists them). Routing is never sent; it is set server-side. Profile children embed as arrays and merge field by field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          }
        }
      },
      "LeadUpdateRequest": {
        "type": "object",
        "description": "Request body for `lead_update`. Carries the CRM `name` (the id `lead_create` returned) plus any allowed fields to change. Parent fields that are sent are updated, fields that are omitted are left alone, and profile children merge field by field. Routing cannot be changed; it is fixed to the key.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id to update.",
                "example": "a7f3c9e12b"
              }
            }
          }
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          }
        }
      },
      "PartnerError": {
        "type": "object",
        "description": "The single error envelope returned by every failure. Branch on `error.code`; the full `error.code`-to-HTTP map is on the [Errors](/partner-errors) page.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Always `error` on a failure."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "validation_error",
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "conflict",
                  "duplicate",
                  "cannot_delete",
                  "write_conflict",
                  "rate_limited",
                  "server_error",
                  "server_busy"
                ],
                "description": "Stable machine-readable code. Branch on this, not on the message text."
              },
              "message": {
                "type": "string",
                "description": "Human-readable message (safe to surface)."
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Present on some `validation_error`s, the field name(s) that failed."
              },
              "retry_after": {
                "type": "integer",
                "description": "Present only on `rate_limited` (429): seconds until the key's budget resets."
              }
            }
          }
        }
      },
      "PartnerWriteResponse": {
        "type": "object",
        "description": "Success envelope from every single-record write and read. It is emitted at the top level; there is no `message` wrapper. `status` is read first, then `action`, then `data`. A failure instead returns the PartnerError envelope with a non-2xx status.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` on a 2xx."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "What happened: `created`, `updated`, `fetched` or `deleted`."
          },
          "data": {
            "type": "object",
            "description": "The full record. A delete returns `{name}` only."
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "PartnerReadResponse": {
        "type": "object",
        "description": "Success envelope from `lead_get` / `lead_list`. Top-level (no `message` wrapper). `action` is `fetched`; `data` carries the curated lead (`lead_get`) or the page object (`lead_list`).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "description": "The curated lead (`lead_get`) or the page object `{total,count,offset,limit,leads[]}` (`lead_list`)."
          }
        }
      },
      "PartnerSchemaResponse": {
        "type": "object",
        "description": "Success envelope from every `*_schema` discovery method. `data` carries the SAME four blocks on every entity: `entity`, `identity` (how records are addressed), `dedup` (how uniqueness is decided, always by the CRM and never by an `external_id`), and `bulk` (the per-call and page ceilings). `fields` carries the field descriptors, each marked `REQUIRED`, `OPTIONAL` or `OUTPUT_ONLY`. Entity-specific blocks are added alongside.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "lead",
                  "activity",
                  "file",
                  "call"
                ]
              },
              "identity": {
                "type": "object",
                "description": "`addressed_by` and the addressing rule in prose."
              },
              "dedup": {
                "type": "string",
                "description": "How uniqueness is decided for this entity."
              },
              "bulk": {
                "type": "object",
                "description": "`max_per_call`, `list_page_max`, `list_page_default`."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySchemaField"
                },
                "description": "Field descriptors: fieldname, label, type, behavior, required."
              }
            },
            "required": [
              "entity",
              "identity",
              "dedup",
              "bulk"
            ]
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "PartnerBulkResultEntry": {
        "type": "object",
        "description": "One record's outcome inside a bulk response. `status` is `success` or `error` per row. A success carries `action` and `data` (the full record; a delete carries `{name}`). An error carries the same `error: {code, message}` block as the top-level PartnerError.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "0-based position in the request array (results are input-ordered)."
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "Present on a successful row."
          },
          "data": {
            "type": "object",
            "description": "The full record on a successful row; `{name}` on a successful delete."
          },
          "error": {
            "type": "object",
            "description": "Present on a failed row: `{code, message}`.",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        },
        "required": [
          "index",
          "status"
        ]
      },
      "PartnerBulkResponse": {
        "type": "object",
        "description": "Partial-success envelope shared by EVERY bulk method — reads and writes alike. It is emitted at the top level; there is no `message` wrapper. Each record is handled independently: a write runs in its own savepoint, so one bad row reports its error while the rest still commit. `results` is input-ordered, so `results[i]` is the i-th record of the request. The HTTP status is 200 even when individual rows failed; `results[].status` is inspected per row.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` — the batch ran. Individual rows may still have failed."
          },
          "summary": {
            "type": "object",
            "description": "Counts for the batch. The SAME three keys on every bulk method, read or write.",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Records in the request."
              },
              "succeeded": {
                "type": "integer",
                "description": "Records that succeeded."
              },
              "failed": {
                "type": "integer",
                "description": "Records that failed."
              }
            },
            "required": [
              "total",
              "succeeded",
              "failed"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerBulkResultEntry"
            },
            "description": "Per-record outcome, input-ordered."
          }
        },
        "required": [
          "status",
          "summary",
          "results"
        ]
      },
      "ActivitySchemaField": {
        "type": "object",
        "required": [
          "fieldname",
          "label",
          "type",
          "behavior",
          "required"
        ],
        "description": "One field a caller may send, as every `*_schema` endpoint describes it. `behavior` is the AIP-203 field behavior and `required` is the boolean a client branches on. There is no `reqd`.",
        "properties": {
          "fieldname": {
            "type": "string"
          },
          "label": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "description": "The field's data type (Data, Select, Link, Datetime, ...)."
          },
          "behavior": {
            "type": "string",
            "enum": [
              "REQUIRED",
              "OPTIONAL",
              "OUTPUT_ONLY"
            ]
          },
          "required": {
            "type": "boolean",
            "description": "Whether the caller must send it. OUTPUT_ONLY is never required."
          },
          "options": {
            "type": [
              "string",
              "null"
            ],
            "description": "Set only for Link and Select."
          },
          "allowed_values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The exact values this caller may send, when the field has a controlled vocabulary."
          }
        }
      },
      "ActivityType": {
        "type": "object",
        "description": "One line-scoped activity type available to a lead, returned by `activity_schema`. Pick a `name` and send its `fields` under `values`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The activity type id, send it as `task_type` on create/update.",
            "example": "Welcome Call"
          },
          "is_logged_complete": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "`1` means logging this activity marks it complete (it carries no separate status workflow)."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivitySchemaField"
            },
            "description": "The fields an integrator may send under `values` for this type."
          }
        }
      },
      "Activity": {
        "type": "object",
        "description": "The partner-facing shape of an activity. `values` is re-keyed to the type's schema `fieldname`s; read and write activity data through `values`, never internal fields.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The activity id, the activity's unique id (PUT/DELETE this back).",
            "example": "abc123def4"
          },
          "lead": {
            "type": "string",
            "description": "The CRM Lead this activity hangs off.",
            "example": "a7f3c9e12b"
          },
          "task_type": {
            "type": "string",
            "description": "The activity type, a `name` from `activity_schema`.",
            "example": "Welcome Call"
          },
          "status": {
            "type": "string",
            "description": "The task status (e.g. `Todo`, `Done`)."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "values": {
            "type": "object",
            "additionalProperties": true,
            "description": "The activity's data, keyed by the type's schema `fieldname`s (discover them via `activity_schema`)."
          }
        }
      },
      "ActivityUpsertRequest": {
        "type": "object",
        "description": "Body for `activity_create` and `activity_update`. On a create, the lead is targeted by `lead` (its CRM `name`) OR `mobile_no`. On an update, the activity is targeted by its own `name`. `task_type` names the activity type, and `values` carries the data keyed by the type's `fieldname`s, as advertised by `activity_schema` for that lead.\n\nA create does NOT deduplicate: a re-sent create produces a second activity. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record. Optional `created_at` backdates the activity for a historical load.",
        "properties": {
          "lead": {
            "type": "string",
            "description": "CRM Lead id. Send this OR `mobile_no`.",
            "example": "a7f3c9e12b"
          },
          "mobile_no": {
            "type": "string",
            "description": "Lead phone (auto-normalized). Send this OR `lead`.",
            "example": "9000000001"
          },
          "task_type": {
            "type": "string",
            "description": "**Required.** The activity type, a `name` from `activity_schema`.",
            "example": "Welcome Call"
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Activity data keyed by the type's schema `fieldname`s. Required fields per type come from `activity_schema`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Optional. Backdates the activity's `creation` (historical / migration load). Ignored on update."
          },
          "name": {
            "type": "string",
            "description": "The record's `name` — the primary key returned when it was created. Required on an update; it is the only address the API accepts."
          }
        },
        "required": [
          "task_type"
        ]
      },
      "File": {
        "type": "object",
        "description": "The partner-facing shape of a file on a lead (or a scoped activity task). Files are **always private**; `file_url` is a proxy URL, never a raw storage key or local path.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The File id, the file's unique id (DELETE this back)."
          },
          "file_type": {
            "type": "string",
            "nullable": true,
            "description": "The document category (stored in `custom_file_type`), e.g. `Lab Report`, `Prescription`, caller-supplied."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "filename": {
            "type": "string",
            "description": "Original file name."
          },
          "file_url": {
            "type": "string",
            "description": "Proxy URL to fetch the (private) bytes, never a raw storage key or local path."
          },
          "is_private": {
            "type": "boolean",
            "description": "Always `true`, files attached via this API are private by design."
          },
          "attached_to_doctype": {
            "type": "string",
            "enum": [
              "CRM Lead",
              "CRM Task"
            ],
            "description": "What the file hangs off, the lead, or a scoped activity task."
          },
          "attached_to_name": {
            "type": "string",
            "description": "The id of the lead or task the file is attached to."
          }
        }
      },
      "FileAttachRequest": {
        "type": "object",
        "description": "Body for `file_attach`. The lead is targeted by `lead` OR `mobile_no`, and the file optionally homed on a scoped `activity` (a CRM Task) or `note` on that lead. The bytes are supplied as a downloadable `file_url` OR as `content_base64` — exactly one is sent.\n\nAn attach does NOT deduplicate: re-sending the same bytes attaches a second file. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.",
        "properties": {
          "lead": {
            "type": "string",
            "description": "CRM Lead id. Send this OR `mobile_no`.",
            "example": "a7f3c9e12b"
          },
          "mobile_no": {
            "type": "string",
            "description": "Lead phone (auto-normalized). Send this OR `lead`.",
            "example": "9000000001"
          },
          "activity": {
            "type": "string",
            "description": "Optional activity id to attach the file to instead of the lead. The activity must belong to this lead (else generic not-found)."
          },
          "note": {
            "type": "string",
            "description": "Optional note id to attach the file to instead of the lead. The note must belong to the same lead. Send `activity` or `note`, not both."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "file_type": {
            "type": "string",
            "description": "Document category (stored in `custom_file_type`), e.g. `Lab Report`."
          },
          "filename": {
            "type": "string",
            "description": "**Required.** The file name to store."
          },
          "file_url": {
            "type": "string",
            "description": "A (signed / expiring) URL the server downloads the bytes from. Send this OR `content_base64`."
          },
          "content_base64": {
            "type": "string",
            "description": "The file bytes, base64-encoded. Send this OR `file_url`."
          }
        },
        "required": [
          "filename"
        ]
      },
      "Call": {
        "type": "object",
        "description": "The partner-facing shape of a call log. **`lead` may be `null`** when no phone match or an ambiguous (2+) match was found; fail-closed attribution never attaches a call to the wrong lead. Always read `lead` to know whether the call was linked.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The CRM Call Log id (the autonamed row name; NOT the `external_id`)."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "lead": {
            "type": "string",
            "nullable": true,
            "description": "The linked CRM Lead, **`null` when attribution found no/ambiguous match** (the call is left unlinked, never attached to a wrong lead). Read this."
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "description": "Call direction (maps to the call log `type`: Inbound to Incoming, Outbound to Outgoing)."
          },
          "from_number": {
            "type": "string",
            "description": "Calling party number."
          },
          "to_number": {
            "type": "string",
            "description": "Called party number."
          },
          "status": {
            "type": "string",
            "description": "Call status (e.g. `Completed`, `Missed`, `No Answer`)."
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds."
          },
          "recording_url": {
            "type": "string",
            "nullable": true,
            "description": "URL of the call recording, if any."
          },
          "start_time": {
            "type": "string",
            "nullable": true,
            "description": "Call start timestamp."
          }
        }
      },
      "CallUpsertRequest": {
        "type": "object",
        "description": "Body for `call_create` and `call_update`. `direction` (Inbound or Outbound) is required on a create. On an update, the call is targeted by its own `name`.\n\nAttribution: `lead` or `mobile_no` targets a lead explicitly, scoped to the line. Omitting both lets the server strict-match the customer number (`from_number` on Inbound, `to_number` on Outbound) within the line. No match, or an ambiguous match, leaves the call unlinked and `lead` reads `null`.\n\nA create does NOT deduplicate: a re-sent create produces a second call. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record. Optional `started_at` backdates the call on insert.",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "description": "**Required.** Call direction."
          },
          "lead": {
            "type": "string",
            "description": "Optional CRM Lead id to attach to (line-scoped). If sent with `mobile_no`, `lead` wins.",
            "example": "a7f3c9e12b"
          },
          "mobile_no": {
            "type": "string",
            "description": "Optional lead phone (auto-normalized) to attach to (line-scoped)."
          },
          "from_number": {
            "type": "string",
            "description": "Calling party number. On an Inbound call with no `lead`/`mobile_no`, this is the customer number used for attribution."
          },
          "to_number": {
            "type": "string",
            "description": "Called party number. On an Outbound call with no `lead`/`mobile_no`, this is the customer number used for attribution."
          },
          "status": {
            "type": "string",
            "description": "Call status. Defaults to `Completed` on insert if omitted."
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds."
          },
          "recording_url": {
            "type": "string",
            "description": "URL of the call recording (optional)."
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Call start time. On insert it also backdates the row's `creation` (historical load)."
          },
          "name": {
            "type": "string",
            "description": "The record's `name` — the primary key returned when it was created. Required on an update; it is the only address the API accepts."
          }
        },
        "required": [
          "direction"
        ]
      },
      "EntityListResponse": {
        "type": "object",
        "description": "Success envelope from every list method (`lead_list` / `activity_list` / `file_list` / `call_list`). It is emitted at the top level; there is no `message` wrapper, and `action` is `fetched`. `data` is a page object carrying the SAME five keys on every entity, plus the entity array under its own plural name (`leads` / `activities` / `files` / `calls`).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total rows matching the filter, across all pages."
              },
              "count": {
                "type": "integer",
                "description": "Rows in THIS page."
              },
              "offset": {
                "type": "integer",
                "description": "Rows skipped (paging)."
              },
              "limit": {
                "type": "integer",
                "description": "Page size used (defaults to 20, capped at 200)."
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether further pages remain."
              }
            },
            "required": [
              "total",
              "count",
              "offset",
              "limit",
              "has_more"
            ]
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "EntityReadResponse": {
        "type": "object",
        "description": "Success envelope from every single-record endpoint of an entity (`*_schema`, `*_get`, `*_create`, `*_update`, `*_delete`). It is emitted at the top level; there is no `message` wrapper. Every write returns the FULL record in `data`, so a create, an update and a get can never hand back different shapes.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "What happened. Reads report `fetched`, writes report `created` or `updated`, and a delete reports `deleted`."
          },
          "data": {
            "description": "The full record (Lead / Activity / File / Call), the `{name}` on a delete, or the discovery object on a `*_schema` call."
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "BulkNamesRequest": {
        "type": "object",
        "required": [
          "names"
        ],
        "description": "A batch addressed by `name` — the primary keys returned when the records were created. Up to 100 per call.",
        "properties": {
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "The records' `name`s. Up to 100."
          }
        }
      },
      "ActivityUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "description": "A batch of activity updates, each addressed by `name`. Up to 100 per call.",
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/ActivityUpsertRequest"
            },
            "description": "Each entry carries the activity's `name` plus the fields to change."
          }
        }
      },
      "CallUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "description": "A batch of call updates, each addressed by `name`. Up to 100 per call.",
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/CallUpsertRequest"
            },
            "description": "Each entry carries the call's `name` plus the fields to change."
          }
        }
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable: just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child: lab values for an insurer lead",
        "description": "A Lab Profile row is attached. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Example",
          "status": "New",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full: insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Example",
          "last_name": "Example",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://pay.example/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full: oncology PSP lead (drug program + care team)",
        "description": "Illustrative shape for a Group A / Program B clinical lead. The Plan Profile fields shown are examples only; the actual fields for a key come from `lead_schema`. Care and Providers carries the assigned coach, doctor, and hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Example Lead",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Caregiver Example",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "custom_plan_profile": [
            {
              "patient_indication": "Condition A",
              "cancer_stage": "Stage IV",
              "program_start_date": "2026-05-01",
              "substage": "Program B-Ready for Treatment"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "ABM Example",
              "success_coach_name": "Coach Example",
              "doctor_name": "Dr. Example",
              "hospital_name": "Example Hospital",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full: wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a Product Line C-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Example Lead",
          "status": "New",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Example Plan",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Coach Example",
              "rm_name": "RM Example",
              "diet_coach_name": "Diet Coach Example"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "lead_create response: created",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "a7f3c9e12b",
            "source": "Program D",
            "vertical": "Product Line B",
            "group": "Group B",
            "program": "Program D"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "lead_create response: updated (existing lead found on the same line)",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "a7f3c9e12b",
            "source": "Program D",
            "vertical": "Product Line B",
            "group": "Group B",
            "program": "Program D"
          }
        }
      },
      "LeadSchemaResponse": {
        "summary": "lead_schema — a real response from the API",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "entity": "lead",
            "identity": {
              "addressed_by": "name",
              "note": "Every record is addressed by `name` — the primary key of its underlying table, returned when the record is created. It is stored by the caller and is the only address the API accepts. `external_id` is a label of the caller's own choosing: it is stored and echoed back on every read, is never interpreted, and is never used to locate a record. Retries are made safe with the Idempotency-Key header, not with any identifier in the body."
            },
            "dedup": "A lead is unique per (mobile_no, product line, group) — the CRM's own rule, never an `external_id`. Re-sending the same patient updates that lead. Program is NOT part of identity: the same patient sent with a different program transitions the SAME lead. A changed phone number is a new patient and mints a new lead.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_page_default": 20
            },
            "fields": [
              {
                "fieldname": "custom_address_line_1",
                "label": "Address Line 1",
                "type": "Small Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_address_line_2",
                "label": "Address Line 2",
                "type": "Small Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_alternate_number",
                "label": "Alternate Number",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_city",
                "label": "City",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_clinic_latitude",
                "label": "Clinic Latitude",
                "type": "Float",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_clinic_longitude",
                "label": "Clinic Longitude",
                "type": "Float",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_clinic_or_hospital_name",
                "label": "Clinic / Hospital Name",
                "type": "Small Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_clinic_type",
                "label": "Clinic Type",
                "type": "Link",
                "behavior": "OPTIONAL",
                "required": false,
                "options": "CRM Picklist Value"
              },
              {
                "fieldname": "custom_country",
                "label": "Country",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_dob",
                "label": "Date of Birth",
                "type": "Date",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_doctor_age",
                "label": "Doctor Age",
                "type": "Select",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_doctor_id",
                "label": "Doctor ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_doctor_speciality",
                "label": "Doctor Speciality",
                "type": "Small Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_gender",
                "label": "Gender",
                "type": "Select",
                "behavior": "OPTIONAL",
                "required": false,
                "options": "\nMale\nFemale\nOther"
              },
              {
                "fieldname": "custom_lead_gen_id",
                "label": "LeadGen ID",
                "type": "Small Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_lead_temperature",
                "label": "Lead Temperature",
                "type": "Select",
                "behavior": "OPTIONAL",
                "required": false,
                "options": "\nHot\nCold"
              },
              {
                "fieldname": "custom_location_strata",
                "label": "Location Strata of Doctor",
                "type": "Select",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_lsq_lead_number",
                "label": "LSQ Lead Number",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_lsq_modified_by",
                "label": "LSQ Modified By (Id)",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_lsq_modified_by_name",
                "label": "LSQ Modified By",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_lsq_prospect_id",
                "label": "LSQ Prospect ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_mr_name",
                "label": "MR Name",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_notes",
                "label": "Notes",
                "type": "Long Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_order_value",
                "label": "Order Value",
                "type": "Currency",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_patient_age",
                "label": "Patient Age",
                "type": "Int",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_patient_id",
                "label": "Patient ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_per_day_opd_size",
                "label": "Per Day OPD Size",
                "type": "Int",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_pincode",
                "label": "Pincode",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_preferred_language",
                "label": "Preferred Language",
                "type": "Small Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_remarks",
                "label": "Remarks",
                "type": "Long Text",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_sales_groups",
                "label": "Sales Groups",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_state",
                "label": "State",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_substage",
                "label": "Sub-stage",
                "type": "Link",
                "behavior": "OPTIONAL",
                "required": false,
                "options": "CRM Lead Stage"
              },
              {
                "fieldname": "custom_type_of_clinic",
                "label": "Type of Clinic",
                "type": "Select",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_uhid_mrd",
                "label": "Tishtha UHID / MRD",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_whatsapp_opt_out",
                "label": "WhatsApp Opt Out",
                "type": "Check",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_whatsapp_temp",
                "label": "WhatsApp Temp",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "custom_zoho_id",
                "label": "Zoho ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "email",
                "label": "Email",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "gender",
                "label": "Gender",
                "type": "Link",
                "behavior": "OPTIONAL",
                "required": false,
                "options": "Gender"
              },
              {
                "fieldname": "last_name",
                "label": "Last Name",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "mobile_no",
                "label": "Mobile No.",
                "type": "Data",
                "behavior": "REQUIRED",
                "required": true,
                "options": null
              },
              {
                "fieldname": "status",
                "label": "Status",
                "type": "Link",
                "behavior": "OPTIONAL",
                "required": false,
                "options": "CRM Lead Status"
              },
              {
                "fieldname": "website",
                "label": "Website",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "external_id",
                "label": "External ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "creation",
                "label": "Created On",
                "type": "Datetime",
                "behavior": "OUTPUT_ONLY",
                "required": false,
                "options": null
              },
              {
                "fieldname": "name",
                "label": "Lead ID",
                "type": "Data",
                "behavior": "OUTPUT_ONLY",
                "required": false,
                "options": null
              },
              {
                "fieldname": "lead_owner",
                "label": "Lead Owner",
                "type": "Link",
                "behavior": "OUTPUT_ONLY",
                "required": false,
                "options": "User"
              },
              {
                "fieldname": "modified",
                "label": "Update Date",
                "type": "Datetime",
                "behavior": "OUTPUT_ONLY",
                "required": false,
                "options": null
              },
              {
                "fieldname": "owner",
                "label": "Created By Id",
                "type": "Link",
                "behavior": "OUTPUT_ONLY",
                "required": false,
                "options": null
              }
            ],
            "children": {
              "custom_acquisition_profile": {
                "multi_row": false,
                "key_field": null,
                "fields": [
                  {
                    "fieldname": "custom_signed_up_on_app",
                    "label": "Signed Up on App",
                    "type": "Check",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_source_campaign",
                    "label": "Source Campaign",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_source_medium",
                    "label": "Source Medium",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "dx_address_at",
                    "label": "Diagnostic (Dx): Address Submitted At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "dx_confirmed_at",
                    "label": "Diagnostic (Dx): Booking Confirmed At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "dx_details_at",
                    "label": "Diagnostic (Dx): Details Submitted At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "dx_intent_at",
                    "label": "Diagnostic (Dx): Intent At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "dx_landing_at",
                    "label": "Diagnostic (Dx): Landing Page At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "dx_slot_at",
                    "label": "Diagnostic (Dx): Slot Selected At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "labtest_booked_at",
                    "label": "Lab Test Booked At",
                    "type": "Datetime",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "lead_origin",
                    "label": "Lead Origin",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "mobile_app_signup_date",
                    "label": "Mobile App Signup Date",
                    "type": "Date",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "platform",
                    "label": "Platform (Mobile App)",
                    "type": "Select",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "signup_date",
                    "label": "Signup Date",
                    "type": "Date",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "source_content",
                    "label": "Source Content",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "user_source",
                    "label": "User Source",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_campaign",
                    "label": "UTM Campaign",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_content",
                    "label": "UTM Content",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_disease",
                    "label": "UTM Disease",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_medium",
                    "label": "UTM Medium",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_source",
                    "label": "UTM Source",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_term",
                    "label": "UTM Term",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "utm_therapy_area",
                    "label": "UTM Therapy Area",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  }
                ]
              },
              "custom_care_providers_profile": {
                "multi_row": false,
                "key_field": null,
                "fields": [
                  {
                    "fieldname": "custom_doctor_full_name",
                    "label": "Doctor Full Name",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_doctor_name",
                    "label": "Doctor Name",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_hospital_city",
                    "label": "Hospital City",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_hospital_city_name",
                    "label": "Hospital City Name",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_hospital_full_name",
                    "label": "Hospital Full Name",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_hospital_name",
                    "label": "Hospital Name",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_hospital_state",
                    "label": "Hospital State",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_hospital_type",
                    "label": "Hospital Type",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Government",
                      "Private",
                      "Trust"
                    ]
                  }
                ]
              },
              "custom_drug_program_profile": {
                "multi_row": true,
                "key_field": "cycle_date",
                "fields": [
                  {
                    "fieldname": "custom_brain_mets_category",
                    "label": "Brain Mets Category",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Symptomatic",
                      "Asymptomatic"
                    ]
                  },
                  {
                    "fieldname": "custom_cancer_stage",
                    "label": "Cancer Stage",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "1st",
                      "2nd",
                      "3rd",
                      "4th",
                      "Reports not available"
                    ]
                  },
                  {
                    "fieldname": "custom_capecitabine_dosage",
                    "label": "Capecitabine Dosage",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_dosage",
                    "label": "Dosage",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_last_cycle_documents_shared",
                    "label": "Last Cycle Documents Shared",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "YES",
                      "NO"
                    ]
                  },
                  {
                    "fieldname": "custom_nivo_address",
                    "label": "Nivolumab Address",
                    "type": "Long Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivo_chemo_cycle",
                    "label": "Nivolumab Chemo Cycle",
                    "type": "Int",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivo_chemo_date",
                    "label": "Nivolumab Chemo Date",
                    "type": "Date",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivo_dosage",
                    "label": "Nivolumab Dosage",
                    "type": "Small Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivo_indication",
                    "label": "Nivolumab Indication",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "NSCLC- Non-Small Cell Lung Cancer",
                      "GI- Gastrointestinal",
                      "RCC- Renal Cell Carcinoma",
                      "SCCHN- Squamous cell carcinoma of head and neck",
                      "Urothelial Carcinoma",
                      "Melanoma",
                      "CHL- Classical Hodgkin lymphoma",
                      "mCRC- Metastatic colorectal cancer",
                      "Gynecology cancer",
                      "Breast Cancer",
                      "Sacroma",
                      "Hepatocellular carcinoma (HCC)",
                      "Neuroendocrine Cancer",
                      "Others",
                      "Not mentioned"
                    ]
                  },
                  {
                    "fieldname": "custom_nivo_order_number",
                    "label": "Nivolumab Order Number",
                    "type": "Int",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivo_pap_category",
                    "label": "Nivolumab PAP Category",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "2+2",
                      "9 Dosage Paid and 17 Dosage free",
                      "1+1 (Post approval)",
                      "360 mg dosage PAP",
                      "480 mg dosage PAP",
                      "Others",
                      "PAP not confirmed yet",
                      "Nivo Post Op"
                    ]
                  },
                  {
                    "fieldname": "custom_nivo_side_effects",
                    "label": "Nivolumab Side Effects",
                    "type": "Long Text",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivolumab_approval",
                    "label": "Nivolumab Approval",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivolumab_approved_indication_as_per_cancer",
                    "label": "Nivolumab Approved Indication As Per Cancer",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivolumab_order_placed_date",
                    "label": "Nivolumab Order Placed Date",
                    "type": "Date",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_nivolumab_others_cancer_type",
                    "label": "Nivolumab Other Cancer Type",
                    "type": "Data",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_pap_drug_type",
                    "label": "PAP Drug Type",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Primary",
                      "Secondary"
                    ]
                  },
                  {
                    "fieldname": "custom_patient_indication",
                    "label": "Patient Indication",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "NACT",
                      "ACT",
                      "MBC",
                      "Not mentioned"
                    ]
                  },
                  {
                    "fieldname": "custom_pcr_received",
                    "label": "PCR (Pathology) Report Received",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Yes",
                      "No",
                      "Reports not available"
                    ]
                  },
                  {
                    "fieldname": "custom_psp_drug_category",
                    "label": "PSP Drug Category",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Sigrima",
                      "Tukavo",
                      "Ujvira",
                      "Nivolumab"
                    ]
                  },
                  {
                    "fieldname": "custom_psp_name",
                    "label": "PSP Name",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Zydus Support Program"
                    ]
                  },
                  {
                    "fieldname": "custom_reason_for_no_indication",
                    "label": "Reason for No Indication",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "NA",
                      "No Document shared by ABM or Patient",
                      "Indication not mentioned in the document",
                      "Govt Hospital"
                    ]
                  },
                  {
                    "fieldname": "custom_side_effects",
                    "label": "Side Effects",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "No",
                      "Yes"
                    ]
                  },
                  {
                    "fieldname": "custom_side_effects_detail",
                    "label": "Side Effects Detail",
                    "type": "Table MultiSelect",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_sigrima_pap_category",
                    "label": "Sigrima PAP Category",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Vivitra + Chemo Baseline + Sigrima",
                      "Vivitra + Sigrima",
                      "Only Sigrima- No Vivitra",
                      "Vivitra + Chemo Baseline",
                      "Only Vivitra- No other PAP",
                      "Sigrima + Chemo Baseline",
                      "Trastu + Chemo Baseline + Sigrima",
                      "Trastu + Sigrima",
                      "Trastu + Chemo Baseline + Loading Free+ 17th cycle Free",
                      "Trastu + Loading Free + 17th cycle Free",
                      "Sigrima 1+1",
                      "Combined PAP (Trastu + Sigrima)",
                      "Trastu + Chemo Baseline + Loading Free"
                    ]
                  },
                  {
                    "fieldname": "custom_sigrima_psp_category",
                    "label": "Sigrima PSP Category",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "PSP 1- 1st and 17th dose free",
                      "PSP 2- Alternate dose free",
                      "PSP 3- Vivitra and Chemo baseline Alternate dose free",
                      "Not mentioned",
                      "PSP 1",
                      "PSP 2"
                    ]
                  },
                  {
                    "fieldname": "custom_sigrima_psp_enabled",
                    "label": "Sigrima PSP Enabled",
                    "type": "Check",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": null
                  },
                  {
                    "fieldname": "custom_transition_from_sigrima",
                    "label": "Transition from Sigrima",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Yes",
                      "No"
                    ]
                  },
                  {
                    "fieldname": "custom_transition_from_ujvira",
                    "label": "Transition from Ujvira",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Yes",
                      "No"
                    ]
                  },
                  {
                    "fieldname": "custom_transition_old_to_new_pap",
                    "label": "Transition Old to New PAP",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "required": false,
                    "options": "CRM Picklist Value",
                    "allowed_values": [
                      "Yes",
                      "No"
                    ]
                  },
                  {
                    "fieldname": "custom_treatment_history_before_tukavo",
                    "label": "Treatment History Before Tukavo",
[...]
