{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare Partner API",
    "version": "1.0.0",
    "description": "The TatvaCare Partner API lets you send leads to TatvaCare and read them back, with their activities, calls, notes, files, deals, and support tickets.\n\nSend your key in the `Authorization` header on every call: `token <api_key>:<api_secret>`. Test your key on the [Authentication](/partner-validate-key) page.\n\nNew here? Start with the [Quickstart](/partner-quickstart). [Errors](/partner-errors) and [Rate limits](/rate-limits) apply to every operation.",
    "license": {
      "name": "Proprietary",
      "url": "https://tatvacare.in/terms"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    },
    {
      "url": "https://one-uat.tatvacare.in",
      "description": "UAT (sandbox for testing)"
    }
  ],
  "tags": [
    {
      "name": "Leads",
      "description": "Leads are the people you send to TatvaCare. See [Leads](/leads) for how leads work.",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Activities",
      "description": "Activities are forms filled in against a lead, one task type each. See [Activities](/activities).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Calls",
      "description": "Calls are phone calls logged against a lead. See [Calls](/calls).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Notes",
      "description": "Notes are free text added to a lead. See [Notes](/notes).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Files",
      "description": "Files are documents attached to a lead, or to one of its activities or notes. See [Files](/files).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Deals",
      "description": "A deal is the sale the CRM records when a lead converts. See [Deals](/deals).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Tickets",
      "description": "Tickets are support requests raised with TatvaCare. See [Tickets](/tickets).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Ticket comments",
      "description": "Ticket comments are messages added to a ticket. See [Ticket comments](/ticket-comments).",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Async bulk jobs",
      "description": "Bulk jobs load thousands of records in the background. See [Async bulk jobs](/async-bulk).",
      "x-zudoku-collapsed": true
    }
  ],
  "components": {
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The lead's unique ID. The CRM creates it, so don't send it on a create.",
            "example": "a7f3c9e12b"
          },
          "first_name": {
            "type": "string",
            "description": "First name. If it is unknown, `(no name)` is filled in when it is omitted on create."
          },
          "last_name": {
            "type": "string",
            "description": "Last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "The lead's phone number in E.164 format, such as `+919900000000`. With your product line and group, it identifies the lead. See [Phone format](/conventions#phone-format).",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164, same as `mobile_no`."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164, same as `mobile_no`."
          },
          "status": {
            "type": "string",
            "description": "The lead's status. The CRM sets a default on create. If you send it on every sync, you overwrite the status the CRM has moved to. Read the values from `lead_schema`.",
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Read the allowed values from `lead_schema`."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Set by the CRM when it assigns the lead. A value you send is ignored.",
            "readOnly": true
          },
          "lost_reason": {
            "type": "string",
            "description": "Required when `status` is `Junk` or `Unqualified`. Read the allowed values from `lead_schema`."
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "description": "The product line of TatvaCare. Your key sets it, so you don't send it."
          },
          "custom_group": {
            "type": "string",
            "description": "The group within the product line. Your key sets it, so you don't send it."
          },
          "custom_current_program": {
            "type": "string",
            "description": "The lead's current program. Changing it moves the same lead to the new program. The allowed values are in `routing.allowed_programs` from `lead_schema`."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "The lead's previous program if it transitioned. Records the last switch only."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "The product line the lead first entered through. Captured once and never updated."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated. Deprecated for new writes; use `source` instead."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External identifier from the source system."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy migration identifier. Not populated for new leads."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy migration lead number."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "The ID of the campaign or form submission the lead came from."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Age in years. Caller-provided; not derived from the date of birth."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Age bucket (for example `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State or region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to the lead (for example Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Job title."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "Plan details, such as the plan, subscription, program, duration, and payment. One object per row, matched by `custom_plan_assigned_date`. See [Sections](/discover-schema#sections)."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Lab values, vitals, conditions, and scores. One object per row, matched by `report_date`. See [Sections](/discover-schema#sections)."
          },
          "custom_screening_answers": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ScreeningAnswer"
            },
            "description": "Answers to form questions, as question-and-answer pairs, if your key can use this section. A changed answer is added, and earlier answers are kept. See [Sections](/discover-schema#sections)."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "The care team: coach, relationship manager, therapist, doctor, and hospital. One object, merged into the lead's single row. See [Sections](/discover-schema#sections)."
          },
          "custom_acquisition_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/AcquisitionProfile"
            },
            "description": "How and when the lead was acquired: campaign, UTM parameters, and funnel dates. One object per row, matched by `touch_at`. See [Sections](/discover-schema#sections)."
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "description": "The plans bought, with prices. One object per row, matched by `custom_start_date`. Rows sent before the lead converts are copied onto its deal. See [Sections](/discover-schema#sections)."
          },
          "custom_drug_program_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/DrugProgramProfile"
            },
            "description": "The drug program, one row per cycle: indication, dosage, prescription, and order. One object per row, matched by `cycle_date`. See [Sections](/discover-schema#sections)."
          },
          "custom_lead_activity_metrics": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LeadActivityMetrics"
            },
            "description": "Activity counts and last-activity times for the lead. One object, merged into the lead's single row. See [Sections](/discover-schema#sections)."
          },
          "custom_address_line_1": {
            "type": "string",
            "description": "The first line of the person's address."
          },
          "custom_address_line_2": {
            "type": "string",
            "description": "The second line of the person's address."
          },
          "custom_country": {
            "type": "string",
            "description": "Country. Read the allowed values from `lead_schema`."
          },
          "custom_uhid_mrd": {
            "type": "string",
            "description": "The person's hospital record number in the source system."
          },
          "custom_whatsapp_opt_out": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "default": 0,
            "description": "`1` when the person has asked not to get WhatsApp messages. No message is sent while it's set."
          },
          "custom_whatsapp_temp": {
            "type": "string",
            "description": "The WhatsApp number to use when it differs from `mobile_no`."
          },
          "custom_doctor_id": {
            "type": "string",
            "description": "The doctor's identifier in the source system."
          },
          "custom_doctor_speciality": {
            "type": "string",
            "description": "The doctor's speciality."
          },
          "custom_doctor_age": {
            "type": "string",
            "description": "The doctor's age band (for example `Less than 35`, `35 to 45`, `45 to 60`). Read the allowed values from `lead_schema`."
          },
          "custom_mr_name": {
            "type": "string",
            "description": "The medical representative who owns the relationship."
          },
          "custom_clinic_or_hospital_name": {
            "type": "string",
            "description": "Name of the clinic or hospital the doctor practises at."
          },
          "custom_clinic_type": {
            "type": "string",
            "description": "Clinic type. Read the allowed values from `lead_schema`."
          },
          "custom_type_of_clinic": {
            "type": "string",
            "description": "Clinic classification (for example `Uniclinic`, `Main Clinic`, `Hospital`, `Polyclinic`). Read the allowed values from `lead_schema`."
          },
          "custom_location_strata": {
            "type": "string",
            "enum": [
              "Moderate Location",
              "Posh Location",
              "Low income Location"
            ],
            "description": "The catchment the clinic sits in."
          },
          "custom_per_day_opd_size": {
            "type": "integer",
            "description": "How many people the clinic sees in a day."
          },
          "custom_clinic_latitude": {
            "type": "number",
            "readOnly": true,
            "description": "The clinic's latitude, set by the CRM from its address. A value you send is ignored."
          },
          "custom_clinic_longitude": {
            "type": "number",
            "readOnly": true,
            "description": "The clinic's longitude, set by the CRM from its address. A value you send is ignored."
          },
          "custom_substage": {
            "type": "string",
            "description": "The lead's sub-stage, which sits under its stage. Read the allowed values from `lead_schema`."
          },
          "custom_lead_temperature": {
            "type": "string",
            "enum": [
              "Hot",
              "Cold"
            ],
            "description": "How warm the lead is."
          },
          "custom_order_value": {
            "type": "number",
            "description": "Value of the order placed, in rupees."
          },
          "custom_sales_groups": {
            "type": "string",
            "description": "The sales grouping the lead is reported under."
          },
          "custom_notes": {
            "type": "string",
            "description": "Free-text notes."
          },
          "custom_remarks": {
            "type": "string",
            "description": "Free-text remarks."
          },
          "website": {
            "type": "string",
            "description": "Website."
          },
          "facebook_form_id": {
            "type": "string",
            "description": "The Facebook lead form the lead was submitted through. Set by the Facebook sync; a partner sends it only when replaying that source."
          },
          "facebook_lead_id": {
            "type": "string",
            "description": "Facebook's own ID for the form submission. Set by the Facebook sync."
          },
          "custom_zoho_id": {
            "type": "string",
            "description": "Legacy Zoho identifier. Not populated for new leads."
          },
          "custom_lsq_modified_by": {
            "type": "string",
            "description": "Legacy migration identifier of the user who last changed the record in LeadSquared. Not populated for new leads."
          },
          "custom_lsq_modified_by_name": {
            "type": "string",
            "description": "Legacy migration name of the user who last changed the record in LeadSquared. Not populated for new leads."
          },
          "owner": {
            "type": "string",
            "format": "email",
            "readOnly": true,
            "description": "The account that created the lead. Set by the CRM."
          },
          "lead_name": {
            "type": "string",
            "description": "The full name, built from `first_name` and `last_name`. Set by the CRM.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "description": "When the lead was created, as `YYYY-MM-DD HH:MM:SS` in IST. Set by the CRM.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "description": "When the lead was last changed, as `YYYY-MM-DD HH:MM:SS` in IST. Use it to sync changes.",
            "readOnly": true
          }
        }
      },
      "PlanProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM."
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "LabProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM."
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "ScreeningAnswer": {
        "type": "object",
        "required": [
          "question"
        ],
        "properties": {
          "question": {
            "type": "string",
            "description": "Your own ID for the question, such as `condition_managing`. Keep it the same for good: the CRM uses it to match answers to the same question.",
            "example": "condition_managing"
          },
          "label": {
            "type": "string",
            "description": "The question as the person saw it. You can reword it at any time without splitting the answer history.",
            "example": "Which condition are you managing?"
          },
          "value": {
            "example": "Type 2 Diabetes",
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            ]
          },
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM.",
            "readOnly": true
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM."
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          }
        }
      },
      "LeadUpdateRequest": {
        "type": "object",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "The `name` of the lead to update. Send this or `mobile_no`.",
                "example": "a7f3c9e12b"
              }
            }
          }
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          }
        }
      },
      "PartnerError": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Always `error` on a failure."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "validation_error",
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "conflict",
                  "duplicate",
                  "cannot_delete",
                  "write_conflict",
                  "rate_limited",
                  "server_error",
                  "server_busy"
                ],
                "description": "Stable machine-readable code. Branch on this, not on the message text."
              },
              "message": {
                "type": "string",
                "description": "Human-readable message (safe to surface)."
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Present on some `validation_error`s, the field name(s) that failed."
              },
              "detail": {
                "type": "object",
                "description": "Extra facts for some errors, such as a file's scan result with `check`, `verdict`, and `file_name`. Read its keys by name. See [Errors](/partner-errors)."
              },
              "retry_after": {
                "type": "integer",
                "description": "The seconds to wait before you retry, when the API knows the wait. See [Rate limits](/rate-limits)."
              }
            }
          }
        }
      },
      "PartnerSchemaResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` when the call worked."
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ],
            "description": "`fetched` for a schema call."
          },
          "data": {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "lead",
                  "activity",
                  "file",
                  "call",
                  "note",
                  "ticket",
                  "comment"
                ]
              },
              "identity": {
                "type": "object",
                "description": "`addressed_by` and the addressing rule in prose."
              },
              "dedup": {
                "type": "string",
                "description": "How uniqueness is decided for this entity."
              },
              "bulk": {
                "type": "object",
                "description": "`max_per_call` (bulk writes), `max_per_read` (bulk reads), `payload_key` (the body key each bulk call reads), `list_page_max` and `list_page_default`."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySchemaField"
                },
                "description": "Field descriptors: fieldname, label, type, behavior, required."
              },
              "children": {
                "type": "object"
              },
              "routing": {
                "type": "object"
              },
              "list_filters": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The filters `*_get_bulk` accepts when you send no `names`."
              },
              "filter_note": {
                "type": "string",
                "description": "Where `list_filters` apply, and the date format."
              },
              "child_write": {
                "type": "string",
                "description": "How to write sections, as text."
              },
              "lead": {
                "type": "string",
                "description": "For `activity_schema`, the lead you asked about."
              },
              "task_types": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivityType"
                },
                "description": "For `activity_schema`, the task types the lead offers."
              },
              "values": {
                "type": "string",
                "description": "For `activity_schema`, how to send answers under `values`, as text."
              },
              "attribution": {
                "type": "string",
                "description": "How a record is linked to a lead, as text."
              },
              "bytes": {
                "type": "string",
                "description": "For `file_schema`, how to send a file's bytes, as text."
              },
              "screening": {
                "type": "string",
                "description": "For `file_schema`, how files are scanned, as text."
              },
              "privacy": {
                "type": "string",
                "description": "For `file_schema`, how files are kept private, as text."
              },
              "target": {
                "type": "string",
                "description": "For `file_schema`, where a file can be attached, as text."
              },
              "immutable": {
                "type": "string",
                "description": "For `file_schema`, how to replace a file, as text."
              }
            },
            "required": [
              "entity",
              "identity",
              "dedup",
              "bulk"
            ]
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "PartnerBulkResultEntry": {
        "type": "object",
        "properties": {
          "index": {
            "type": "integer",
            "description": "0-based position in the request array (results are input-ordered)."
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ],
            "description": "`success` or `error`, for this record."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "Present on a successful row."
          },
          "data": {
            "type": "object",
            "description": "The record, when this record succeeded."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "The field name(s) that failed, when the refusal is about a named input."
              },
              "detail": {
                "type": "object",
                "description": "The structured verdict of the check that refused this row, identical in shape to `PartnerError.error.detail`."
              }
            }
          }
        },
        "required": [
          "index",
          "status"
        ]
      },
      "PartnerBulkResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` when the call ran. Some records can still have failed."
          },
          "summary": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Records in the request."
              },
              "succeeded": {
                "type": "integer",
                "description": "Records that succeeded."
              },
              "failed": {
                "type": "integer",
                "description": "Records that failed."
              }
            },
            "required": [
              "total",
              "succeeded",
              "failed"
            ]
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerBulkResultEntry"
            },
            "description": "The result for each record, in the order you sent them."
          },
          "paging": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Records that match the filters."
              },
              "count": {
                "type": "integer",
                "description": "Records in this page."
              },
              "offset": {
                "type": "integer",
                "description": "Records skipped before this page."
              },
              "limit": {
                "type": "integer",
                "description": "The page size used."
              },
              "has_more": {
                "type": "boolean",
                "description": "`true` if another page follows."
              }
            }
          }
        },
        "required": [
          "status",
          "summary",
          "results"
        ]
      },
      "ActivitySchemaField": {
        "type": "object",
        "required": [
          "fieldname",
          "label",
          "type",
          "behavior"
        ],
        "properties": {
          "fieldname": {
            "type": "string",
            "description": "The field's key in `values`."
          },
          "label": {
            "type": "string",
            "description": "The field's display name."
          },
          "type": {
            "type": "string",
            "description": "The field's type, such as `Data`, `Select`, `Link`, or `Date`."
          },
          "behavior": {
            "type": "string",
            "enum": [
              "REQUIRED",
              "OPTIONAL",
              "IMMUTABLE",
              "OUTPUT_ONLY"
            ],
            "description": "`REQUIRED`, `OPTIONAL`, `IMMUTABLE` (send it only on create), or `OUTPUT_ONLY` (never send it)."
          },
          "allowed_values": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "description": "The values you can send, for a field with a fixed list."
          },
          "source": {
            "type": "string",
            "description": "`activity` for an answer to the form. `lead` for a value the form shows from the lead."
          },
          "conditional": {
            "type": "boolean",
            "description": "`true` when the field isn't always on the form."
          },
          "shown_when": {
            "type": "object"
          },
          "required_when": {
            "type": "object"
          },
          "controlled_by": {
            "type": "string",
            "description": "The field whose answer decides this field's allowed values."
          }
        }
      },
      "ActivityType": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The task type's unique ID. Send it, or its `label`, as `task_type`.",
            "example": "Product Line A::Group A::Program A::Follow Up Call"
          },
          "is_logged_complete": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "`1` when an activity of this task type is saved as `Done`."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivitySchemaField"
            },
            "description": "The task type's fields. Present when you ask for one task type."
          },
          "label": {
            "type": "string",
            "description": "The task type's display name."
          },
          "field_count": {
            "type": "integer",
            "description": "How many fields the task type has. Present when you don't ask for one task type."
          }
        }
      },
      "Activity": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The activity's unique ID. Use it to read, update, or delete the activity.",
            "example": "1024"
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the lead the activity belongs to.",
            "example": "a7f3c9e12b"
          },
          "task_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "The task type's label.",
            "example": "Follow Up Call"
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "description": "`Todo` or `Done`. An activity whose task type has `is_logged_complete` set to `1` is `Done` when saved."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "values": {
            "type": [
              "object",
              "null"
            ],
            "description": "The answers, keyed by `fieldname`. Blank answers are left out."
          },
          "creation": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record was created, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          },
          "modified": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record last changed, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          }
        }
      },
      "ActivityUpsertRequest": {
        "type": "object",
        "properties": {
          "lead": {
            "type": "string",
            "description": "The lead's `name`. Send it or `mobile_no` when you create an activity.",
            "example": "a7f3c9e12b"
          },
          "mobile_no": {
            "type": "string",
            "description": "The lead's phone number in E.164 format, such as `+919900000000`. Send it instead of `lead`.",
            "example": "+919900000000"
          },
          "task_type": {
            "type": "string",
            "description": "The task type's `name` or `label` from `activity_schema`. Required when you create an activity.",
            "example": "Follow Up Call"
          },
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "values": {
            "type": "object",
            "description": "The answers, keyed by `fieldname` from `activity_schema`. On update, send only what changed."
          },
          "creation": {
            "type": "string",
            "description": "When the activity happened, as `YYYY-MM-DD HH:MM:SS` in IST. Use it to load past activities. Ignored on update."
          },
          "name": {
            "type": "string",
            "description": "The record's `name`. Required when you update it."
          }
        }
      },
      "File": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The file's unique ID. Use it to read or delete the file."
          },
          "file_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your label for the kind of document, as you sent it."
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "filename": {
            "type": [
              "string",
              "null"
            ],
            "description": "Original file name."
          },
          "file_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "A signed link to the file. Open it without an `Authorization` header, before `expires_at`."
          },
          "expires_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When `file_url` stops working (UTC). Read the file again by `name` for a fresh link."
          },
          "size": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The file's size in bytes, or null if unrecorded."
          },
          "is_private": {
            "type": [
              "boolean",
              "null"
            ],
            "description": "Always `true`, files attached via this API are private by design."
          },
          "attached_to": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "lead",
              "activity",
              "note"
            ],
            "description": "What the file hangs off, in the same words `file_attach` accepts."
          },
          "attached_to_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the lead, activity, or note the file is attached to."
          },
          "creation": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record was created, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          },
          "modified": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record last changed, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          }
        }
      },
      "FileAttachRequest": {
        "type": "object",
        "properties": {
          "lead": {
            "type": "string",
            "description": "The lead's `name`. Send it or `mobile_no`.",
            "example": "a7f3c9e12b"
          },
          "mobile_no": {
            "type": "string",
            "description": "The lead's phone number in E.164 format, such as `+919900000000`. Send it instead of `lead`.",
            "example": "9000000001"
          },
          "activity": {
            "type": "string",
            "description": "The `name` of an activity on the same lead, to attach the file to it instead of the lead."
          },
          "note": {
            "type": "string",
            "description": "The `name` of a note on the same lead, to attach the file to it instead of the lead. Send `activity` or `note`, not both."
          },
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "file_type": {
            "type": "string",
            "description": "Your own label for the kind of document, such as `Lab Report`."
          },
          "filename": {
            "type": "string",
            "description": "The file's name, with its real extension, such as `report.pdf`."
          },
          "file_url": {
            "type": "string",
            "description": "A public `http` or `https` link the API downloads the file from. Send this or `content_base64`."
          },
          "content_base64": {
            "type": "string",
            "description": "The file's bytes, base64-encoded. Send it or `file_url`."
          }
        },
        "required": [
          "filename"
        ]
      },
      "Call": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The call's unique ID. Use it to read, update, or delete the call.",
            "example": "PARTNER-3f9a1c7e2b"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the lead the call is linked to. `null` when no single lead matched. See [Calls](/calls#identity).",
            "example": "a7f3c9e12b"
          },
          "direction": {
            "type": [
              "string",
              "null"
            ],
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "description": "`Inbound` or `Outbound`."
          },
          "from_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "The number that made the call."
          },
          "to_number": {
            "type": [
              "string",
              "null"
            ],
            "description": "The number that received the call."
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "description": "The call's outcome, such as `Completed`, `No Answer`, or `Busy`."
          },
          "duration": {
            "type": [
              "integer",
              "null"
            ],
            "description": "The call's length, in seconds."
          },
          "recording_url": {
            "type": [
              "string",
              "null"
            ],
            "description": "A link to the call's recording."
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the call started, as `YYYY-MM-DD HH:MM:SS` in IST."
          },
          "creation": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record was created, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          },
          "modified": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record last changed, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          }
        }
      },
      "CallUpsertRequest": {
        "type": "object",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "description": "`Inbound` or `Outbound`. Required when you create a call."
          },
          "lead": {
            "type": "string",
            "description": "The lead's `name`. Send it, or `mobile_no`, to link the call to the lead.",
            "example": "a7f3c9e12b"
          },
          "mobile_no": {
            "type": "string",
            "description": "The lead's phone number in E.164 format, such as `+919900000000`. Send it instead of `lead`.",
            "example": "+919900000000"
          },
          "from_number": {
            "type": "string",
            "description": "The number that made the call. Required when you create a call. For an inbound call without `lead`, the CRM finds the lead by this number."
          },
          "to_number": {
            "type": "string",
            "description": "The number that received the call. Required when you create a call. For an outbound call without `lead`, the CRM finds the lead by this number."
          },
          "status": {
            "type": "string",
            "description": "The call's outcome. `call_schema` lists the allowed values. If you leave it out on create, the CRM sets `Completed`."
          },
          "duration": {
            "type": "integer",
            "description": "The call's length, in seconds."
          },
          "recording_url": {
            "type": "string",
            "description": "A link to the call's recording. The API doesn't accept the audio file itself."
          },
          "started_at": {
            "type": "string",
            "description": "When the call started, as `YYYY-MM-DD HH:MM:SS` in IST."
          },
          "name": {
            "type": "string",
            "description": "The record's `name`. Required when you update it."
          }
        }
      },
      "BulkNamesRequest": {
        "type": "object",
        "required": [
          "names"
        ],
        "properties": {
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 25,
            "description": "The records' `name`s. Up to 25."
          }
        }
      },
      "ActivityUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/ActivityUpsertRequest"
            },
            "description": "Each entry carries the activity's `name` plus the fields to change."
          }
        }
      },
      "CallUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/CallUpsertRequest"
            },
            "description": "Each entry carries the call's `name` plus the fields to change."
          }
        }
      },
      "Note": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The note's unique ID. Use it to read, update, or delete the note.",
            "example": "n4b8c2d6e1"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the lead the note belongs to.",
            "example": "a7f3c9e12b"
          },
          "title": {
            "type": [
              "string",
              "null"
            ],
            "description": "A short title. If you don't send one, the CRM sets `Note added on <date>`, or `Note`."
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "The note's text, as HTML. The CRM removes unsafe HTML when it saves the note."
          },
          "creation": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record was created, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          },
          "modified": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record last changed, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          }
        }
      },
      "NoteUpsertRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The note's `name`. Required when you update it."
          },
          "lead": {
            "type": "string",
            "description": "The `name` of the lead the note belongs to. Required unless you send `mobile_no`."
          },
          "mobile_no": {
            "type": "string",
            "description": "The lead's phone number in E.164 format, such as `+919900000000`. Send it instead of `lead`.",
            "example": "+919900000000"
          },
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "title": {
            "type": "string",
            "description": "A short title, up to 140 characters. If you don't send one, the CRM sets `Note added on <date>`, or `Note`."
          },
          "content": {
            "type": "string",
            "description": "The note's text, as HTML or plain text. The CRM removes unsafe HTML. Required when you create a note."
          },
          "creation": {
            "type": "string",
            "description": "When the note was written, as `YYYY-MM-DD HH:MM:SS` in IST. Use it to load past notes."
          }
        }
      },
      "NoteUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/NoteUpsertRequest"
            },
            "description": "Each entry carries the note's `name` plus the fields to change."
          }
        }
      },
      "BulkJob": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The job's `job_id`."
          },
          "partner": {
            "type": "string",
            "description": "The token owner the job runs as."
          },
          "status": {
            "type": "string",
            "enum": [
              "Open",
              "UploadComplete",
              "InProgress",
              "JobComplete",
              "Failed",
              "Aborted"
            ],
            "description": "The job's state (Salesforce Bulk API 2.0 lingo)."
          },
          "operation": {
            "type": "string",
            "description": "The create operation the job performs."
          },
          "total": {
            "type": "integer",
            "description": "Records the job will process (set once the file is parsed)."
          },
          "processed": {
            "type": "integer",
            "description": "Records processed so far."
          },
          "succeeded": {
            "type": "integer",
            "description": "Records created or merged."
          },
          "failed": {
            "type": "integer",
            "description": "Records that failed validation."
          },
          "error_summary": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why the whole job failed, when it did not complete."
          },
          "submitted_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the job was accepted."
          },
          "started_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the worker began draining it."
          },
          "finished_at": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the job reached a terminal state."
          }
        }
      },
      "BulkJobResultEntry": {
        "type": "object",
        "properties": {
          "record_index": {
            "type": "integer",
            "description": "The record's position in what you sent, starting at `0`."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "merged",
              "failed"
            ],
            "description": "`created`, `merged` (a lead with this phone number already existed and was updated), or `failed`."
          },
          "record_name": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the lead or activity created or updated, when the record succeeded."
          },
          "error_code": {
            "type": [
              "string",
              "null"
            ],
            "description": "The error code, when the record failed."
          },
          "error_message": {
            "type": [
              "string",
              "null"
            ],
            "description": "Why the record failed."
          },
          "error_fields": {
            "type": [
              "array",
              "null"
            ],
            "items": {
              "type": "string"
            },
            "description": "The fields that caused the failure, when the API can name them."
          },
          "error_detail": {
            "type": [
              "object",
              "null"
            ],
            "description": "Extra facts about the failure, such as a file's scan result, when there are any."
          }
        }
      },
      "BulkJobSubmitRequest": {
        "type": "object",
        "required": [
          "operation"
        ],
        "properties": {
          "operation": {
            "type": "string",
            "enum": [
              "lead_create",
              "activity_create"
            ],
            "description": "What to do with every record: `lead_create` or `activity_create`."
          },
          "format": {
            "type": "string",
            "enum": [
              "inline",
              "csv",
              "jsonl",
              "xlsx"
            ],
            "default": "inline",
            "description": "`inline` sends the records in `records`. `jsonl`, `csv`, and `xlsx` send a file. `csv` works for leads only."
          },
          "records": {
            "type": "array",
            "items": {
              "type": "object"
            },
            "description": "The records, for an `inline` job. Each record takes the same shape as the matching create call."
          },
          "content_base64": {
            "type": "string",
            "description": "The file, base64-encoded, for a `csv`, `jsonl`, or `xlsx` job. You can also upload the file as multipart."
          }
        }
      },
      "BulkJobActionResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "success."
          },
          "action": {
            "type": "string",
            "description": "created or updated."
          },
          "data": {
            "type": "object",
            "properties": {
              "job_id": {
                "type": "string",
                "description": "The job's ID. Use it to check the job, read its results, or cancel it."
              },
              "status": {
                "type": "string",
                "description": "The job's state right now."
              }
            }
          }
        }
      },
      "BulkJobStatusResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "success."
          },
          "action": {
            "type": "string",
            "description": "fetched."
          },
          "data": {
            "$ref": "#/components/schemas/BulkJob"
          }
        }
      },
      "BulkJobResultsResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "description": "success."
          },
          "action": {
            "type": "string",
            "description": "fetched."
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total result rows for the job."
              },
              "count": {
                "type": "integer",
                "description": "Rows on this page."
              },
              "offset": {
                "type": "integer",
                "description": "This page's start offset."
              },
              "limit": {
                "type": "integer",
                "description": "This page's size."
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether another page follows."
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BulkJobResultEntry"
                },
                "description": "The per-record outcomes."
              }
            }
          }
        }
      },
      "DealUpdateRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The lead's `name`. Send it, `lead`, or `mobile_no`."
          },
          "lead": {
            "type": "string",
            "description": "The lead's `name`, the same as `name`."
          },
          "mobile_no": {
            "type": "string",
            "description": "The lead's phone number in E.164 format. Send it instead of `name`. See [Phone format](/conventions#phone-format).",
            "example": "+919900000000"
          },
          "products": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Product"
            },
            "description": "The product rows to add or change, matched by `custom_start_date`. Always send it: a row without it is added as a new row. See [Sections](/discover-schema#sections)."
          }
        }
      },
      "AcquisitionProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM.",
            "readOnly": true
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "Product": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM.",
            "readOnly": true
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "DrugProgramProfile": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM.",
            "readOnly": true
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "LeadActivityMetrics": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's ID. Set by the CRM.",
            "readOnly": true
          }
        },
        "additionalProperties": {
          "$ref": "#/components/schemas/FieldValue"
        }
      },
      "Ticket": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The ticket's unique ID. Use it to read, update, or delete the ticket, and to add comments.",
            "example": "1042"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "subject": {
            "type": [
              "string",
              "null"
            ],
            "description": "One line naming the issue."
          },
          "description": {
            "type": [
              "string",
              "null"
            ],
            "description": "The issue in full. HTML is accepted."
          },
          "status": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ticket's status, such as `Open` or `Resolved`."
          },
          "priority": {
            "type": [
              "string",
              "null"
            ],
            "description": "How urgent the ticket is, such as `Medium` or `High`."
          },
          "ticket_type": {
            "type": [
              "string",
              "null"
            ],
            "description": "The kind of request."
          },
          "agent_group": {
            "type": [
              "string",
              "null"
            ],
            "description": "The support team that handles the ticket."
          },
          "contact": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the person's contact, found or created from `mobile_no`."
          },
          "email": {
            "type": [
              "string",
              "null"
            ],
            "description": "Where replies go. If none was sent, the user your key belongs to."
          },
          "lead": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the lead this ticket is linked to, if any."
          },
          "program": {
            "type": [
              "string",
              "null"
            ],
            "description": "The ticket's program, set the same way as a lead's. See [Programs](/concepts#programs)."
          },
          "creation": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record was created, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          },
          "modified": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record last changed, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          }
        }
      },
      "TicketUpsertRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The ticket's `name`. Required when you update it."
          },
          "subject": {
            "type": "string",
            "description": "A short summary of the request. Required when you create a ticket."
          },
          "description": {
            "type": "string",
            "description": "The issue in full. HTML is accepted."
          },
          "mobile_no": {
            "type": "string",
            "description": "The phone number of the person raising the ticket, in E.164 format. The CRM finds their contact, or creates one. Required when you create a ticket.",
            "example": "+919900000000"
          },
          "contact_name": {
            "type": "string",
            "description": "The name for a contact created by this call. Ignored when the number already has one."
          },
          "email": {
            "type": "string",
            "description": "Where replies go. If you don't send one, the ticket records the user your key belongs to."
          },
          "lead": {
            "type": "string",
            "description": "The `name` of a lead to link the ticket to."
          },
          "program": {
            "type": "string",
            "description": "The ticket's program. See [Programs](/concepts#programs)."
          },
          "ticket_type": {
            "type": "string",
            "description": "The kind of request. `ticket_schema` lists the allowed values."
          },
          "priority": {
            "type": "string",
            "description": "How urgent the ticket is. `ticket_schema` lists the allowed values."
          },
          "status": {
            "type": "string",
            "description": "The ticket's status. `ticket_schema` lists the allowed values."
          },
          "agent_group": {
            "type": "string",
            "description": "The support team. `ticket_schema` lists the allowed values."
          },
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          }
        }
      },
      "TicketUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/TicketUpsertRequest"
            },
            "description": "Each entry carries the ticket's `name` plus the fields to change."
          }
        }
      },
      "Comment": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The comment's unique ID. Use it to read, update, or delete the comment.",
            "example": "m3k8p2x7qa"
          },
          "external_id": {
            "type": [
              "string",
              "null"
            ],
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          },
          "ticket": {
            "type": [
              "string",
              "null"
            ],
            "description": "The `name` of the ticket the comment is on.",
            "example": "1042"
          },
          "content": {
            "type": [
              "string",
              "null"
            ],
            "description": "The comment's text, as HTML."
          },
          "is_pinned": {
            "type": [
              "integer",
              "null"
            ],
            "description": "`1` when the comment is pinned to the top of the ticket."
          },
          "commented_by": {
            "type": [
              "string",
              "null"
            ],
            "description": "The user your key belongs to. Every comment you send shows it as the author."
          },
          "creation": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record was created, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          },
          "modified": {
            "type": [
              "string",
              "null"
            ],
            "description": "When the record last changed, as `YYYY-MM-DD HH:MM:SS.ffffff` in IST."
          }
        }
      },
      "CommentUpsertRequest": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "description": "The comment's `name`. Required when you update it."
          },
          "ticket": {
            "type": "string",
            "description": "The `name` of the ticket. Required when you create a comment."
          },
          "content": {
            "type": "string",
            "description": "The comment's text, as HTML or plain text. Required when you create a comment."
          },
          "is_pinned": {
            "type": "integer",
            "description": "`1` to pin the comment to the top of the ticket."
          },
          "external_id": {
            "type": "string",
            "description": "Your own label for this record. The CRM stores and returns it, but never uses it to find a record."
          }
        }
      },
      "CommentUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 25,
            "items": {
              "$ref": "#/components/schemas/CommentUpsertRequest"
            },
            "description": "Each entry carries the comment's `name` plus the fields to change."
          }
        }
      },
      "PartnerRecordResponse": {
        "type": "object",
        "required": [
          "status",
          "action",
          "data"
        ],
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` when the call worked."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "What happened: `created`, `updated`, `fetched`, or `deleted`."
          },
          "data": {
            "type": "object",
            "description": "The record, with every field your key can read. After a delete, only its `name`."
          }
        }
      },
      "PartnerListResponse": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` when the call worked."
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ],
            "description": "`fetched` for a list."
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "How many records match your filters, across all pages."
              },
              "count": {
                "type": "integer",
                "description": "How many records are on this page."
              },
              "offset": {
                "type": "integer",
                "description": "How many records were skipped before this page."
              },
              "limit": {
                "type": "integer",
                "description": "The page size: 20 by default, 200 at most."
              },
              "has_more": {
                "type": "boolean",
                "description": "`true` if there's another page."
              },
              "leads": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "The records on this page, from `lead_list`. Each lead has the fields your key can read."
              },
              "activities": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Activity"
                },
                "description": "The records on this page, from `activity_list`."
              },
              "calls": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Call"
                },
                "description": "The records on this page, from `call_list`."
              },
              "notes": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Note"
                },
                "description": "The records on this page, from `note_list`."
              },
              "files": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/File"
                },
                "description": "The records on this page, from `file_list`."
              },
              "tickets": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Ticket"
                },
                "description": "The records on this page, from `ticket_list`."
              },
              "comments": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/Comment"
                },
                "description": "The records on this page, from `comment_list`."
              }
            },
            "required": [
              "total",
              "count",
              "offset",
              "limit",
              "has_more"
            ]
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "FieldValue": {
        "type": [
          "string",
          "number",
          "boolean",
          "null",
          "array"
        ],
        "items": {
          "type": "string"
        },
        "description": "Any other field your key can use in this section. `lead_schema` lists them."
      },
      "BulkReadNamesRequest": {
        "type": "object",
        "properties": {
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 200,
            "description": "The records' `name`s. Up to 200. Leave it out to read by filters."
          }
        }
      },
      "ReadFilters": {
        "type": "object",
        "properties": {
          "created_after": {
            "type": "string",
            "description": "Only records created on or after this date or time, in IST.",
            "example": "2026-05-01"
          },
          "created_before": {
            "type": "string",
            "description": "Only records created on or before this date or time, in IST.",
            "example": "2026-06-01"
          },
          "updated_after": {
            "type": "string",
            "description": "Only records changed on or after this date or time, in IST. Use it to sync changes.",
            "example": "2026-05-01"
          },
          "updated_before": {
            "type": "string",
            "description": "Only records changed on or before this date or time, in IST.",
            "example": "2026-06-01"
          },
          "limit": {
            "type": "integer",
            "default": 20,
            "minimum": 1,
            "maximum": 200,
            "description": "Page size when you send filters: 20 by default, 200 at most.",
            "example": 200
          },
          "offset": {
            "type": "integer",
            "default": 0,
            "minimum": 0,
            "description": "How many records to skip when you send filters.",
            "example": 0
          }
        }
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "A new lead",
        "value": {
          "mobile_no": "+919900000000",
          "first_name": "Asha",
          "last_name": "Rao",
          "external_id": "LEAD-001"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "A lead with lab results",
        "value": {
          "mobile_no": "+919900000000",
          "first_name": "Asha",
          "last_name": "Rao",
          "external_id": "LEAD-001",
          "custom_lab_profile": [
            {
              "report_date": "2026-05-18",
              "hba1c": 7.2,
              "fbs": 138
            }
          ]
        }
      },
      "LeadSchemaResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "entity": "lead",
            "identity": {
              "addressed_by": "name",
              "note": "Address a record by the `name` a create returns; `external_id` is only your label; retry a create with an Idempotency-Key."
            },
            "dedup": "One lead per `mobile_no` in your product line and group; the same phone updates it, a new phone creates one.",
            "bulk": {
              "max_per_call": 25,
              "max_per_read": 200,
              "list_page_max": 200,
              "list_page_default": 20
            },
            "fields": [
              {
                "fieldname": "mobile_no",
                "label": "Mobile No.",
                "type": "Data",
                "behavior": "REQUIRED"
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "custom_dob",
                "label": "Date of Birth",
                "type": "Date",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "status",
                "label": "Status",
                "type": "Link",
                "behavior": "OPTIONAL",
                "allowed_values": [
                  "Option A",
                  "Option B",
                  "Option C"
                ]
              },
              {
                "fieldname": "creation",
                "label": "Created On",
                "type": "Datetime",
                "behavior": "OUTPUT_ONLY"
              }
            ],
            "children": {
              "custom_lab_profile": {
                "multi_row": true,
                "key_field": "report_date",
                "fields": [
                  {
                    "fieldname": "report_date",
                    "label": "Report Date",
                    "type": "Date",
                    "behavior": "OPTIONAL"
                  },
                  {
                    "fieldname": "custom_reading",
                    "label": "Reading",
                    "type": "Data",
                    "behavior": "OPTIONAL"
                  },
                  {
                    "fieldname": "custom_category",
                    "label": "Category",
                    "type": "Link",
                    "behavior": "OPTIONAL",
                    "allowed_values": [
                      "Option A",
                      "Option B"
                    ]
                  }
                ]
              }
            },
            "child_write": "Send a section as a JSON array; key_field adds or updates a row, unsent rows stay, `_delete: true` removes one.",
            "routing": {
              "mode": "none",
              "source": null,
              "vertical": "Product Line A",
              "group": "Group A",
              "program": null,
              "allowed_programs": [
                "Programme A",
                "Programme B"
              ],
              "program_required": false,
              "note": "Product line and group are fixed; this key uses no program."
            },
            "list_filters": [
              "status",
              "created_after",
              "created_before",
              "updated_after",
              "updated_before",
              "mobile_no"
            ],
            "filter_note": "list_filters work on lead_get_bulk without names or mobile_nos; dates are YYYY-MM-DD HH:MM:SS site time, a bare date is 00:00."
          }
        }
      },
      "LeadUpdateRequest": {
        "summary": "Change the status and a lab result",
        "value": {
          "name": "a7f3c9e12b",
          "status": "Contacted",
          "custom_lab_profile": [
            {
              "report_date": "2026-05-18",
              "hba1c": 6.9
            }
          ]
        }
      },
      "LeadUpdateResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "a7f3c9e12b",
            "first_name": "Asha",
            "last_name": "Rao",
            "mobile_no": "+919900000000",
            "status": "Contacted",
            "external_id": "LEAD-001",
            "source": "Source A",
            "custom_vertical": "Product Line A",
            "custom_group": "Group A",
            "custom_current_program": "Program A",
            "custom_lab_profile": [
              {
                "report_date": "2026-05-18",
                "hba1c": 6.9,
                "fbs": 138,
                "name": "r4k2m9x1qa"
              }
            ]
          }
        }
      },
      "LeadDeleteResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "deleted",
          "data": {
            "name": "c93e2f6a18"
          }
        }
      },
      "LeadCreateBulkRequest": {
        "summary": "Request",
        "value": {
          "leads": [
            {
              "mobile_no": "+919900000000",
              "first_name": "Asha",
              "last_name": "Rao",
              "external_id": "LEAD-001",
              "custom_lab_profile": [
                {
                  "report_date": "2026-05-18",
                  "hba1c": 7.2,
                  "fbs": 138
                }
              ]
            },
            {
              "mobile_no": "+919900000001",
              "first_name": "Ravi",
              "last_name": "Kumar",
              "external_id": "LEAD-002"
            }
          ]
        }
      },
      "LeadUpdateBulkRequest": {
        "summary": "Request",
        "value": {
          "updates": [
            {
              "name": "a7f3c9e12b",
              "status": "Contacted"
            },
            {
              "name": "c93e2f6a18",
              "custom_lab_profile": [
                {
                  "report_date": "2026-06-02",
                  "hba1c": 6.5,
                  "fbs": 112
                }
              ]
            }
          ]
        }
      },
      "LeadDeleteBulkRequest": {
        "summary": "Request",
        "value": {
          "names": [
            "c93e2f6a18",
            "a7f3c9e12b"
          ]
        }
      },
      "LeadGetBulkRequestNames": {
        "summary": "By name",
        "value": {
          "names": [
            "a7f3c9e12b",
            "f0e1d2c3b4"
          ]
        }
      },
      "LeadGetBulkRequestMobiles": {
        "summary": "By phone number",
        "value": {
          "mobile_nos": [
            "+919900000000",
            "+919900000001"
          ]
        }
      },
      "LeadListResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 2,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "leads": [
              {
                "name": "c93e2f6a18",
                "first_name": "Ravi",
                "last_name": "Kumar",
                "mobile_no": "+919900000001",
                "status": "New",
                "external_id": "LEAD-002",
                "source": "Source A",
                "custom_vertical": "Product Line A",
                "custom_group": "Group A",
                "custom_current_program": "Program A"
              },
              {
                "name": "a7f3c9e12b",
                "first_name": "Asha",
                "last_name": "Rao",
                "mobile_no": "+919900000000",
                "status": "Contacted",
                "external_id": "LEAD-001",
                "source": "Source A",
                "custom_vertical": "Product Line A",
                "custom_group": "Group A",
                "custom_current_program": "Program A"
              }
            ]
          }
        }
      },
      "ActivitySchemaResponse": {
        "summary": "All task types",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "entity": "activity",
            "identity": {
              "addressed_by": "name",
              "note": "Address a record by the `name` a create returns; `external_id` is only your label; retry a create with an Idempotency-Key."
            },
            "dedup": "None. Every POST creates a new activity and returns a new `name`. To retry safely, send an Idempotency-Key header. `external_id` does not deduplicate.",
            "bulk": {
              "max_per_call": 25,
              "max_per_read": 200,
              "payload_key": {
                "get": "names",
                "create": "activities",
                "update": "updates",
                "delete": "names"
              },
              "list_page_max": 200,
              "list_page_default": 20
            },
            "lead": "a7f3c9e12b",
            "task_types": [
              {
                "name": "Product Line A::Group A::Program A::Follow Up Call",
                "label": "Follow Up Call",
                "is_logged_complete": 1,
                "field_count": 4
              },
              {
                "name": "Product Line A::Group A::Program A::Welcome Call",
                "label": "Welcome Call",
                "is_logged_complete": 1,
                "field_count": 12
              }
            ],
            "values": "Answers are sent and read under `values`, keyed by the `fieldname`s of the task type. The task types and their fields depend on the lead's product line and group, so this endpoint is called for each lead instead of hardcoding a field list."
          }
        }
      },
      "ActivityCreateRequest": {
        "summary": "Request",
        "value": {
          "lead": "a7f3c9e12b",
          "task_type": "Follow Up Call",
          "external_id": "REF-2001",
          "values": {
            "outcome": "Callback",
            "callback_date": "2026-09-30",
            "remarks": "Asked for a call next week."
          }
        }
      },
      "ActivityCreateBulkRequest": {
        "summary": "Request",
        "value": {
          "activities": [
            {
              "lead": "a7f3c9e12b",
              "task_type": "Follow Up Call",
              "external_id": "REF-2001",
              "values": {
                "outcome": "Callback",
                "callback_date": "2026-09-30",
                "remarks": "Asked for a call next week."
              }
            },
            {
              "mobile_no": "+919900000000",
              "task_type": "Follow Up Call",
              "external_id": "REF-2002",
              "values": {
                "outcome": "Connected",
                "remarks": "Shared the plan details."
              }
            }
          ]
        }
      },
      "ActivityListResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 2,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "activities": [
              {
                "name": "1025",
                "lead": "a7f3c9e12b",
                "task_type": "Follow Up Call",
                "status": "Done",
                "external_id": "REF-2002",
                "values": {
                  "first_name": "Asha",
                  "outcome": "Connected",
                  "remarks": "Shared the plan details."
                }
              },
              {
                "name": "1024",
                "lead": "a7f3c9e12b",
                "task_type": "Follow Up Call",
                "status": "Done",
                "external_id": "REF-2001",
                "values": {
                  "first_name": "Asha",
                  "outcome": "Callback",
                  "callback_date": "2026-09-30",
                  "remarks": "Asked for a call next week."
                }
              }
            ]
          }
        }
      },
      "FileAttachRequestUrl": {
        "summary": "Using a file link",
        "value": {
          "lead": "a7f3c9e12b",
          "external_id": "REF-1001",
          "file_type": "Lab Report",
          "filename": "hba1c-2026-05.pdf",
          "file_url": "https://files.example.com/reports/hba1c-2026-05.pdf"
        }
      },
      "FileAttachRequestBase64": {
        "summary": "Using base64",
        "value": {
          "mobile_no": "+919900000000",
          "activity": "1024",
          "external_id": "REF-1002",
          "file_type": "Prescription",
          "filename": "rx.pdf",
          "content_base64": "JVBERi0xLjQK..."
        }
      },
      "FileAttachResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "c2dca7b4a6",
            "file_type": "Lab Report",
            "external_id": "REF-1001",
            "filename": "hba1c-2026-05.pdf",
            "file_url": "https://<storage-account>.blob.core.windows.net/<container>/crm/crm_lead/a7f3c9e12b/k2n7p4w9xq_hba1c_2026_05.pdf?se=2026-09-23T10%3A45%3A54Z&sp=r&sr=b&sig=<signature>",
            "expires_at": "2026-09-23T10:45:54Z",
            "size": 48213,
            "is_private": true,
            "attached_to": "lead",
            "attached_to_name": "a7f3c9e12b"
          }
        }
      },
      "FileListResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 2,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "files": [
              {
                "name": "4ee7510675",
                "file_type": "Prescription",
                "external_id": "REF-1002",
                "filename": "rx.pdf",
                "file_url": "https://<storage-account>.blob.core.windows.net/<container>/crm/crm_lead/a7f3c9e12b/m5t8r3y6ze_rx.pdf?se=2026-09-23T10%3A45%3A54Z&sp=r&sr=b&sig=<signature>",
                "expires_at": "2026-09-23T10:45:54Z",
                "size": 20480,
                "is_private": true,
                "attached_to": "activity",
                "attached_to_name": "1024"
              },
              {
                "name": "c2dca7b4a6",
                "file_type": "Lab Report",
                "external_id": "REF-1001",
                "filename": "hba1c-2026-05.pdf",
                "file_url": "https://<storage-account>.blob.core.windows.net/<container>/crm/crm_lead/a7f3c9e12b/k2n7p4w9xq_hba1c_2026_05.pdf?se=2026-09-23T10%3A45%3A54Z&sp=r&sr=b&sig=<signature>",
                "expires_at": "2026-09-23T10:45:54Z",
                "size": 48213,
                "is_private": true,
                "attached_to": "lead",
                "attached_to_name": "a7f3c9e12b"
              }
            ]
          }
        }
      },
      "FileAttachBulkRequest": {
        "summary": "Request",
        "value": {
          "files": [
            {
              "lead": "a7f3c9e12b",
              "external_id": "REF-1001",
              "file_type": "Lab Report",
              "filename": "hba1c-2026-05.pdf",
              "file_url": "https://files.example.com/reports/hba1c-2026-05.pdf"
            },
            {
              "mobile_no": "+919900000000",
              "activity": "1024",
              "external_id": "REF-1002",
              "file_type": "Prescription",
              "filename": "rx.pdf",
              "content_base64": "JVBERi0xLjQK..."
            }
          ]
        }
      },
      "CallCreateRequest": {
        "summary": "With a lead",
        "value": {
          "lead": "a7f3c9e12b",
          "external_id": "CALL-001",
          "direction": "Outbound",
          "from_number": "+919800000000",
          "to_number": "+919900000000",
          "status": "Completed",
          "duration": 180,
          "recording_url": "https://recordings.example.com/call-001.mp3",
          "started_at": "2026-09-20 10:30:00"
        }
      },
      "CallCreateRequestAttribute": {
        "summary": "Matched by phone number",
        "value": {
          "external_id": "CALL-002",
          "direction": "Inbound",
          "from_number": "+919900000000",
          "to_number": "+919800000000",
          "status": "No Answer",
          "duration": 0,
          "started_at": "2026-09-21 16:05:00"
        }
      },
      "CallCreateResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "PARTNER-3f9a1c7e2b",
            "external_id": "CALL-001",
            "lead": "a7f3c9e12b",
            "direction": "Outbound",
            "from_number": "+919800000000",
            "to_number": "+919900000000",
            "status": "Completed",
            "duration": 180,
            "recording_url": "https://recordings.example.com/call-001.mp3",
            "started_at": "2026-09-20 10:30:00"
          }
        }
      },
      "CallListResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 2,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "calls": [
              {
                "name": "PARTNER-8d2e6b4c1a",
                "external_id": "CALL-002",
                "lead": "a7f3c9e12b",
                "direction": "Inbound",
                "from_number": "+919900000000",
                "to_number": "+919800000000",
                "status": "No Answer",
                "duration": 0,
                "recording_url": null,
                "started_at": "2026-09-21 16:05:00"
              },
              {
                "name": "PARTNER-3f9a1c7e2b",
                "external_id": "CALL-001",
                "lead": "a7f3c9e12b",
                "direction": "Outbound",
                "from_number": "+919800000000",
                "to_number": "+919900000000",
                "status": "Completed",
                "duration": 180,
                "recording_url": "https://recordings.example.com/call-001.mp3",
                "started_at": "2026-09-20 10:30:00"
              }
            ]
          }
        }
      },
      "CallCreateBulkRequest": {
        "summary": "Request",
        "value": {
          "calls": [
            {
              "lead": "a7f3c9e12b",
              "external_id": "CALL-001",
              "direction": "Outbound",
              "from_number": "+919800000000",
              "to_number": "+919900000000",
              "status": "Completed",
              "duration": 180,
              "recording_url": "https://recordings.example.com/call-001.mp3",
              "started_at": "2026-09-20 10:30:00"
            },
            {
              "external_id": "CALL-002",
              "direction": "Inbound",
              "from_number": "+919900000000",
              "to_number": "+919800000000",
              "status": "No Answer",
              "duration": 0,
              "started_at": "2026-09-21 16:05:00"
            }
          ]
        }
      },
      "FileSchemaResponse": {
        "summary": "Response",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "entity": "file",
            "identity": {
              "addressed_by": "name",
              "note": "Address a record by the `name` a create returns; `external_id` is only your label; retry a create with an Idempotency-Key."
            },
            "dedup": "None. Every POST attaches a new file and returns a new `name`. To retry safely, send an Idempotency-Key header. `external_id` does not deduplicate.",
            "bulk": {
              "max_per_call": 5,
              "max_per_read": 200,
              "list_page_max": 200,
              "list_page_default": 20
            },
            "fields": [
              {
                "fieldname": "lead",
                "label": "Lead",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "mobile_no",
                "label": "Mobile No",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "activity",
                "label": "Activity",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "note",
                "label": "Note",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "external_id",
                "label": "External ID",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "file_type",
                "label": "File Type",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "filename",
                "label": "Filename",
                "type": "Data",
                "behavior": "REQUIRED"
              },
              {
                "fieldname": "file_url",
                "label": "File URL",
                "type": "Data",
                "behavior": "OPTIONAL"
              },
              {
                "fieldname": "content_base64",
                "label": "Content Base64",
                "type": "Data",
                "behavior": "OPTIONAL"
              }
            ],
            "bytes": "Send the bytes as a `file_url` the server downloads, or as `content_base64`. Send exactly one. The largest file the server downloads is 25 MB.",
[...]
