{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare CRM API",
    "version": "1.0.0",
    "description": "Reference for integrating with the TatvaCare CRM \u2014 the single source of truth for patient leads across every TatvaCare product line.\n\n## What this API does\n\nWrite leads (create / update / upsert / delete, singly or in bulk). Read leads. Discover at runtime exactly the fields you may send. Attach files. It's the systems door into the CRM \u2014 external systems put leads in and read state back, while internal teams work those leads in the CRM web app.\n\n## The shape\n\n```\n CRM Lead (one lead per patient \u00d7 product line + group)\n   \u251c\u2500\u2500 Plan Profile           \u2014 what plan / PSP / insurance / drug program / subscription\n   \u251c\u2500\u2500 Lab Profile            \u2014 lab values, vitals, conditions, scores\n   \u2514\u2500\u2500 Care & Providers       \u2014 coaches, RM, therapist, doctor, hospital\n```\n\nThe lead carries identity, contact, and routing fields. The three children carry concern-specific data. A patient typically has 1\u20133 child rows populated. Multi-program is normal.\n\n**Lead grain:** a lead is unique per `mobile_no` + `custom_vertical` (product line) + `custom_group`. The same phone number on a *different* product line or group is a **separate** lead \u2014 one patient can own several leads, one per line they're enrolled in. Re-sending the same (phone + line + group) trio updates that one lead; it never duplicates.\n\n## Where to start\n\n- **New here?** Read [Welcome](/docs/welcome), then [Authentication](/docs/api/authentication), then the [Quickstart](/docs/quickstart).\n- **New to Frappe?** Start with [What's a DocType?](/docs/frappe-doctypes) \u2014 the concepts this API is built on, in plain English.\n- **Already have a key?** Jump to [Create a lead](/docs/api/leads).\n- **Need to know what fields you may send?** Call `lead_schema` \u2014 it returns exactly the fields YOUR key may send/read (see [Schema](/docs/api/schema)).\n\nEvery endpoint is tested live in the **API Reference** \u2014 open an endpoint, paste your key, and hit **Send**.",
    "contact": {
      "name": "TatvaCare CRM Ops",
      "email": "pareekshith.bompally@tatvacare.in"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Getting started",
      "tags": [
        "Authentication"
      ]
    },
    {
      "name": "Resources",
      "tags": [
        "Partner Lead API",
        "Leads",
        "Files"
      ]
    },
    {
      "name": "Automations",
      "tags": [
        "Automations"
      ]
    },
    {
      "name": "Channels",
      "tags": [
        "WhatsApp",
        "Telephony"
      ]
    },
    {
      "name": "Administration",
      "tags": [
        "Users",
        "Roles and Permissions",
        "Jobs"
      ]
    },
    {
      "name": "Reference",
      "tags": [
        "Reference Data",
        "Schema",
        "Tags",
        "Errors & Logs"
      ]
    }
  ],
  "tags": [
    {
      "name": "Partner Lead API",
      "description": "## The partner lead API\n\nOne set of gated methods under `/api/method/tatva_connect.api.partner.<fn>` is the **entire surface** for partners \u2014 raw `/api/resource/CRM Lead` returns **403** for partner keys. Internal System Manager keys may still use raw REST, but these methods are the supported, idempotent path for everyone.\n\nA **partner** key has routing **forced** from its `Lead API Mapping` row, is **scoped** to its own line, and may only use its **Allowed Fields** subset. A **trusted internal** key sends routing in the body, sees all lines, and uses the full catalog. Both call the *same* endpoints \u2014 the difference is config on the key, not different code.\n\nCall `lead_schema` first to discover exactly what YOUR key may send/read."
    },
    {
      "name": "Authentication",
      "description": "## How to authenticate\n\nEvery request needs an `Authorization` header. Format:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nThe word `token` is **literal lowercase**, followed by a single space, then `api_key`, a colon `:`, then `api_secret`. No `Bearer`, no quotes, no JWT.\n\nExample (placeholder \u2014 not a real key):\n\n```\nAuthorization: token 000000000000000:000000000000000\n```\n\n### Two kinds of key\n\nThere are exactly two caller types, and which one you are decides how you authenticate and what you can do:\n\n| Caller | Who | Routing | Field access | Scope |\n|---|---|---|---|---|\n| **Trusted internal** | First-party systems (e.g. MyTatvaCore). Key user has the **System Manager** role. | You **send** routing (`custom_vertical` / `custom_group` / `custom_current_program` / `source`) in the body. | Full catalog. | All leads. |\n| **External partner** | Third parties (insurers, referral partners). Key user is **role-less** + has one `Lead API Mapping` row. | Routing is **forced server-side** from your mapping row \u2014 any routing you send is ignored. | Only the fields ticked in your mapping's **Allowed Fields** grid (empty grid = full catalog). | Only leads on YOUR line (your vertical + group). |\n\nBoth call the **same** partner endpoints (`/api/method/tatva_connect.api.partner.*`). The difference is configuration on your key, not different code.\n\n### How to get a key\n\n1. **Email** `pareekshith.bompally@tatvacare.in` with: integration name, who owns it, expected request volume, and which fields you need to send/read.\n2. **You receive** a dedicated user (e.g. `mytatva-writer@tatvacare.in`) plus its `api_key:api_secret` pair.\n   - **Internal** integrations get the **System Manager** role (so they may send routing and use the full field catalog).\n   - **External partners** get a **role-less** user plus one **`Lead API Mapping`** row that pins their forced routing (`source` / `vertical` / `group` / `program`) and their **Allowed Fields** subset. Your `source` value is created for you. You cannot move a lead to another line, see other lines' leads, see other doctypes, or send/read any field outside your grid.\n3. **Store** the pair as one environment variable: `FRAPPE_API_TOKEN=\"000000000000000:000000000000000\"`. Treat it like a database password.\n\n### Discover what you can do \u2014 call `lead_schema`\n\nDon't hardcode a field list. `GET /api/method/tatva_connect.api.partner.lead_schema` returns exactly the parent + child fields YOUR key may send/read (with type/required/options) and your routing mode (`forced` for partners, `caller-supplied` for internal). Two partners calling it get different lists. This \u2014 plus a one-page note of your forced line \u2014 is your contract.\n\n### One key per integration\n\nDon't share keys across systems. Each integration gets its own user + key so we can revoke / rotate / audit per integration. If you need a key for staging plus a separate one for prod, request both.\n\n### Verify your key works\n\nThe fastest handshake \u2014 returns the authenticated user's email if the key is valid:\n\n```bash\ncurl -H 'Authorization: token <api_key>:<api_secret>' \\\n     https://one.tatvacare.in/api/method/frappe.auth.get_logged_user\n```\n\nSuccess returns `{\"message\":\"mytatva-writer@tatvacare.in\"}`. A `401` means the header is malformed (most often: missing the literal word `token`, extra spaces, swapped key/secret order).\n\n### Rotation, revocation, leakage\n\nIf a key is ever leaked, exposed in logs, committed to git \u2014 email CRM Ops immediately. We'll revoke it (the user gets disabled) and reissue a fresh pair. The new pair has different values; update your env var and redeploy.\n\nRoutine rotation isn't enforced today; we'll add a schedule if/when compliance requires it.\n\n### What the key can NOT do\n\n- It can't bypass field-level validation (Link values must exist, required fields can't be empty).\n- It can't call non-whitelisted methods (anything not documented here).\n- It can't see leads outside the CRM site (it's scoped to this site only).\n- **Partner keys** additionally can't touch raw `/api/resource/*` (you get **403**) \u2014 the partner methods under `/api/method/tatva_connect.api.partner.*` are your entire surface \u2014 and can't set routing, see another line's leads, or use any field outside their Allowed Fields grid.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Leads",
      "description": "## The partner lead API\n\nLeads are written and read through **one set of gated methods** under `/api/method/tatva_connect.api.partner.<fn>`. This is the entire surface for partners \u2014 raw `/api/resource/CRM Lead` is **not** available to partner keys (it returns 403). Internal System Manager keys may still use raw REST, but these methods are the supported, idempotent path for everyone.\n\n| Verb | Method | Does |\n|---|---|---|\n| GET | `lead_schema` | Discovery \u2014 exactly the fields YOUR key may send/read + your routing mode. |\n| GET | `lead_get` | Read one lead by `name` or `mobile_no` (scoped to your line). |\n| POST | `lead_create` | Create-or-upsert by phone. Returns the CRM `name`. |\n| PUT | `lead_update` | Update a lead by CRM `name` (the id `lead_create` returned). |\n| DELETE | `lead_delete` | Delete a lead by CRM `name` (your line only; a lead with linked activity can't be deleted). |\n| POST | `lead_create_bulk` | `{\"leads\":[{...}, \u2026]}` (\u2264 100). Partial success. |\n| PUT | `lead_update_bulk` | `{\"updates\":[{\"name\":\u2026, \u2026}, \u2026]}` (\u2264 100). Partial success. |\n| DELETE | `lead_delete_bulk` | `{\"names\":[\u2026]}` (\u2264 100). Partial success. |\n| POST | `lead_get_bulk` | `{\"names\":[\u2026]}` **or** `{\"mobile_nos\":[\u2026]}` (\u2264 100). Out-of-scope ids omitted. |\n| GET | `lead_list` | Curated filters + pagination, always scoped to your line. |\n\n**`lead_create` is the default write path for ~99% of integrations.** It's idempotent on the lead grain (`mobile_no` + your line + group), safe to retry, and handles the lookup-or-create dance for you.\n\n### Lead grain & dedup\n\nA lead is unique per `mobile_no` + `custom_vertical` (product line) + `custom_group`. `lead_create` finds the lead matching that trio and updates it, or creates a new one. The same phone on a *different* line/group is a separate lead. Partners never send routing \u2014 their line is forced from their mapping \u2014 so for them dedup is simply phone within their fixed line.\n\n### Profile child write semantics (important)\n\nProfile children (`custom_plan_profile`, `custom_lab_profile`) are sent as **embedded arrays** inside the body. There's at most ONE row per profile per lead today. Writes **merge field-by-field** into the existing row: fields you send are overlaid, fields you omit are left alone \u2014 a partial write never wipes the row. (This is true for all of `lead_create` / `lead_update` and their bulk forms.)\n\n### Routing is not yours to set (partners)\n\nThe routing fields `custom_vertical` + `custom_group` are `permlevel=1` (manager-only). `custom_current_program` is now **`permlevel=0`** (reps may self-handoff a program within their line). Partners never set any of these \u2014 routing (`source` / `vertical` / `group` / `program`) is **forced server-side** from your `Lead API Mapping` row, and any routing you send is silently ignored. Trusted internal (System Manager) keys send routing in the body.\n\n### Field validation summary\n\n- **Allowed fields are per-key.** Call `lead_schema` to see exactly what your key may send. Anything outside your Allowed Fields grid is dropped (partners) \u2014 `mobile_no` is always allowed (the anchor).\n- **Required to create**: `mobile_no` (the anchor). `first_name` and `status` are default-filled if missing (`(no name)` and `New`).\n- **Required IF status is Junk or Unqualified**: `lost_reason` (Frappe raises `ValidationError` otherwise).\n- **Link-validated** (values must exist in their master): `status`, `source`, `custom_vertical`, `custom_group`, `custom_current_program`, `substage` on Plan Profile (format `{program}-{substage_name}`).\n- **Never write**: `name` (autonamed), `lead_name` (computed), `creation`, `modified`. Routing + `lead_owner` are set by the platform, not partners.\n\n---\n\n## How to read leads from the CRM\n\nThree paths: `lead_get` (one, by `name` or `mobile_no`), `lead_get_bulk` (many, by `names` or `mobile_nos`), `lead_list` (filtered + paginated). All return only your allowed fields and only leads on your line.\n\n### `lead_list` filters & pagination\n\n`lead_list` honours a **curated, safe set of filters only** \u2014 never arbitrary fields:\n\n| Parameter | Meaning |\n|---|---|\n| `status` | exact lead status |\n| `created_after` / `created_before` | `creation` date range |\n| `updated_after` / `updated_before` | `modified` date range |\n| `mobile_no` | exact phone |\n| `limit` | page size (default 20, max 200) |\n| `offset` | rows to skip (paging) |\n\nResults are always auto-scoped to your line and return **curated parent fields, no children** \u2014 use `lead_get` for the full record. Response: `{ok, total, count, offset, limit, leads:[\u2026]}`.\n\n```bash\ncurl -G -H 'Authorization: token <api_key>:<api_secret>' \\\n     --data-urlencode 'status=New' \\\n     --data-urlencode 'updated_after=2026-05-01' \\\n     --data-urlencode 'limit=50' \\\n     https://one.tatvacare.in/api/method/tatva_connect.api.partner.lead_list\n```\n\n### Bulk partial-success shape\n\nEvery bulk method runs each record in its own savepoint \u2014 one bad row reports its error, the rest still commit. Response: `{ok, total, succeeded, failed, results:[{index, ok, action?, name?, error?}]}`.\n\n### Reading children\n\n`lead_get` / `lead_get_bulk` return the profile children (`custom_plan_profile`, `custom_lab_profile`) inline, filtered to your allowed fields. You can't read the child doctypes directly via `/api/resource/*` \u2014 they're child tables with no standalone permission scope; always read them through the parent lead."
    },
    {
      "name": "Files",
      "description": "## Files attached to leads\n\nFiles (lab reports PDFs, prescriptions, insurance docs, etc.) attach to leads via Frappe's core `File` doctype. The pattern is:\n\n1. **Upload** the binary using `POST /api/method/upload_file` with multipart/form-data. You tell it `doctype=CRM Lead` + `docname=<lead name>` so it attaches to the right lead. **Always set `is_private=1` for patient documents.**\n2. **List** a lead's files by querying `/api/resource/File` filtered by `attached_to_doctype` + `attached_to_name`.\n3. **Download** the file by GETting its `file_url`. Public files (`/files/...`) are open; private files (`/private/files/...`) require an authenticated session with read permission on the parent lead.\n4. **Delete** with `DELETE /api/resource/File/{name}`.\n\n### Privacy rule \u2014 patient docs must be private\n\nPublic files at `/files/...` are world-readable to anyone with the URL. Patient lab reports / prescriptions / claim documents must be uploaded with `is_private=1` so they land at `/private/files/...` and require auth to fetch.\n\nA file uploaded as private:\n- Returns `file_url: /private/files/<hash>.<ext>` in the response.\n- Can only be GETted by a session user who has read permission on the lead it's attached to. Your integration key (with System Manager role) can fetch it. An anonymous tab cannot.\n\n### Download requires the right context\n\nIf you fetch a private `file_url` from an integration script, send the same `Authorization: token KEY:SECRET` header. The 403 you'd otherwise get is intentional \u2014 the file is gated on lead permission."
    },
    {
      "name": "Reference Data",
      "description": "## Link-master tables \u2014 read these to validate your writes\n\nMany lead fields are **Link** fields, meaning the value MUST exist as a row in a lookup master doctype. Sending an unknown value returns HTTP 404 `LinkValidationError`.\n\nRead each master once at startup (or cache) so you know the valid values to send.\n\n| Field on CRM Lead | Lookup master | Example endpoint |\n|---|---|---|\n| `status` | `CRM Lead Status` | `GET /api/resource/CRM%20Lead%20Status` |\n| `source` | `CRM Lead Source` | `GET /api/resource/CRM%20Lead%20Source` |\n| `lost_reason` | `CRM Lost Reason` | `GET /api/resource/CRM%20Lost%20Reason` |\n| `custom_vertical` | `CRM Vertical` | `GET /api/resource/CRM%20Vertical` |\n| `custom_group` | `CRM Group` | `GET /api/resource/CRM%20Group` |\n| `custom_current_program` / `custom_previous_program` | `CRM Program` | `GET /api/resource/CRM%20Program` |\n| `custom_origin_vertical` | `CRM Vertical` | (same as above) |\n| `lead_owner` | `User` (Frappe core) | `GET /api/resource/User?filters=[[\"enabled\",\"=\",1]]&fields=[\"name\",\"full_name\"]` |\n| `substage` (on Plan Profile) | `CRM Lead Substage` | `GET /api/resource/CRM%20Lead%20Substage?filters=[[\"program\",\"=\",\"Niva Bupa\"]]` |\n\nResponses are the standard `{\"data\":[{\"name\":\"...\"},...]}` shape \u2014 the `name` field of each row is the value you'd send back in your write.\n\n### Substages are program-scoped\n\nUnlike the other lookups, `CRM Lead Substage` rows are scoped by a `program` field. **Always filter by `program=<the lead's current program>`** when enumerating valid substages for a specific lead:\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"program\",\"=\",\"Sigrima\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"substage_name\",\"main_stage\"]' \\\n     --data-urlencode 'limit_page_length=200' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead%20Substage\n```\n\nThe `name` of each row (format `{program}-{substage_name}`, e.g. `Sigrima-Patient Ready for Chemo`) is what you write back into `custom_plan_profile[].substage`."
    },
    {
      "name": "Schema",
      "description": "## Runtime schema discovery \u2014 don't hardcode field lists\n\nThe contract for what YOUR key may send/read is **`lead_schema`**, not a hardcoded field list. Call it in your integration code so you adapt automatically and never guess.\n\n### `lead_schema` \u2014 your fields, per key (primary)\n\n```bash\ncurl -H 'Authorization: token <api_key>:<api_secret>' \\\n     https://one.tatvacare.in/api/method/tatva_connect.api.partner.lead_schema\n```\n\nIt returns exactly the parent + child fields your key may send/read \u2014 each with `fieldname`, `label`, `type`, `required`, and `options` (for Link/Select) \u2014 plus your `routing` mode (`forced` for partners, `caller-supplied` for internal) and the bulk/list limits. Two partners get different lists, driven by their Allowed Fields grid. This is your source of truth; the field tables in these docs are illustrative.\n\n### Read a doctype's full definition (internal keys)\n\n> System Manager keys only \u2014 partner keys get 403 on `/api/resource/*`.\n\nEvery Frappe doctype is itself accessible via REST. Get the full schema (every field, type, options, validations) with:\n\n```bash\ncurl -H 'Authorization: token KEY:SECRET' \\\n     https://one.tatvacare.in/api/resource/DocType/CRM%20Lead\n```\n\nThe response includes a `data.fields[]` array \u2014 each entry is one field with attributes `fieldname`, `fieldtype` (`Data`/`Select`/`Link`/`Date`/`Datetime`/`Int`/`Float`/`Check`/`Currency`/`Small Text`/`Long Text`/`Table`/`Section Break`/`Column Break`/`Tab Break`/etc.), `label`, `reqd` (required), `options` (for Link: the target doctype name; for Select: newline-separated valid values), `permlevel` (0=anyone, 1=manager-only), and more.\n\nSame call works for the children \u2014 replace the name in the URL (URL-encode spaces):\n\n```\nGET /api/resource/DocType/CRM%20Plan%20Profile\nGET /api/resource/DocType/CRM%20Lab%20Profile\nGET /api/resource/DocType/CRM%20Care%20Providers%20Profile\nGET /api/resource/DocType/CRM%20Lead%20Substage\n```\n\n### List records of any doctype (internal keys)\n\nFor partner keys, list leads via `lead_list` (see [Read](/docs/api/leads)). System Manager keys may also use the raw `/api/resource/<DocType>` pattern:\n\n```bash\ncurl -H 'Authorization: token <api_key>:<api_secret>' \\\n     -G --data-urlencode 'filters=[[\"custom_group\",\"=\",\"Anaya\"]]' \\\n        --data-urlencode 'fields=[\"name\",\"first_name\",\"mobile_no\",\"status\"]' \\\n        --data-urlencode 'limit_page_length=50' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead\n```\n\n### When schema changes happen\n\nWhen we add a field, you'll see it appear in the doctype definition. Your code keeps working \u2014 your existing writes succeed (new field is optional and nullable), your reads return the extra field which you can ignore until you're ready to consume it. We notify integrators via email before any **breaking** change (renames, deletes, validation tightening).\n\n### Beyond Lead\n\nThe entire Frappe REST pattern works for ANY doctype. If you discover a need (e.g. read `CRM Call Log` records linked to a lead), the same `/api/resource/<DocType>` pattern applies. The doctypes worth knowing about for an integrator:\n\n- `CRM Lead` (this spec's primary target)\n- `CRM Plan Profile`, `CRM Lab Profile`, `CRM Care Providers Profile` (children of Lead)\n- `CRM Lead Substage` (program-scoped substage master)\n- `CRM Vertical`, `CRM Group`, `CRM Program` (routing masters)\n- `CRM Lead Status`, `CRM Lead Source`, `CRM Lost Reason` (universal lookup masters)\n- `CRM Call Log`, `CRM Task`, `FCRM Note`, `Comment`, `Communication`, `ToDo` (activity-adjacent \u2014 read about them in Frappe's standard docs)\n- `File` (attachments \u2014 see [Attachments](/docs/api/files))\n\nIf you find yourself reaching for a non-Lead doctype, email Ops first \u2014 we want to know what use case you're hitting so we can document it (or wrap it in a saner endpoint)."
    },
    {
      "name": "WhatsApp",
      "description": "## WhatsApp on a lead\n\n> **Rollout note.** Ships with the WATI integration; a `404` means the integration app isn't deployed on that environment yet.\n\nEvery WhatsApp message \u2014 inbound or outbound \u2014 is a row in the **`WhatsApp Message`** doctype, linked to its lead via `reference_doctype` + `reference_name`. So you read a conversation the same way you read anything else: a filtered `GET /api/resource/WhatsApp Message`.\n\nSending is doctype-driven too \u2014 inserting a `WhatsApp Message` row triggers the actual send behind the scenes, routed through **WATI** (our WhatsApp provider) so the team's existing templates and broadcasts keep working. Multi-sender is built in: one **`WhatsApp Account`** row per WhatsApp number, so different product lines can send from different numbers.\n\nSee [WhatsApp](/docs/whatsapp) in the Documentation tab for the full picture."
    },
    {
      "name": "Telephony",
      "description": "## Calls on a lead\n\nCalls are rows in **`CRM Call Log`**, linked to a lead via `reference_doctype` + `reference_docname`. **Reading call logs is live today.** A row carries `type` (Incoming/Outgoing), `status`, `from`/`to`, `duration`, and `recording_url` (private \u2014 patient PII).\n\nOutbound **click-to-call** and automatic inbound logging are provided by **Acefone**; that half is in build, so the click-to-call endpoint is badged planned and `telephony_medium` has no `Acefone` value until it deploys.\n\nSee [Telephony](/docs/telephony) in the Documentation tab."
    },
    {
      "name": "Users",
      "description": "## Users, onboarding & API keys\n\nEvery account \u2014 an agent or an integration \u2014 is a `User`, and its **roles** decide what it can do ([Roles & permissions](/docs/api/roles-and-permissions)). Two admin jobs live here:\n\n- **Onboard** \u2014 create a user with the right roles (and, for people, a welcome email to set a password).\n- **Mint a key** \u2014 generate an `api_key`/`api_secret` for an integration account, exactly the pair [Authentication](/docs/api/authentication) expects.\n\nThe end-to-end onboarding of an integration: `POST User` (with its role) \u2192 `generate_keys` (capture the secret) \u2192 hand the pair to the integration. See [Users & onboarding](/docs/users) in the Documentation tab.\n\n> **\u26a0 Admin-only.** These need an admin-roled key, and `generate_keys` **rotates** \u2014 it invalidates the user's previous secret."
    },
    {
      "name": "Roles and Permissions",
      "description": "## Inspect roles, scoping, and permissions\n\nA key acts **as a user** and runs that user's permission checks \u2014 it never bypasses them (see [Permissions in 60 seconds](/docs/frappe-permissions)). What a key can do is decided by three layers:\n\n- **Roles** \u2014 what actions (Read / Write / Create / Delete) on what doctypes.\n- **User Permissions** \u2014 which rows a user may see (row-level scoping, e.g. only `Anaya` leads).\n- **Field permlevels** \u2014 which fields a user may write (routing fields are level-1, manager-only).\n\nThese endpoints let you read all three so you know exactly what a key is allowed to do. See [Roles & permissions](/docs/roles-and-permissions) in the Documentation tab."
    },
    {
      "name": "Tags",
      "description": "## Label leads and find them fast\n\nTags are free-form labels on a lead (`vip`, `reactivation`, \u2026) \u2014 the quickest way to slice leads without adding a field. Frappe keeps them in two synced places: a denormalised `_user_tags` string on the lead (good for a quick `like` filter) and a **`Tag Link`** row per (tag, document) pair (the clean way to ask *which* leads carry a tag). The label vocabulary lives in the **`Tag`** doctype.\n\nAlways set/clear tags through the whitelisted `add_tag` / `remove_tag` methods so both stores stay consistent \u2014 never write `_user_tags` by hand. See [Tags](/docs/tags) in the Documentation tab."
    },
    {
      "name": "Jobs",
      "description": "Scheduled and background jobs. `Scheduled Job Type` holds the definitions (method, cron, stopped, last run); `Scheduled Job Log` holds the execution history. Both are read-only over the API and require System Manager. There is no REST endpoint to trigger a job (Desk / bench only). See the Jobs guide for the inventory."
    },
    {
      "name": "Errors & Logs",
      "description": "Operational visibility, read-only. Error Log = server exceptions/tracebacks; Integration Request = outbound provider calls + responses; plus Scheduled Job Log (see Jobs) and WhatsApp Notification Log. Requires System Manager. See the Errors & status guide for a health sweep."
    },
    {
      "name": "Automations",
      "description": "Event-driven lead-lifecycle automations: dedup, auto-assignment, tasks, checklists, and the automation registry. See the Internal Automations guide."
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Format: `token <api_key>:<api_secret>` \u2014 literal lowercase `token`, single space, key:secret joined by `:`. See the [Authentication](/docs/api/authentication) page for how to request a key and a one-liner to verify it works."
      }
    },
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on `CRM Lead` itself. 29 custom fields plus standard Frappe fields. Profile children (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) are pointers to embedded child arrays \u2014 see [Concepts](/docs/concepts) for the model.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key, autonamed `CRM-LEAD-YYYY-NNNNN`. **Read-only** \u2014 never include in POST bodies (server generates).",
            "readOnly": true,
            "example": "CRM-LEAD-2026-00123"
          },
          "first_name": {
            "type": "string",
            "description": "Patient first name. Set to `(no name)` if you genuinely don't have it (`lead_create` default-fills this if omitted)."
          },
          "last_name": {
            "type": "string",
            "description": "Patient last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Patient email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "**Required** \u2014 the dedup anchor (with product line + group). E.164 format: `+<country code><digits>`, no hyphens, no spaces.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164 same as mobile_no."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164 same as mobile_no."
          },
          "status": {
            "type": "string",
            "description": "**Required on create.** Universal lifecycle status. New leads start as `New`. Junk and Unqualified are 'Lost' type and require `lost_reason`. Enumerate live values via [Lookups \u2192 Lead Status](/docs/api/reference-data).",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Link to `CRM Lead Source`. Enumerate via [Lookups \u2192 Lead Source](/docs/api/reference-data)."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Email of the CRM user owning this lead. Link to `User`. **Only set if the email is a real Frappe user** \u2014 otherwise leave blank to avoid `LinkValidationError`."
          },
          "lost_reason": {
            "type": "string",
            "description": "**Required when `status` is `Junk` or `Unqualified`.** Link to `CRM Lost Reason`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "GoodFlip",
              "GoodFlip Care",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "**Permission-locked** (`permlevel=1`). Top-level product line. Link to `CRM Vertical`. See [Concepts \u203a routing chain](/docs/concepts)."
          },
          "custom_group": {
            "type": "string",
            "enum": [
              "Anaya",
              "Anyra",
              "Eisai",
              "GoodFlip",
              "Insurers"
            ],
            "description": "**Permission-locked.** Sub-line under the vertical. Link to `CRM Group`."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Anyra - Retina",
              "Eisai - Alzheimers",
              "GoodFlip",
              "Niva Bupa",
              "Nivolumab",
              "Sigrima",
              "Tukavo",
              "Ujvira"
            ],
            "description": "The PRIMARY program. Link to `CRM Program`. **`permlevel=0`** \u2014 rep-writable, so a rep can self-handoff a program within their line (only `custom_vertical` + `custom_group` are manager-locked at `permlevel=1`). Multi-program patients are supported via profile-row presence (see [Concepts](/docs/concepts))."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "**Permission-locked.** The lead's previous program if they transitioned. Link to `CRM Program`. Captures the LAST switch only \u2014 full history is in the (deferred) activity layer."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "**Permission-locked. Write-once on capture, never updated.** Records the vertical the patient first entered through, even if their current vertical changes later."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated (deprecated for new writes \u2014 use `source` instead)."
          },
          "custom_program_lifecycle_stage": {
            "type": "string",
            "description": "**Permission-locked.** Cross-program lifecycle marker (Acquisition / Active / Retention / etc.) \u2014 used for cohort analytics."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External patient identifier from the source system (e.g. MyTatva user ID, partner system ID)."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy LeadSquared ProspectId \u2014 migration-only dedup key. Not populated for new leads after the LSQ cutover."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy LeadSquared lead number."
          },
          "custom_lsq_lead_stage_legacy": {
            "type": "string",
            "description": "Legacy LeadSquared stage. Read-only for reporting."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-gen system identifier (campaign or form submission ID)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Patient gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Patient date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Patient age in years. Not auto-calculated from DOB today \u2014 caller-provided."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Patient age bucket (e.g. `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Patient's preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State / region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to patient (e.g. Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Patient's job title (rarely used)."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "**Embedded child rows** (max 1 today). Plan / PSP / subscription / drug-program / payment / acquisition / dx-funnel data. On PUT, the array REPLACES the existing rows \u2014 see [Write \u203a profile semantics](/docs/api/leads)."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Embedded child rows. Lab values, vitals, conditions, scores."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Embedded child rows. Care team \u2014 coaches, RM, therapist, doctor, hospital."
          },
          "lead_name": {
            "type": "string",
            "description": "**Read-only.** Auto-computed from `first_name` + `last_name`. Never write directly.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Lead creation timestamp.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Last-modified timestamp. Useful for change-tracking / delta sync.",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "status"
        ]
      },
      "PlanProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 79 fields. Holds everything plan-shaped: subscription / PSP enrollment, drug-program clinical (oncology), Rx workflow, payment + insurer fields, acquisition (UTM + signup), diagnostic-funnel timestamps, and the program-scoped substage Link. See [Concepts](/docs/concepts) for why this is sliced by concern, not by program.",
        "properties": {
          "signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date the patient signed up (any platform)."
          },
          "mobile_app_signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date specifically of mobile app sign-up."
          },
          "signed_up_on_app": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean flag (0/1). Whether the patient signed up via mobile app."
          },
          "platform": {
            "type": "string",
            "description": "Mobile app platform \u2014 Android / iOS / Web."
          },
          "user_source": {
            "type": "string",
            "description": "Free-text source identifier (granular than `CRM Lead Source`)."
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source (marketing attribution)."
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium."
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign."
          },
          "utm_term": {
            "type": "string",
            "description": "UTM term."
          },
          "utm_content": {
            "type": "string",
            "description": "UTM content."
          },
          "utm_disease": {
            "type": "string",
            "description": "UTM disease tag \u2014 used in disease-targeted campaigns."
          },
          "utm_therapy_area": {
            "type": "string",
            "description": "UTM therapy-area tag."
          },
          "source_campaign": {
            "type": "string",
            "description": "Source campaign (alternate naming used by some campaigns)."
          },
          "source_medium": {
            "type": "string",
            "description": "Source medium."
          },
          "source_content": {
            "type": "string",
            "description": "Source content."
          },
          "plan_name": {
            "type": "string",
            "description": "Name of the plan / PSP / subscription the patient is enrolled in."
          },
          "plan_duration": {
            "type": "string",
            "description": "Plan duration (e.g. `3 months`, `12 months`)."
          },
          "plan_includes_cgm": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes a Continuous Glucose Monitor."
          },
          "cgm_brand": {
            "type": "string",
            "description": "CGM device brand (e.g. Abbott, Dexcom)."
          },
          "sensor_count": {
            "type": "integer",
            "description": "Number of CGM sensors included."
          },
          "transmitter_count": {
            "type": "integer",
            "description": "Number of CGM transmitters included."
          },
          "bca_device": {
            "type": "string",
            "description": "Body Composition Analyzer device, if part of the plan."
          },
          "recurrence": {
            "type": "string",
            "description": "Plan recurrence pattern (monthly / quarterly / annual)."
          },
          "program_duration": {
            "type": "string",
            "description": "Program / treatment duration."
          },
          "program_start_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment starts."
          },
          "program_end_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment ends."
          },
          "program_price": {
            "type": "number",
            "description": "Program price in INR."
          },
          "dx_landing_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient landed on the lab-test booking page. Stamp current time when the LSQ flag fires."
          },
          "dx_intent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient indicated intent to book."
          },
          "dx_details_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted personal details."
          },
          "dx_address_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted address."
          },
          "dx_slot_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient selected a slot."
          },
          "dx_confirmed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: booking confirmed."
          },
          "labtest_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Lab test booking completed (terminal funnel step)."
          },
          "invoice_uploaded": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the patient has uploaded an invoice."
          },
          "invoice_amount": {
            "type": "number",
            "description": "Invoice amount in INR."
          },
          "payment_link": {
            "type": "string",
            "format": "uri",
            "description": "URL the patient can use to complete payment."
          },
          "paying_status": {
            "type": "string",
            "description": "Free-text payment status (e.g. Paid, Pending, Defaulted)."
          },
          "coins_balance": {
            "type": "integer",
            "description": "Patient's loyalty/wallet coin balance."
          },
          "policy_number": {
            "type": "string",
            "description": "Insurer policy number (e.g. Niva Bupa policy)."
          },
          "member_id": {
            "type": "string",
            "description": "Insurer member identifier within the policy."
          },
          "priority_text": {
            "type": "string",
            "description": "Admin-only priority note."
          },
          "patient_indication": {
            "type": "string",
            "description": "Clinical indication (e.g. `HER2+ MBC`)."
          },
          "cancer_stage": {
            "type": "string",
            "description": "Cancer stage (e.g. `Stage IV`)."
          },
          "brain_mets_category": {
            "type": "string",
            "description": "Brain metastases category."
          },
          "tucavo_brain_mets": {
            "type": "string",
            "description": "Tukavo brain-mets indicator."
          },
          "side_effects": {
            "type": "string",
            "description": "Side effects experienced."
          },
          "side_effects_detail": {
            "type": "string",
            "description": "Free-text side-effects detail."
          },
          "pcr_received": {
            "type": "string",
            "description": "PCR (Pathology) report received status."
          },
          "reason_for_no_indication": {
            "type": "string",
            "description": "Reason if `patient_indication` couldn't be set."
          },
          "physio_or_dietician": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes physio / dietician."
          },
          "tucatinib_chemo_cycle": {
            "type": "integer",
            "description": "Tucatinib chemo cycle number."
          },
          "tucatinib_indication": {
            "type": "string",
            "description": "Tucatinib clinical indication."
          },
          "tucatinib_psp": {
            "type": "string",
            "description": "Tucatinib Patient Support Program identifier."
          },
          "tucatinib_dosage": {
            "type": "string",
            "description": "Tucatinib dosage."
          },
          "tukavo_psp": {
            "type": "string",
            "description": "Tukavo Patient Support Program identifier."
          },
          "sigrima_pap_category": {
            "type": "string",
            "description": "Sigrima Patient Assistance Program category."
          },
          "sigrima_psp_category": {
            "type": "string",
            "description": "Sigrima PSP category."
          },
          "sigrima_psp_enabled": {
            "type": "string",
            "description": "Sigrima PSP enabled flag."
          },
          "ujvira_chemo_cycle_number": {
            "type": "integer",
            "description": "Ujvira chemo cycle number."
          },
          "ujvira_indication": {
            "type": "string",
            "description": "Ujvira clinical indication."
          },
          "ujvira_pap_category": {
            "type": "string",
            "description": "Ujvira PAP category."
          },
          "ujvira_dosage": {
            "type": "string",
            "description": "Ujvira dosage."
          },
          "nivo_chemo_cycle": {
            "type": "integer",
            "description": "Nivolumab chemo cycle number."
          },
          "nivo_indication": {
            "type": "string",
            "description": "Nivolumab clinical indication."
          },
          "nivo_pap_category": {
            "type": "string",
            "description": "Nivolumab PAP category."
          },
          "nivo_dosage": {
            "type": "string",
            "description": "Nivolumab dosage."
          },
          "capecitabine_dosage": {
            "type": "string",
            "description": "Capecitabine dosage."
          },
          "vivitra_enabled": {
            "type": "string",
            "description": "Vivitra (Trastuzumab biosimilar) enabled flag."
          },
          "vivitra_free_required": {
            "type": "string",
            "description": "Whether free Vivitra is required."
          },
          "vivitra_order_cycle_number": {
            "type": "integer",
            "description": "Vivitra order cycle."
          },
          "vivitra_order_id": {
            "type": "string",
            "description": "Vivitra order identifier."
          },
          "transition_from_sigrima": {
            "type": "string",
            "description": "Transition marker if patient came from Sigrima."
          },
          "transition_from_ujvira": {
            "type": "string",
            "description": "Transition marker if patient came from Ujvira."
          },
          "transition_old_to_new_pap": {
            "type": "string",
            "description": "Transition from old PAP to new PAP."
          },
          "rx_status": {
            "type": "string",
            "description": "Prescription review status (e.g. Pending / Approved / Rejected)."
          },
          "rx_reviewed_by": {
            "type": "string",
            "format": "email",
            "description": "Email of the user who reviewed the prescription. Link to `User`."
          },
          "rx_rejection_reason": {
            "type": "string",
            "description": "Reason the prescription was rejected (if applicable)."
          },
          "substage": {
            "type": "string",
            "description": "**Program-scoped operational stage.** Link to `CRM Lead Substage`. Value format is `{program}-{substage_name}` (e.g. `Niva Bupa-Payment Link Sent`, `Sigrima-Patient Ready for Chemo`). Enumerate valid values for a program via [Lookups \u203a Lead Substage](/docs/api/reference-data). The universal `status` field on `CRM Lead` is independent of substage \u2014 see [Concepts \u203a substages](/docs/concepts).",
            "example": "Niva Bupa-Payment Link Sent"
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 22 fields. Lab values, vitals (height/weight/BMI), conditions (primary + co-morbid), and metabolic score / assessment data.",
        "properties": {
          "hba1c": {
            "type": "number",
            "description": "HbA1c \u2014 3-month average blood sugar (%)."
          },
          "fbs": {
            "type": "number",
            "description": "Fasting Blood Sugar (mg/dL)."
          },
          "ldl": {
            "type": "number",
            "description": "LDL Cholesterol (mg/dL)."
          },
          "hdl": {
            "type": "number",
            "description": "HDL Cholesterol (mg/dL)."
          },
          "vldl": {
            "type": "number",
            "description": "VLDL Cholesterol (mg/dL)."
          },
          "total_cholesterol": {
            "type": "number",
            "description": "Total Cholesterol (mg/dL)."
          },
          "triglycerides": {
            "type": "number",
            "description": "Triglycerides (mg/dL)."
          },
          "tsh": {
            "type": "number",
            "description": "TSH \u2014 Thyroid Stimulating Hormone."
          },
          "creatinine": {
            "type": "number",
            "description": "Creatinine (mg/dL) \u2014 kidney function marker."
          },
          "egfr": {
            "type": "number",
            "description": "eGFR \u2014 Estimated Glomerular Filtration Rate (kidney)."
          },
          "alt_sgpt": {
            "type": "number",
            "description": "ALT / SGPT \u2014 liver enzyme."
          },
          "ggt": {
            "type": "number",
            "description": "GGT \u2014 liver enzyme."
          },
          "height_feet": {
            "type": "number",
            "description": "Patient height in feet."
          },
          "weight_kg": {
            "type": "number",
            "description": "Patient weight in kg."
          },
          "bmi": {
            "type": "number",
            "description": "Body Mass Index. Caller-computed today (no auto-calc hook yet). Formula: `weight_kg / (height_meters^2)`."
          },
          "primary_condition": {
            "type": "string",
            "description": "Patient's primary medical condition. Free text today; will become a Link master when the option list is locked."
          },
          "comorbid_conditions": {
            "type": "string",
            "description": "Comma-separated co-morbid conditions. Will move to a child Table doctype when multi-select pattern is needed."
          },
          "initial_metabolic_score": {
            "type": "number",
            "description": "Initial metabolic score from assessment."
          },
          "final_metabolic_score": {
            "type": "number",
            "description": "Final / latest metabolic score."
          },
          "metabolic_questionnaire_link": {
            "type": "string",
            "format": "uri",
            "description": "URL to the metabolic questionnaire PDF / form."
          },
          "assessment_responses": {
            "type": "string",
            "description": "Raw assessment payload \u2014 typically a JSON-as-string blob with all questionnaire responses."
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "Date the lab report was generated (`YYYY-MM-DD`)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 15 fields. The patient's care team (internal coaches + RM + therapist) and medical providers (treating doctor + hospital). UI label: 'Care & Providers'. The internal doctype name has no `&` (Frappe restriction).",
        "properties": {
          "success_coach_name": {
            "type": "string",
            "description": "Success Coach name \u2014 primary internal contact for the patient."
          },
          "rm_name": {
            "type": "string",
            "description": "Relationship Manager name \u2014 handles calls and follow-ups."
          },
          "therapist_name": {
            "type": "string",
            "description": "Therapist / counsellor name."
          },
          "diet_coach_name": {
            "type": "string",
            "description": "Diet coach name."
          },
          "exercise_coach_name": {
            "type": "string",
            "description": "Exercise coach name."
          },
          "abm_name": {
            "type": "string",
            "description": "Area Business Manager \u2014 operational lead handler for PSP-style engagements."
          },
          "doctor_name": {
            "type": "string",
            "description": "Treating doctor's short name."
          },
          "doctor_full_name": {
            "type": "string",
            "description": "Treating doctor's full name."
          },
          "hospital_name": {
            "type": "string",
            "description": "Hospital short name."
          },
          "hospital_full_name": {
            "type": "string",
            "description": "Hospital full name."
          },
          "hospital_city": {
            "type": "string",
            "description": "Hospital city short code."
          },
          "hospital_city_name": {
            "type": "string",
            "description": "Hospital city full name."
          },
          "hospital_state": {
            "type": "string",
            "description": "Hospital state."
          },
          "hospital_type": {
            "type": "string",
            "description": "Hospital type (e.g. Private, Government, Trust)."
          },
          "coach_appointment_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the patient's first coach appointment was booked."
          }
        }
      },
      "LookupItem": {
        "type": "object",
        "description": "Generic single-column lookup-master row. The `name` field holds the value you'd send back into a Link field on `CRM Lead`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Primary key \u2014 also the human-readable value (e.g. `Sigrima`, `Anaya`, `Mobile App`).",
            "example": "Sigrima"
          }
        }
      },
      "LeadSubstage": {
        "type": "object",
        "description": "Row in `CRM Lead Substage` master. One row per (program, substage_name) pair. New programs add rows here \u2014 never new columns on Plan Profile.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Auto-formatted `{program}-{substage_name}`. This is the value you send back into `custom_plan_profile[].substage`.",
            "example": "Niva Bupa-Payment Link Sent"
          },
          "substage_name": {
            "type": "string",
            "example": "Payment Link Sent",
            "description": "Human-readable substage name within a program."
          },
          "program": {
            "type": "string",
            "description": "Link to `CRM Program`. Which program this substage belongs to.",
            "example": "Niva Bupa"
          },
          "main_stage": {
            "type": "string",
            "enum": [
              "New",
              "Opportunity",
              "Active",
              "On Hold",
              "Drop-off",
              "Completed",
              "Lost",
              "Archived",
              "Converted"
            ],
            "description": "Coarse grouping for reporting."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `POST /api/method/tatva_connect.api.partner.lead_create`. Only `mobile_no` is strictly required (the dedup anchor); `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other fields are optional and must be within the fields your key is allowed to send (call `lead_schema` to see them). Partners never send routing \u2014 it's forced server-side. Profile children embed as arrays and merge field-by-field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ]
      },
      "UpsertLeadResponse": {
        "type": "object",
        "description": "Success response from `lead_create` / `lead_update`. The payload is wrapped in `message` (Frappe method convention). A validation/permission failure raises a normal Frappe error (non-2xx) with the usual error shape \u2014 see [Errors](/docs/errors).",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "description": "True on success."
              },
              "action": {
                "type": "string",
                "enum": [
                  "created",
                  "updated"
                ],
                "description": "Whether the lead was created or upserted onto an existing one."
              },
              "name": {
                "type": "string",
                "description": "CRM Lead primary key (e.g. `CRM-LEAD-2026-00123`). PUT this back to `lead_update`."
              },
              "source": {
                "type": "string",
                "description": "The lead's source (forced from your mapping for partners)."
              },
              "vertical": {
                "type": "string",
                "description": "The lead's product line (`custom_vertical`)."
              },
              "group": {
                "type": "string",
                "description": "The lead's group (`custom_group`)."
              },
              "program": {
                "type": "string",
                "description": "The lead's current program (`custom_current_program`)."
              }
            },
            "required": [
              "ok",
              "name"
            ]
          }
        }
      },
      "FrappeListResponse": {
        "type": "object",
        "description": "Standard Frappe list response shape. `data` is an array of objects with the fields requested via the `fields` query parameter.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FrappeDocResponse": {
        "type": "object",
        "description": "Standard Frappe single-document response. `data` is the full doc with all fields (including embedded child arrays for Tables).",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "FileDoc": {
        "type": "object",
        "description": "Row in Frappe's core `File` doctype. Returned by upload, list, and get operations.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key for the file row (hash-based, e.g. `c14b27639e`)."
          },
          "file_name": {
            "type": "string",
            "description": "Display filename."
          },
          "file_url": {
            "type": "string",
            "description": "Path to download. `/files/<x>` for public, `/private/files/<x>` for private."
          },
          "is_private": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0 = public (open to anyone with URL), 1 = private (auth required)."
          },
          "attached_to_doctype": {
            "type": "string",
            "example": "CRM Lead",
            "description": "Parent doctype this file is attached to."
          },
          "attached_to_name": {
            "type": "string",
            "example": "CRM-LEAD-2026-00123",
            "description": "Parent record name."
          },
          "file_size": {
            "type": "integer",
            "description": "Size in bytes."
          },
          "file_type": {
            "type": "string",
            "description": "Extension / type (e.g. PDF, PNG)."
          },
          "content_hash": {
            "type": "string",
            "description": "MD5 of the content \u2014 use to dedup re-uploads."
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Frappe error envelope. Returned for HTTP 4xx/5xx \u2014 including a `lead_create` / `lead_update` failure (validation, permission, unknown Link value), which raises a normal Frappe error rather than a 200.",
        "properties": {
          "exc_type": {
            "type": "string",
            "example": "LinkValidationError",
            "description": "Exception class name. Use to programmatically discriminate error types."
          },
          "exception": {
            "type": "string",
            "example": "Could not find Custom Field: CRM Lead-foo",
            "description": "Human-readable exception message."
          },
          "_server_messages": {
            "type": "string",
            "description": "JSON-encoded array of additional human-readable messages."
          }
        }
      },
      "CallLog": {
        "type": "object",
        "description": "One row in `CRM Call Log` \u2014 a single inbound or outbound call.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe document id."
          },
          "id": {
            "type": "string",
            "description": "Provider call id."
          },
          "type": {
            "type": "string",
            "enum": [
              "Incoming",
              "Outgoing"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Initiated",
              "Ringing",
              "In Progress",
              "Completed",
              "Failed",
              "Busy",
              "No Answer",
              "Queued",
              "Canceled"
            ]
          },
          "from": {
            "type": "string",
            "description": "Caller number."
          },
          "to": {
            "type": "string",
            "description": "Destination number."
          },
          "duration": {
            "type": "integer",
            "description": "Call length in seconds."
          },
          "recording_url": {
            "type": "string",
            "description": "Recording link (private \u2014 patient PII)."
          },
          "telephony_medium": {
            "type": "string",
            "description": "Provider that placed the call (`Manual` / `Twilio` / `Exotel`; `Acefone` once deployed)."
          },
          "caller": {
            "type": "string",
            "description": "Agent (Link to User)."
          },
          "receiver": {
            "type": "string",
            "description": "Agent (Link to User)."
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "reference_doctype": {
            "type": "string",
            "example": "CRM Lead"
          },
          "reference_docname": {
            "type": "string",
            "description": "The linked lead's name."
          }
        }
      },
      "WhatsAppMessage": {
        "type": "object",
        "description": "One row in `WhatsApp Message` \u2014 a single inbound or outbound WhatsApp message (planned surface).",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Incoming",
              "Outgoing"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message body (HTML)."
          },
          "status": {
            "type": "string",
            "enum": [
              "SENT",
              "Delivered",
              "Read",
              "Replied",
              "Failed"
            ]
          },
          "from": {
            "type": "string",
            "description": "Sender number (inbound)."
          },
          "to": {
            "type": "string",
            "description": "Recipient number (outbound)."
          },
          "content_type": {
            "type": "string",
            "description": "text / image / document / video / audio / interactive / template."
          },
          "message_type": {
            "type": "string",
            "enum": [
              "Manual",
              "Template"
            ]
          },
          "message_id": {
            "type": "string",
            "description": "Threading id used to match status updates."
          },
          "profile_name": {
            "type": "string",
            "description": "Sender display name."
          },
          "whatsapp_account": {
            "type": "string",
            "description": "Sending account / WhatsApp number (Link to WhatsApp Account)."
          },
          "reference_doctype": {
            "type": "string",
            "example": "CRM Lead"
          },
          "reference_name": {
            "type": "string",
            "description": "The linked lead's name."
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Sales Manager"
          },
          "role_name": {
            "type": "string",
            "example": "Sales Manager"
          },
          "disabled": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "desk_access": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "1 = can reach the Frappe desk/UI."
          },
          "is_custom": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        }
      },
      "UserPermission": {
        "type": "object",
        "description": "One row-level restriction \u2014 limits which records a user may see.",
        "properties": {
          "name": {
            "type": "string"
          },
          "user": {
            "type": "string",
            "format": "email"
          },
          "allow": {
            "type": "string",
            "description": "The doctype the restriction is on.",
            "example": "CRM Group"
          },
          "for_value": {
            "type": "string",
            "description": "The single value the user is scoped to.",
            "example": "Anaya"
          },
          "applicable_for": {
            "type": "string",
            "description": "Restrict only when accessing this doctype (blank = everywhere)."
          },
          "apply_to_all_doctypes": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "is_default": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        }
      },
      "UserAccount": {
        "type": "object",
        "description": "A Frappe `User` \u2014 an agent or an integration account. Roles decide capability.",
        "properties": {
          "name": {
            "type": "string",
            "format": "email",
            "description": "The user id (= email)."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "enabled": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0 = disabled (login + keys blocked)."
          },
          "user_type": {
            "type": "string",
            "enum": [
              "System User",
              "Website User"
            ]
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                }
              }
            },
            "description": "Child table of assigned roles."
          },
          "api_key": {
            "type": "string",
            "description": "Set once keys are generated; the secret is never returned on read."
          }
        }
      },
      "BulkResultEntry": {
        "type": "object",
        "description": "One record's outcome in a bulk response. `ok` tells you whether that single record succeeded; `action`/`name` are present on success, `error` on failure.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "0-based position of this record in the request array."
          },
          "ok": {
            "type": "boolean",
            "description": "True if this record succeeded (its own savepoint committed)."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deleted"
            ],
            "description": "What happened to this record (present only on success)."
          },
          "name": {
            "type": "string",
            "description": "CRM Lead id (present only on success)."
          },
          "error": {
            "type": "string",
            "description": "Failure message for this record (present only on failure)."
          }
        },
        "required": [
          "index",
          "ok"
        ]
      },
      "BulkResponse": {
        "type": "object",
        "description": "Partial-success envelope shared by all bulk write methods. Each record runs in its own savepoint \u2014 one bad row reports its error, the rest still commit. Payload wrapped in `message` (Frappe method convention).",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "description": "Always true \u2014 the batch ran (individual rows may have failed)."
              },
              "total": {
                "type": "integer",
                "description": "Records received."
              },
              "succeeded": {
                "type": "integer",
                "description": "Records that committed."
              },
              "failed": {
                "type": "integer",
                "description": "Records that were rolled back and reported."
              },
              "results": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/BulkResultEntry"
                },
                "description": "Per-record outcome, in request order."
              }
            },
            "required": [
              "ok",
              "total",
              "succeeded",
              "failed",
              "results"
            ]
          }
        }
      },
      "CuratedLead": {
        "type": "object",
        "description": "A lead as the caller is allowed to see it: their allowed parent fields plus the read-only identity/routing block (`name`, `source`, `custom_vertical`, `custom_group`, `custom_current_program`). `lead_get` / `lead_get_bulk` additionally inline the profile children (filtered to allowed fields); `lead_list` returns no children.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead primary key.",
                "example": "CRM-LEAD-2026-00123"
              },
              "source": {
                "type": "string",
                "description": "Lead source (read-only; forced for partners)."
              },
              "custom_vertical": {
                "type": "string",
                "description": "Product line (read-only)."
              },
              "custom_group": {
                "type": "string",
                "description": "Group (read-only)."
              },
              "custom_current_program": {
                "type": "string",
                "description": "Current program (read-only)."
              }
            }
          }
        ]
      },
      "LeadUpdateRequest": {
        "type": "object",
        "description": "Request body for `lead_update`. Carries the CRM `name` (the id `lead_create` returned) plus any allowed fields to change. Parent fields you SEND are updated, fields you OMIT are left alone; profile children merge field-by-field. Partners may not change routing (it's forced).",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id to update.",
                "example": "CRM-LEAD-2026-00123"
              }
            }
          }
        ]
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable \u2014 just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithRouting": {
        "summary": "Minimum + routing \u2014 locked to a program",
        "description": "Adds the 4 routing fields. Lead is now tagged to a specific vertical / group / program, which drives sales-rep assignment and reporting.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Asha",
          "last_name": "K",
          "status": "New",
          "source": "Mobile App",
          "custom_vertical": "GoodFlip Care",
          "custom_group": "Anaya",
          "custom_current_program": "Sigrima",
          "custom_origin_vertical": "GoodFlip Care"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child \u2014 lab values for an insurer lead",
        "description": "Now we attach a Lab Profile row. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Ramesh",
          "status": "New",
          "source": "Niva Bupa",
          "custom_vertical": "GoodFlip",
          "custom_group": "Insurers",
          "custom_current_program": "Niva Bupa",
          "custom_origin_vertical": "GoodFlip",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full \u2014 insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Ramesh",
          "last_name": "Kumar",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "source": "Niva Bupa",
          "custom_vertical": "GoodFlip",
          "custom_group": "Insurers",
          "custom_current_program": "Niva Bupa",
          "custom_origin_vertical": "GoodFlip",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://niva.example/pay/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full \u2014 oncology PSP lead (drug program + care team)",
        "description": "Realistic shape for an Anaya Sigrima clinical lead. Plan Profile has drug-specific fields + the program substage; Care & Providers has the assigned coach + doctor + hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Sunita Rao",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Arjun Rao",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "source": "Landing Page MR Form",
          "custom_vertical": "GoodFlip Care",
          "custom_group": "Anaya",
          "custom_current_program": "Sigrima",
          "custom_origin_vertical": "GoodFlip Care",
          "custom_plan_profile": [
            {
              "patient_indication": "HER2+ MBC",
              "cancer_stage": "Stage IV",
              "sigrima_psp_category": "PSP A",
              "vivitra_enabled": "Yes",
              "substage": "Sigrima-Patient Ready for Chemo"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "Vikram Iyer",
              "success_coach_name": "Neha Gupta",
              "doctor_name": "Dr. A. Sharma",
              "hospital_name": "City Oncology Centre",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full \u2014 wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a MyTatva-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Kabir Shah",
          "status": "New",
          "source": "Mobile App",
          "custom_vertical": "GoodFlip",
          "custom_origin_vertical": "GoodFlip",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Wellness Plus",
              "program_start_date": "2026-04-15",
              "program_end_date": "2026-07-15",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Neha Gupta",
              "rm_name": "Sanjay Menon",
              "diet_coach_name": "Divya Rao"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "lead_create response \u2014 created",
        "value": {
          "message": {
            "ok": true,
            "action": "created",
            "name": "CRM-LEAD-2026-00123",
            "source": "Niva Bupa",
            "vertical": "GoodFlip",
            "group": "Insurers",
            "program": "Niva Bupa"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "lead_create response \u2014 updated (existing lead found on the same line)",
        "value": {
          "message": {
            "ok": true,
            "action": "updated",
            "name": "CRM-LEAD-2026-00056",
            "source": "Niva Bupa",
            "vertical": "GoodFlip",
            "group": "Insurers",
            "program": "Niva Bupa"
          }
        }
      },
      "UpsertFailure": {
        "summary": "Failure \u2014 a raised Frappe error (non-2xx)",
        "value": {
          "exc_type": "ValidationError",
          "exception": "Please specify a reason for losing the lead."
        }
      },
      "ErrorLinkValidation": {
        "summary": "404 \u2014 invalid Link value",
        "value": {
          "exc_type": "LinkValidationError",
          "exception": "Could not find CRM Program: SigrimaXXX"
        }
      },
      "LookupVerticalResponse": {
        "summary": "Vertical lookup \u2014 example response",
        "value": {
          "data": [
            {
              "name": "GoodFlip"
            },
            {
              "name": "GoodFlip Care"
            },
            {
              "name": "Pill Up"
            },
            {
              "name": "TatvaPractice"
            }
          ]
        }
      },
      "LookupSubstageResponse": {
        "summary": "Lead Substage lookup \u2014 filtered by program",
        "value": {
          "data": [
            {
              "name": "Sigrima-New Patient",
              "substage_name": "New Patient",
              "main_stage": "New"
            },
            {
              "name": "Sigrima-Patient Ready for Chemo",
              "substage_name": "Patient Ready for Chemo",
              "main_stage": "Active"
            },
            {
              "name": "Sigrima-Coordination via ABM",
              "substage_name": "Coordination via ABM",
              "main_stage": "Active"
            }
          ]
        }
      },
      "AuthCheckResponse": {
        "summary": "Auth verification \u2014 successful key",
        "value": {
          "message": "mytatva-writer@tatvacare.in"
        }
      },
      "FileUploadResponse": {
        "summary": "File upload \u2014 successful (private)",
        "value": {
          "message": {
            "name": "c14b27639e",
            "file_name": "lab-report-may.pdf",
            "file_url": "/private/files/c14b27639e-lab-report-may.pdf",
            "is_private": 1,
            "attached_to_doctype": "CRM Lead",
            "attached_to_name": "CRM-LEAD-2026-00123",
            "file_size": 184231
          }
        }
      },
      "LeadSchemaResponse": {
        "summary": "lead_schema \u2014 a partner with a labs+plan grid",
        "value": {
          "message": {
            "lead": [
              {
                "fieldname": "mobile_no",
                "label": "Mobile No",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "status",
                "label": "Status",
                "type": "Link",
                "required": true,
                "options": "CRM Lead Status"
              }
            ],
            "children": {
              "custom_lab_profile": [
                {
                  "fieldname": "hba1c",
                  "label": "HbA1c",
                  "type": "Float",
                  "required": false,
                  "options": null
                },
                {
                  "fieldname": "report_date",
                  "label": "Report Date",
                  "type": "Date",
                  "required": false,
                  "options": null
                }
              ],
              "custom_plan_profile": [
                {
                  "fieldname": "policy_number",
                  "label": "Policy Number",
                  "type": "Data",
                  "required": false,
                  "options": null
                }
              ]
            },
            "child_write": "Send each child as a JSON array under its key, e.g. custom_lab_profile=[{...}]. The existing row is merged field-by-field.",
            "dedup": "A lead is unique per (mobile_no, product line, group). Re-sending the same trio updates that lead; a different line creates a new one.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_filters": [
                "status",
                "created_after",
                "created_before",
                "updated_after",
                "updated_before",
                "mobile_no"
              ]
            },
            "routing": {
              "mode": "forced",
              "source": "Niva Bupa",
              "vertical": "Metabolic",
              "group": "Niva Bupa",
              "program": "Niva Bupa",
              "note": "Your routing is fixed. Any routing fields you send are ignored."
            }
          }
        }
      },
      "LeadSchemaResponseInternal": {
        "summary": "lead_schema \u2014 a trusted internal (System Manager) key",
        "value": {
          "message": {
            "lead": [
              {
                "fieldname": "mobile_no",
                "label": "Mobile No",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "required": false,
                "options": null
              }
            ],
            "children": {},
            "child_write": "Send each child as a JSON array under its key, e.g. custom_lab_profile=[{...}]. The existing row is merged field-by-field.",
            "dedup": "A lead is unique per (mobile_no, product line, group). Re-sending the same trio updates that lead; a different line creates a new one.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_filters": [
                "status",
                "created_after",
                "created_before",
                "updated_after",
                "updated_before",
                "mobile_no"
              ]
            },
            "routing": {
              "mode": "caller-supplied",
              "fields": [
                "source",
                "custom_vertical",
                "custom_group",
                "custom_current_program"
              ],
              "note": "Trusted caller: send these routing fields in the body."
            }
          }
        }
      },
      "CuratedLeadGet": {
        "summary": "lead_get \u2014 one curated lead with children",
        "value": {
          "message": {
            "first_name": "Asha",
            "mobile_no": "+919000000001",
            "status": "New",
            "name": "CRM-LEAD-2026-00123",
            "source": "Niva Bupa",
            "custom_vertical": "Metabolic",
            "custom_group": "Niva Bupa",
            "custom_current_program": "Niva Bupa",
            "custom_lab_profile": [
              {
                "hba1c": 7.2,
                "report_date": "2026-05-30"
              }
            ],
            "custom_plan_profile": [
              {
                "policy_number": "NB-POL-0001"
              }
            ]
          }
        }
      },
      "LeadUpdateRequest": {
        "summary": "lead_update \u2014 flip status on a known lead",
        "value": {
          "name": "CRM-LEAD-2026-00123",
          "status": "Contacted",
          "custom_lab_profile": [
            {
              "hba1c": 6.9
            }
          ]
        }
      },
      "LeadUpdateResponse": {
        "summary": "lead_update \u2014 updated",
        "value": {
          "message": {
            "ok": true,
            "action": "updated",
            "name": "CRM-LEAD-2026-00123",
            "source": "Niva Bupa",
            "vertical": "Metabolic",
            "group": "Niva Bupa",
            "program": "Niva Bupa"
          }
        }
      },
      "LeadDeleteResponse": {
        "summary": "lead_delete \u2014 deleted",
        "value": {
          "message": {
            "ok": true,
            "action": "deleted",
            "name": "CRM-LEAD-2026-00123"
          }
        }
      },
      "LeadCreateBulkRequest": {
        "summary": "lead_create_bulk \u2014 two leads",
        "value": {
          "leads": [
            {
              "mobile_no": "9000000001",
              "first_name": "Asha",
              "custom_lab_profile": [
                {
                  "hba1c": 7.2
                }
              ]
            },
            {
              "mobile_no": "9000000002",
              "first_name": "Ravi",
              "status": "New"
            }
          ]
        }
      },
      "LeadUpdateBulkRequest": {
        "summary": "lead_update_bulk \u2014 two updates by name",
        "value": {
          "updates": [
            {
              "name": "CRM-LEAD-2026-00123",
              "status": "Contacted"
            },
            {
              "name": "CRM-LEAD-2026-00124",
              "custom_lab_profile": [
                {
                  "hba1c": 6.5
                }
              ]
            }
          ]
        }
      },
      "LeadDeleteBulkRequest": {
        "summary": "lead_delete_bulk \u2014 delete by name",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "BulkSuccessMixed": {
        "summary": "Bulk \u2014 partial success (one row failed)",
        "value": {
          "message": {
            "ok": true,
            "total": 2,
            "succeeded": 1,
            "failed": 1,
            "results": [
              {
                "index": 0,
                "ok": true,
                "action": "created",
                "name": "CRM-LEAD-2026-00125"
              },
              {
                "index": 1,
                "ok": false,
                "error": "mobile_no is required"
              }
            ]
          }
        }
      },
      "BulkDeleteSuccess": {
        "summary": "lead_delete_bulk \u2014 both deleted",
        "value": {
          "message": {
            "ok": true,
            "total": 2,
            "succeeded": 2,
            "failed": 0,
            "results": [
              {
                "index": 0,
                "ok": true,
                "action": "deleted",
                "name": "CRM-LEAD-2026-00123"
              },
              {
                "index": 1,
                "ok": true,
                "action": "deleted",
                "name": "CRM-LEAD-2026-00124"
              }
            ]
          }
        }
      },
      "LeadGetBulkRequestNames": {
        "summary": "lead_get_bulk \u2014 by names",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "LeadGetBulkRequestMobiles": {
        "summary": "lead_get_bulk \u2014 by mobile_nos",
        "value": {
          "mobile_nos": [
            "9000000001",
            "9000000002"
          ]
        }
      },
      "LeadGetBulkResponse": {
        "summary": "lead_get_bulk \u2014 found 1 of 2 (out-of-scope omitted)",
        "value": {
          "message": {
            "ok": true,
            "requested": 2,
            "found": 1,
            "leads": [
              {
                "first_name": "Asha",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Niva Bupa",
                "custom_vertical": "Metabolic",
                "custom_group": "Niva Bupa",
                "custom_current_program": "Niva Bupa",
                "custom_lab_profile": [
                  {
                    "hba1c": 7.2
                  }
                ]
              }
            ]
          }
        }
      },
      "LeadListResponse": {
        "summary": "lead_list \u2014 page of curated leads (no children)",
        "value": {
          "message": {
            "ok": true,
            "total": 137,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "leads": [
              {
                "first_name": "Asha",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Niva Bupa",
                "custom_vertical": "Metabolic",
                "custom_group": "Niva Bupa",
                "custom_current_program": "Niva Bupa"
              },
              {
                "first_name": "Ravi",
                "mobile_no": "+919000000002",
                "status": "Contacted",
                "name": "CRM-LEAD-2026-00124",
                "source": "Niva Bupa",
                "custom_vertical": "Metabolic",
                "custom_group": "Niva Bupa",
                "custom_current_program": "Niva Bupa"
              }
            ]
          }
        }
      }
    }
  },
  "paths": {
    "/api/method/frappe.auth.get_logged_user": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify API key",
        "description": "Returns the email of the user the API key belongs to. The single fastest way to verify your `Authorization` header is correct.\n\n**Use this** as your first call when integrating, and as a health-check in your CI/CD pipeline. Anything other than HTTP 200 with the user's email means your auth is broken before any business call.",
        "responses": {
          "200": {
            "description": "Authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "$ref": "#/components/examples/AuthCheckResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bad/missing API key. Body returns HTML (Frappe website login redirect) \u2014 that's the signal."
          }
        }
      }
    },
    "/api/resource/CRM Lead": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "List leads",
        "description": "Standard Frappe list endpoint. Returns the requested `fields` for leads matching `filters`, paginated.\n\nFilter operator vocabulary, pagination, and `--data-urlencode` curl pattern are explained in [Read](/docs/api/leads).",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"custom_current_program\",\"=\",\"Niva Bupa\"]]",
            "description": "JSON-encoded array of `[field, operator, value]` filters. AND'd together."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[\"name\",\"first_name\",\"mobile_no\",\"custom_current_program\"]",
            "description": "JSON-encoded array of fieldnames to return. Defaults to `name` only \u2014 usually you want more."
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size. Max recommended ~500."
          },
          {
            "name": "limit_start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip offset for pagination."
[...]
