{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare Partner API",
    "version": "1.0.0",
    "description": "Push leads into TatvaCare and read their state back. Your key decides exactly which fields you can read and write, and which product line your leads belong to — there is no fixed payload.\n\n## What this API does\n\nCreate or update leads by phone (idempotent), single or in bulk. Read one or list many. Delete by id. And **discover your schema** at runtime — call `lead_schema` to see exactly what your key may send and read.\n\n## The shape\n\n```\n Lead (one per phone, per product line)\n   ├── top-level fields        — first_name, mobile_no, status, …\n   └── child tables (arrays)   — e.g. custom_lab_profile[], custom_plan_profile[]\n```\n\nA lead is unique per phone within your line — re-sending the same phone updates that lead, it never duplicates, so every write is safe to retry. Your product line is fixed to your key.\n\n## Where to start\n\n- **New here?** Read the [Welcome](/docs/partner-welcome) and [Quickstart](/docs/partner-quickstart).\n- **Building a request?** Call [`lead_schema`](/docs/discover-schema) first — it returns your fields, which are required, and how your child tables work.\n- **Reading a response?** See [Reading values](/docs/reading-values) and [Errors](/docs/partner-errors).\n\nEvery endpoint has a live **try-it** console below — open it, paste your key, and hit **Send**.",
    "contact": {
      "name": "TatvaCare CRM Ops"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Getting started",
      "tags": [
        "Getting started",
        "Authentication"
      ]
    },
    {
      "name": "Partner Lead API",
      "tags": [
        "Partner Lead API"
      ]
    }
  ],
  "tags": [
    {
      "name": "Getting started",
      "description": "## Getting started\n\nThree steps to your first call:\n\n1. **Get a key** — you'll receive an API key + secret for your product line from TatvaCare Ops.\n2. **Set the header** on every request — see **Authentication** below.\n3. **Verify + discover** — call **Verify your API key**, then call `lead_schema` to see exactly which fields your key is granted, and build your create/update from that.\n\nThere is no fixed payload — your key decides your fields and your line.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Authentication",
      "description": "## How to authenticate\n\nEvery request needs an `Authorization` header:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nLiteral lowercase `token`, a single space, then your key and secret joined by a colon. Use **Verify your API key** below to confirm the header is right before any lead call.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Partner Lead API",
      "description": "Your entire surface — the gated lead methods. Each one resolves what your key is allowed to do: your fixed product line, and the fields you may send and read. Start with `lead_schema` to discover your contract, then create, read, update, or delete. Bulk variants handle up to 100 records per call.",
      "x-zudoku-collapsed": false
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Format: `token <api_key>:<api_secret>` — literal lowercase `token`, single space, key:secret joined by `:`. See [Conventions](/docs/conventions#auth) for how to request a key and verify it."
      }
    },
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on `CRM Lead` itself. The top-level fields your key may send/read live here; child tables embed as arrays. Call [`lead_schema`](/docs/discover-schema) to see exactly which fields your key is granted.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key, autonamed `CRM-LEAD-YYYY-NNNNN`. **Read-only** — never include in POST bodies (server generates).",
            "readOnly": true,
            "example": "CRM-LEAD-2026-00123"
          },
          "first_name": {
            "type": "string",
            "description": "First name. Set to `(no name)` if you genuinely don't have it (`lead_create` default-fills this if omitted)."
          },
          "last_name": {
            "type": "string",
            "description": "Last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Patient email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "**Required** — the dedup anchor (with product line + group). E.164 format: `+<country code><digits>`, no hyphens, no spaces.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164 same as mobile_no."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164 same as mobile_no."
          },
          "status": {
            "type": "string",
            "description": "**Required on create.** Universal lifecycle status. New leads start as `New`. Junk and Unqualified are 'Lost' type and require `lost_reason`. Read the allowed values from [`lead_schema`](/docs/discover-schema).",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Link to `CRM Lead Source`. Read the allowed values from [`lead_schema`](/docs/discover-schema)."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Email of the CRM user owning this lead. Link to `User`. **Only set if the email is a real Frappe user** — otherwise leave blank to avoid `LinkValidationError`."
          },
          "lost_reason": {
            "type": "string",
            "description": "**Required when `status` is `Junk` or `Unqualified`.** Link to `CRM Lost Reason`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "GoodFlip",
              "GoodFlip Care",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "**Permission-locked** (`permlevel=1`). Top-level product line. Link to `CRM Vertical`. See [Concepts › routing chain](/docs/discover-schema)."
          },
          "custom_group": {
            "type": "string",
            "enum": [
              "Anaya",
              "Anyra",
              "Eisai",
              "GoodFlip",
              "Insurers"
            ],
            "description": "**Permission-locked.** Sub-line under the vertical. Link to `CRM Group`."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Anyra - Retina",
              "Eisai - Alzheimers",
              "GoodFlip",
              "Niva Bupa",
              "Nivolumab",
              "Sigrima",
              "Tukavo",
              "Ujvira"
            ],
            "description": "The PRIMARY program. Link to `CRM Program`. **`permlevel=0`** — rep-writable, so a rep can self-handoff a program within their line (only `custom_vertical` + `custom_group` are manager-locked at `permlevel=1`). Multi-program patients are supported via profile-row presence (see [Discover your schema](/docs/discover-schema))."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "**Permission-locked.** The lead's previous program if they transitioned. Link to `CRM Program`. Captures the LAST switch only — full history is in the (deferred) activity layer."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "**Permission-locked. Write-once on capture, never updated.** Records the vertical the patient first entered through, even if their current vertical changes later."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated (deprecated for new writes — use `source` instead)."
          },
          "custom_program_lifecycle_stage": {
            "type": "string",
            "description": "**Permission-locked.** Cross-program lifecycle marker (Acquisition / Active / Retention / etc.) — used for cohort analytics."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External patient identifier from the source system (e.g. MyTatva user ID, partner system ID)."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy LeadSquared ProspectId — migration-only dedup key. Not populated for new leads after the LSQ cutover."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy LeadSquared lead number."
          },
          "custom_lsq_lead_stage_legacy": {
            "type": "string",
            "description": "Legacy LeadSquared stage. Read-only for reporting."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-gen system identifier (campaign or form submission ID)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Patient gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Patient date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Patient age in years. Not auto-calculated from DOB today — caller-provided."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Patient age bucket (e.g. `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Patient's preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State / region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to patient (e.g. Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Patient's job title (rarely used)."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "**Embedded child rows** (max 1 today). Plan / PSP / subscription / drug-program / payment / acquisition / dx-funnel data. On PUT, the array REPLACES the existing rows — see [Write › profile semantics](/docs/api)."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Embedded child rows. Lab values, vitals, conditions, scores."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Embedded child rows. Care team — coaches, RM, therapist, doctor, hospital."
          },
          "lead_name": {
            "type": "string",
            "description": "**Read-only.** Auto-computed from `first_name` + `last_name`. Never write directly.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Lead creation timestamp.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Last-modified timestamp. Useful for change-tracking / delta sync.",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "status"
        ]
      },
      "PlanProfile": {
        "type": "object",
        "description": "A child table of the lead holding plan-shaped data: subscription / enrollment, payment + insurer fields, acquisition (UTM + signup), and a program substage. Single-row — your fields merge onto the one row. The exact fields your key may use come from [`lead_schema`](/docs/discover-schema).",
        "properties": {
          "signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date the patient signed up (any platform)."
          },
          "mobile_app_signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date specifically of mobile app sign-up."
          },
          "signed_up_on_app": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean flag (0/1). Whether the patient signed up via mobile app."
          },
          "platform": {
            "type": "string",
            "description": "Mobile app platform — Android / iOS / Web."
          },
          "user_source": {
            "type": "string",
            "description": "Free-text source identifier (granular than `CRM Lead Source`)."
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source (marketing attribution)."
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium."
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign."
          },
          "utm_term": {
            "type": "string",
            "description": "UTM term."
          },
          "utm_content": {
            "type": "string",
            "description": "UTM content."
          },
          "utm_disease": {
            "type": "string",
            "description": "UTM disease tag — used in disease-targeted campaigns."
          },
          "utm_therapy_area": {
            "type": "string",
            "description": "UTM therapy-area tag."
          },
          "source_campaign": {
            "type": "string",
            "description": "Source campaign (alternate naming used by some campaigns)."
          },
          "source_medium": {
            "type": "string",
            "description": "Source medium."
          },
          "source_content": {
            "type": "string",
            "description": "Source content."
          },
          "plan_name": {
            "type": "string",
            "description": "Name of the plan / PSP / subscription the patient is enrolled in."
          },
          "plan_duration": {
            "type": "string",
            "description": "Plan duration (e.g. `3 months`, `12 months`)."
          },
          "plan_includes_cgm": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes a Continuous Glucose Monitor."
          },
          "cgm_brand": {
            "type": "string",
            "description": "CGM device brand (e.g. Abbott, Dexcom)."
          },
          "sensor_count": {
            "type": "integer",
            "description": "Number of CGM sensors included."
          },
          "transmitter_count": {
            "type": "integer",
            "description": "Number of CGM transmitters included."
          },
          "bca_device": {
            "type": "string",
            "description": "Body Composition Analyzer device, if part of the plan."
          },
          "recurrence": {
            "type": "string",
            "description": "Plan recurrence pattern (monthly / quarterly / annual)."
          },
          "program_duration": {
            "type": "string",
            "description": "Program / treatment duration."
          },
          "program_start_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment starts."
          },
          "program_end_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment ends."
          },
          "program_price": {
            "type": "number",
            "description": "Program price in INR."
          },
          "dx_landing_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient landed on the lab-test booking page. Stamp current time when the LSQ flag fires."
          },
          "dx_intent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient indicated intent to book."
          },
          "dx_details_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted personal details."
          },
          "dx_address_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted address."
          },
          "dx_slot_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient selected a slot."
          },
          "dx_confirmed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: booking confirmed."
          },
          "labtest_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Lab test booking completed (terminal funnel step)."
          },
          "invoice_uploaded": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the patient has uploaded an invoice."
          },
          "invoice_amount": {
            "type": "number",
            "description": "Invoice amount in INR."
          },
          "payment_link": {
            "type": "string",
            "format": "uri",
            "description": "URL the patient can use to complete payment."
          },
          "paying_status": {
            "type": "string",
            "description": "Free-text payment status (e.g. Paid, Pending, Defaulted)."
          },
          "coins_balance": {
            "type": "integer",
            "description": "Patient's loyalty/wallet coin balance."
          },
          "policy_number": {
            "type": "string",
            "description": "Insurer policy number (e.g. Niva Bupa policy)."
          },
          "member_id": {
            "type": "string",
            "description": "Insurer member identifier within the policy."
          },
          "priority_text": {
            "type": "string",
            "description": "Admin-only priority note."
          },
          "patient_indication": {
            "type": "string",
            "description": "Clinical indication (e.g. `HER2+ MBC`)."
          },
          "cancer_stage": {
            "type": "string",
            "description": "Cancer stage (e.g. `Stage IV`)."
          },
          "brain_mets_category": {
            "type": "string",
            "description": "Brain metastases category."
          },
          "tucavo_brain_mets": {
            "type": "string",
            "description": "Tukavo brain-mets indicator."
          },
          "side_effects": {
            "type": "string",
            "description": "Side effects experienced."
          },
          "side_effects_detail": {
            "type": "string",
            "description": "Free-text side-effects detail."
          },
          "pcr_received": {
            "type": "string",
            "description": "PCR (Pathology) report received status."
          },
          "reason_for_no_indication": {
            "type": "string",
            "description": "Reason if `patient_indication` couldn't be set."
          },
          "physio_or_dietician": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes physio / dietician."
          },
          "tucatinib_chemo_cycle": {
            "type": "integer",
            "description": "Tucatinib chemo cycle number."
          },
          "tucatinib_indication": {
            "type": "string",
            "description": "Tucatinib clinical indication."
          },
          "tucatinib_psp": {
            "type": "string",
            "description": "Tucatinib Patient Support Program identifier."
          },
          "tucatinib_dosage": {
            "type": "string",
            "description": "Tucatinib dosage."
          },
          "tukavo_psp": {
            "type": "string",
            "description": "Tukavo Patient Support Program identifier."
          },
          "sigrima_pap_category": {
            "type": "string",
            "description": "Sigrima Patient Assistance Program category."
          },
          "sigrima_psp_category": {
            "type": "string",
            "description": "Sigrima PSP category."
          },
          "sigrima_psp_enabled": {
            "type": "string",
            "description": "Sigrima PSP enabled flag."
          },
          "ujvira_chemo_cycle_number": {
            "type": "integer",
            "description": "Ujvira chemo cycle number."
          },
          "ujvira_indication": {
            "type": "string",
            "description": "Ujvira clinical indication."
          },
          "ujvira_pap_category": {
            "type": "string",
            "description": "Ujvira PAP category."
          },
          "ujvira_dosage": {
            "type": "string",
            "description": "Ujvira dosage."
          },
          "nivo_chemo_cycle": {
            "type": "integer",
            "description": "Nivolumab chemo cycle number."
          },
          "nivo_indication": {
            "type": "string",
            "description": "Nivolumab clinical indication."
          },
          "nivo_pap_category": {
            "type": "string",
            "description": "Nivolumab PAP category."
          },
          "nivo_dosage": {
            "type": "string",
            "description": "Nivolumab dosage."
          },
          "capecitabine_dosage": {
            "type": "string",
            "description": "Capecitabine dosage."
          },
          "vivitra_enabled": {
            "type": "string",
            "description": "Vivitra (Trastuzumab biosimilar) enabled flag."
          },
          "vivitra_free_required": {
            "type": "string",
            "description": "Whether free Vivitra is required."
          },
          "vivitra_order_cycle_number": {
            "type": "integer",
            "description": "Vivitra order cycle."
          },
          "vivitra_order_id": {
            "type": "string",
            "description": "Vivitra order identifier."
          },
          "transition_from_sigrima": {
            "type": "string",
            "description": "Transition marker if patient came from Sigrima."
          },
          "transition_from_ujvira": {
            "type": "string",
            "description": "Transition marker if patient came from Ujvira."
          },
          "transition_old_to_new_pap": {
            "type": "string",
            "description": "Transition from old PAP to new PAP."
          },
          "rx_status": {
            "type": "string",
            "description": "Prescription review status (e.g. Pending / Approved / Rejected)."
          },
          "rx_reviewed_by": {
            "type": "string",
            "format": "email",
            "description": "Email of the user who reviewed the prescription. Link to `User`."
          },
          "rx_rejection_reason": {
            "type": "string",
            "description": "Reason the prescription was rejected (if applicable)."
          },
          "substage": {
            "type": "string",
            "description": "**Program-scoped operational stage.** Link to `CRM Lead Substage`. Value format is `{program}-{substage_name}` (e.g. `Niva Bupa-Payment Link Sent`, `Sigrima-Patient Ready for Chemo`). Enumerate valid values for a program via [Lookups › Lead Substage](/docs/discover-schema). The universal `status` field on `CRM Lead` is independent of substage — see [Concepts › substages](/docs/discover-schema).",
            "example": "Niva Bupa-Payment Link Sent"
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "A multi-row child table of the lead, one row per lab report (keyed by `report_date`): lab values, vitals, conditions, and metabolic scores. The exact fields your key may use come from [`lead_schema`](/docs/discover-schema).",
        "properties": {
          "hba1c": {
            "type": "number",
            "description": "HbA1c — 3-month average blood sugar (%)."
          },
          "fbs": {
            "type": "number",
            "description": "Fasting Blood Sugar (mg/dL)."
          },
          "ldl": {
            "type": "number",
            "description": "LDL Cholesterol (mg/dL)."
          },
          "hdl": {
            "type": "number",
            "description": "HDL Cholesterol (mg/dL)."
          },
          "vldl": {
            "type": "number",
            "description": "VLDL Cholesterol (mg/dL)."
          },
          "total_cholesterol": {
            "type": "number",
            "description": "Total Cholesterol (mg/dL)."
          },
          "triglycerides": {
            "type": "number",
            "description": "Triglycerides (mg/dL)."
          },
          "tsh": {
            "type": "number",
            "description": "TSH — Thyroid Stimulating Hormone."
          },
          "creatinine": {
            "type": "number",
            "description": "Creatinine (mg/dL) — kidney function marker."
          },
          "egfr": {
            "type": "number",
            "description": "eGFR — Estimated Glomerular Filtration Rate (kidney)."
          },
          "alt_sgpt": {
            "type": "number",
            "description": "ALT / SGPT — liver enzyme."
          },
          "ggt": {
            "type": "number",
            "description": "GGT — liver enzyme."
          },
          "height_feet": {
            "type": "number",
            "description": "Patient height in feet."
          },
          "weight_kg": {
            "type": "number",
            "description": "Patient weight in kg."
          },
          "bmi": {
            "type": "number",
            "description": "Body Mass Index. Caller-computed today (no auto-calc hook yet). Formula: `weight_kg / (height_meters^2)`."
          },
          "primary_condition": {
            "type": "string",
            "description": "Patient's primary medical condition. Free text today; will become a Link master when the option list is locked."
          },
          "comorbid_conditions": {
            "type": "string",
            "description": "Comma-separated co-morbid conditions. Will move to a child Table doctype when multi-select pattern is needed."
          },
          "initial_metabolic_score": {
            "type": "number",
            "description": "Initial metabolic score from assessment."
          },
          "final_metabolic_score": {
            "type": "number",
            "description": "Final / latest metabolic score."
          },
          "metabolic_questionnaire_link": {
            "type": "string",
            "format": "uri",
            "description": "URL to the metabolic questionnaire PDF / form."
          },
          "assessment_responses": {
            "type": "string",
            "description": "Raw assessment payload — typically a JSON-as-string blob with all questionnaire responses."
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "Date the lab report was generated (`YYYY-MM-DD`)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "A single-row child table of the lead: the patient's care team (coaches, RM, therapist) and medical providers (treating doctor + hospital). The exact fields your key may use come from [`lead_schema`](/docs/discover-schema).",
        "properties": {
          "success_coach_name": {
            "type": "string",
            "description": "Success Coach name — primary internal contact for the patient."
          },
          "rm_name": {
            "type": "string",
            "description": "Relationship Manager name — handles calls and follow-ups."
          },
          "therapist_name": {
            "type": "string",
            "description": "Therapist / counsellor name."
          },
          "diet_coach_name": {
            "type": "string",
            "description": "Diet coach name."
          },
          "exercise_coach_name": {
            "type": "string",
            "description": "Exercise coach name."
          },
          "abm_name": {
            "type": "string",
            "description": "Area Business Manager — operational lead handler for PSP-style engagements."
          },
          "doctor_name": {
            "type": "string",
            "description": "Treating doctor's short name."
          },
          "doctor_full_name": {
            "type": "string",
            "description": "Treating doctor's full name."
          },
          "hospital_name": {
            "type": "string",
            "description": "Hospital short name."
          },
          "hospital_full_name": {
            "type": "string",
            "description": "Hospital full name."
          },
          "hospital_city": {
            "type": "string",
            "description": "Hospital city short code."
          },
          "hospital_city_name": {
            "type": "string",
            "description": "Hospital city full name."
          },
          "hospital_state": {
            "type": "string",
            "description": "Hospital state."
          },
          "hospital_type": {
            "type": "string",
            "description": "Hospital type (e.g. Private, Government, Trust)."
          },
          "coach_appointment_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the patient's first coach appointment was booked."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `POST /api/method/tatva_connect.api.partner.lead_create`. Only `mobile_no` is strictly required (the dedup anchor); `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other fields are optional and must be within the fields your key is allowed to send (call `lead_schema` to see them). You never send routing — it's set for you server-side. Profile children embed as arrays and merge field-by-field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ]
      },
      "LeadUpdateRequest": {
        "type": "object",
        "description": "Request body for `lead_update`. Carries the CRM `name` (the id `lead_create` returned) plus any allowed fields to change. Parent fields you SEND are updated, fields you OMIT are left alone; profile children merge field-by-field. You can't change routing — it's fixed to your key.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "name"
            ],
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id to update.",
                "example": "CRM-LEAD-2026-00123"
              }
            }
          }
        ]
      },
      "PartnerError": {
        "type": "object",
        "description": "Every failure on a partner method returns this exact envelope — including framework-layer errors (bad key, malformed body), which are normalised so you never see a raw traceback. Branch on `error.code` (stable, machine-readable); show `error.message` to a human; the HTTP status mirrors the code. See the **Errors** page for the full `error.code` → HTTP map.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Always `error` on a failure."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "validation_error",
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "duplicate",
                  "cannot_delete",
                  "rate_limited",
                  "server_error"
                ],
                "description": "Stable machine-readable code. Branch on this, not on the message text."
              },
              "message": {
                "type": "string",
                "description": "Human-readable message (safe to surface)."
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Present on some `validation_error`s — the field name(s) that failed."
              },
              "retry_after": {
                "type": "integer",
                "description": "Present only on `rate_limited` (429): seconds until your key's budget resets."
              }
            },
            "required": [
              "code",
              "message"
            ]
          }
        },
        "required": [
          "status",
          "error"
        ]
      },
      "PartnerWriteResponse": {
        "type": "object",
        "description": "Success envelope from `lead_create` / `lead_update` / `lead_delete`. **Top-level — there is no `message` wrapper** (the gated partner methods emit the body directly). Read `status` first, then `action`, then `data`. A failure instead returns the [PartnerError](#partnererror) envelope with a non-2xx status.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` on a 2xx."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deleted"
            ],
            "description": "What happened: a new lead, an upsert onto an existing one, or a delete."
          },
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id (e.g. `CRM-LEAD-2026-00123`). PUT this back to `lead_update`."
              },
              "source": {
                "type": "string",
                "description": "Lead source (forced from your mapping for partners)."
              },
              "vertical": {
                "type": "string",
                "description": "Product line (`custom_vertical`)."
              },
              "group": {
                "type": "string",
                "description": "Group (`custom_group`)."
              },
              "program": {
                "type": "string",
                "description": "Current program (`custom_current_program`)."
              }
            },
            "description": "On `deleted`, only `name` is present."
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "PartnerReadResponse": {
        "type": "object",
        "description": "Success envelope from `lead_get` / `lead_list`. Top-level (no `message` wrapper). `action` is `fetched`; `data` carries the curated lead (`lead_get`) or the page object (`lead_list`).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "description": "The curated lead (`lead_get`) or the page object `{total,count,offset,limit,leads[]}` (`lead_list`)."
          }
        },
        "required": [
          "status",
          "action",
          "data"
        ]
      },
      "PartnerSchemaResponse": {
        "type": "object",
        "description": "Success envelope from `lead_schema`. Top-level (no `message` wrapper), no `action`. `data` holds the fields THIS key may send/read, the child-write rules, dedup grain, bulk limits, and routing mode.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "lead": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Allowed parent (CRM Lead) fields."
              },
              "children": {
                "type": "object",
                "description": "Per child table: `{multi_row, key_field, fields[]}`. `multi_row:true` ⇒ upsert-by-key on `key_field`."
              },
              "child_write": {
                "type": "string",
                "description": "How to send child arrays + the upsert-by-key rule."
              },
              "dedup": {
                "type": "string",
                "description": "The lead grain (mobile_no + product line + group)."
              },
              "bulk": {
                "type": "object",
                "description": "`max_per_call`, `list_page_max`, allowed `list_filters`."
              },
              "routing": {
                "type": "object",
                "description": "`mode:forced` (partner, line fixed) or `caller-supplied` (internal)."
              }
            }
          }
        },
        "required": [
          "status",
          "data"
        ]
      },
      "PartnerBulkResultEntry": {
        "type": "object",
        "description": "One record's outcome in a bulk response. `status` is `success` or `error` per row. On `success`: `action`+`name` (writes) or `data` (lead_get_bulk). On `error`: the same `error:{code,message}` block as the top-level [PartnerError](#partnererror).",
        "properties": {
          "index": {
            "type": "integer",
            "description": "0-based position in the request array (results are input-ordered)."
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deleted"
            ],
            "description": "Present on a successful write row."
          },
          "name": {
            "type": "string",
            "description": "CRM Lead id (present on a successful write row)."
          },
          "data": {
            "type": "object",
            "description": "Curated lead (present on a successful `lead_get_bulk` row)."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "Present on a failed row (its savepoint rolled back)."
          }
        },
        "required": [
          "index",
          "status"
        ]
      },
      "PartnerBulkResponse": {
        "type": "object",
        "description": "Partial-success envelope shared by every bulk method. Top-level (no `message` wrapper). Each record runs in its own savepoint — one bad row reports its error, the rest still commit. `summary` is `{total,succeeded,failed}` for writes and `{requested,found,not_found}` for `lead_get_bulk`. Inspect `results[].status` per row; the HTTP status is 200 even when some rows failed.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` — the batch ran (individual rows may have failed)."
          },
          "summary": {
            "type": "object",
            "description": "Counts: writes ⇒ `{total,succeeded,failed}`; get ⇒ `{requested,found,not_found}`."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerBulkResultEntry"
            },
            "description": "Per-record outcome, in request order."
          }
        },
        "required": [
          "status",
          "summary",
          "results"
        ]
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable — just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child — lab values for an insurer lead",
        "description": "Now we attach a Lab Profile row. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Ramesh",
          "status": "New",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full — insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Ramesh",
          "last_name": "Kumar",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://niva.example/pay/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full — oncology PSP lead (drug program + care team)",
        "description": "Realistic shape for an Anaya Sigrima clinical lead. Plan Profile has drug-specific fields + the program substage; Care & Providers has the assigned coach + doctor + hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Sunita Rao",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Arjun Rao",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "custom_plan_profile": [
            {
              "patient_indication": "HER2+ MBC",
              "cancer_stage": "Stage IV",
              "sigrima_psp_category": "PSP A",
              "vivitra_enabled": "Yes",
              "substage": "Sigrima-Patient Ready for Chemo"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "Vikram Iyer",
              "success_coach_name": "Neha Gupta",
              "doctor_name": "Dr. A. Sharma",
              "hospital_name": "City Oncology Centre",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full — wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a MyTatva-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Kabir Shah",
          "status": "New",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Wellness Plus",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Neha Gupta",
              "rm_name": "Sanjay Menon",
              "diet_coach_name": "Divya Rao"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "lead_create response — created",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "CRM-LEAD-2026-00123",
            "source": "Niva Bupa",
            "vertical": "GoodFlip",
            "group": "Insurers",
            "program": "Niva Bupa"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "lead_create response — updated (existing lead found on the same line)",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "CRM-LEAD-2026-00056",
            "source": "Niva Bupa",
            "vertical": "GoodFlip",
            "group": "Insurers",
            "program": "Niva Bupa"
          }
        }
      },
      "LeadSchemaResponse": {
        "summary": "lead_schema — a key granted labs + plan fields",
        "value": {
          "status": "success",
          "data": {
            "lead": [
              {
                "fieldname": "mobile_no",
                "label": "Mobile No",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "status",
                "label": "Status",
                "type": "Link",
                "required": true,
                "options": "CRM Lead Status"
              }
            ],
            "children": {
              "custom_lab_profile": [
                {
                  "fieldname": "hba1c",
                  "label": "HbA1c",
                  "type": "Float",
                  "required": false,
                  "options": null
                },
                {
                  "fieldname": "report_date",
                  "label": "Report Date",
                  "type": "Date",
                  "required": false,
                  "options": null
                }
              ],
              "custom_plan_profile": [
                {
                  "fieldname": "policy_number",
                  "label": "Policy Number",
                  "type": "Data",
                  "required": false,
                  "options": null
                }
              ]
            },
            "child_write": "Send each child as a JSON array under its key. Multi-row children are upsert-by-key on key_field: a new key adds a row, the same key updates that row (only sent fields change), omitted rows are untouched. Single-row children merge onto the one row. Delete a row with {<key_field>, \"_delete\": true}.",
            "dedup": "A lead is unique per (mobile_no, product line, group). Re-sending the same trio updates that lead; a different line creates a new one.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_filters": [
                "status",
                "created_after",
                "created_before",
                "updated_after",
                "updated_before",
                "mobile_no"
              ]
            },
            "routing": {
              "mode": "forced",
              "source": "Niva Bupa",
              "vertical": "Metabolic",
              "group": "Niva Bupa",
              "program": "Niva Bupa",
              "note": "Your routing is fixed. Any routing fields you send are ignored."
            }
          }
        }
      },
      "CuratedLeadGet": {
        "summary": "lead_get — one curated lead with children",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "first_name": "Asha",
            "mobile_no": "+919000000001",
            "status": "New",
            "name": "CRM-LEAD-2026-00123",
            "source": "Niva Bupa",
            "custom_vertical": "Metabolic",
            "custom_group": "Niva Bupa",
            "custom_current_program": "Niva Bupa",
            "custom_lab_profile": [
              {
                "hba1c": 7.2,
                "report_date": "2026-05-30",
                "name": "a1b2c3"
              }
            ],
            "custom_plan_profile": [
              {
                "policy_number": "NB-POL-0001",
                "name": "d4e5f6"
              }
            ]
          }
        }
      },
      "LeadUpdateRequest": {
        "summary": "lead_update — flip status on a known lead",
        "value": {
          "name": "CRM-LEAD-2026-00123",
          "status": "Contacted",
          "custom_lab_profile": [
            {
              "hba1c": 6.9,
              "report_date": "2026-05-18"
            }
          ],
          "summary": "lead_update — flip status, upsert one lab row by its key"
        }
      },
      "LeadUpdateResponse": {
        "summary": "lead_update — updated",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "CRM-LEAD-2026-00123",
            "source": "Niva Bupa",
            "vertical": "Metabolic",
            "group": "Niva Bupa",
            "program": "Niva Bupa"
          }
        }
      },
      "LeadDeleteResponse": {
        "summary": "lead_delete — deleted",
        "value": {
          "status": "success",
          "action": "deleted",
          "data": {
            "name": "CRM-LEAD-2026-00123"
          }
        }
      },
      "LeadCreateBulkRequest": {
        "summary": "lead_create_bulk — two leads",
        "value": {
          "leads": [
            {
              "mobile_no": "9000000001",
              "first_name": "Asha",
              "custom_lab_profile": [
                {
                  "hba1c": 7.2
                }
              ]
            },
            {
              "mobile_no": "9000000002",
              "first_name": "Ravi",
              "status": "New"
            }
          ]
        }
      },
      "LeadUpdateBulkRequest": {
        "summary": "lead_update_bulk — two updates by name",
        "value": {
          "updates": [
            {
              "name": "CRM-LEAD-2026-00123",
              "status": "Contacted"
            },
            {
              "name": "CRM-LEAD-2026-00124",
              "custom_lab_profile": [
                {
                  "hba1c": 6.5
                }
              ]
            }
          ]
        }
      },
      "LeadDeleteBulkRequest": {
        "summary": "lead_delete_bulk — delete by name",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "BulkSuccessMixed": {
        "summary": "Bulk — partial success (one row failed)",
        "value": {
          "status": "success",
          "summary": {
            "total": 2,
            "succeeded": 1,
            "failed": 1
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "created",
              "name": "CRM-LEAD-2026-00125"
            },
            {
              "index": 1,
              "status": "error",
              "error": {
                "code": "validation_error",
                "message": "mobile_no is required"
              }
            }
          ]
        }
      },
      "BulkDeleteSuccess": {
        "summary": "lead_delete_bulk — both deleted",
        "value": {
          "status": "success",
          "summary": {
            "total": 2,
            "succeeded": 2,
            "failed": 0
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "deleted",
              "name": "CRM-LEAD-2026-00123"
            },
            {
              "index": 1,
              "status": "success",
              "action": "deleted",
              "name": "CRM-LEAD-2026-00124"
            }
          ]
        }
      },
      "LeadGetBulkRequestNames": {
        "summary": "lead_get_bulk — by names",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "LeadGetBulkRequestMobiles": {
        "summary": "lead_get_bulk — by mobile_nos",
        "value": {
          "mobile_nos": [
            "9000000001",
            "9000000002"
          ]
        }
      },
      "LeadGetBulkResponse": {
        "summary": "lead_get_bulk — found 1 of 2 (out-of-scope omitted)",
        "value": {
          "status": "success",
          "summary": {
            "requested": 2,
            "found": 1,
            "not_found": 1
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "data": {
                "first_name": "Asha",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Niva Bupa",
                "custom_vertical": "Metabolic",
                "custom_group": "Niva Bupa",
                "custom_current_program": "Niva Bupa",
                "custom_lab_profile": [
                  {
                    "hba1c": 7.2,
                    "report_date": "2026-05-30",
                    "name": "a1b2c3"
                  }
                ]
              }
            },
            {
              "index": 1,
              "status": "error",
              "error": {
                "code": "not_found",
                "message": "Lead not found"
              }
            }
          ]
        }
      },
      "LeadListResponse": {
        "summary": "lead_list — page of curated leads (no children)",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 137,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "leads": [
              {
                "first_name": "Asha",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Niva Bupa",
                "custom_vertical": "Metabolic",
                "custom_group": "Niva Bupa",
                "custom_current_program": "Niva Bupa"
              },
              {
                "first_name": "Ravi",
                "mobile_no": "+919000000002",
                "status": "Contacted",
                "name": "CRM-LEAD-2026-00124",
                "source": "Niva Bupa",
                "custom_vertical": "Metabolic",
                "custom_group": "Niva Bupa",
                "custom_current_program": "Niva Bupa"
              }
            ]
          }
        }
      },
      "AuthCheckResponse": {
        "summary": "Verified — your key is valid",
        "value": {
          "message": "your-integration@partner.example"
        }
      }
    }
  },
  "paths": {
    "/api/method/tatva_connect.api.partner.lead_schema": {
      "get": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Discover the fields your key may use",
        "description": "**Discovery — call this in your integration code instead of hardcoding a field list.** Returns exactly the parent + child fields THIS key may send/read (each with `fieldname`, `label`, `type`, `required`, `options`), the child-write/dedup notes, the bulk/list limits, and your `routing` mode. Two keys get **different** lists — build from what *your* key returns. `routing.mode` is `forced` — your line is fixed to your key.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's allowed fields + routing mode under `data` (no `message` wrapper).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSchemaResponse"
                },
                "examples": {
                  "Your schema": {
                    "$ref": "#/components/examples/LeadSchemaResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_get": {
      "get": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Read one lead by name or mobile_no",
        "description": "Fetch ONE lead by `name` **or** `mobile_no`. Returns only the caller's allowed fields plus the read-only routing block, with profile children (`custom_lab_profile`, `custom_plan_profile`) inlined and filtered to allowed fields. You only see leads on your own line; a lookup outside it returns a 404 `not_found`. Pass exactly one of `name` / `mobile_no`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "CRM Lead id (the value `lead_create` returned). Use this OR `mobile_no`.",
            "example": "CRM-LEAD-2026-00123"
          },
          {
            "name": "mobile_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "10-digit Indian number (auto-normalised to `+91…`) or an already-`+`-prefixed number. Use this OR `name`.",
            "example": "9000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "The curated lead (top-level `status`/`action:fetched`/`data`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReadResponse"
                },
                "examples": {
                  "One lead": {
                    "$ref": "#/components/examples/CuratedLeadGet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside your line (identical — anti-enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_list": {
      "get": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "List leads, filtered and paginated",
        "description": "List leads on the caller's line, filtered + paginated. Honours a **curated, safe set of filters only** (never arbitrary fields) and always auto-scopes to your line. Returns curated parent fields, **no children** — use `lead_get` for the full record. Page size defaults to 20, max 200; page with `offset`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact lead status (e.g. `New`, `Contacted`).",
            "example": "New"
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`creation` >= this date/datetime.",
            "example": "2026-05-01"
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`creation` <= this date/datetime.",
            "example": "2026-06-01"
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`modified` >= this date/datetime.",
            "example": "2026-05-01"
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`modified` <= this date/datetime.",
            "example": "2026-06-01"
          },
          {
            "name": "mobile_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact phone (auto-normalised to `+91…`).",
            "example": "9000000001"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            },
            "example": 50,
            "description": "Page size. Default 20, max 200."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "example": 0,
            "description": "Rows to skip (paging). Alias `limit_start` is also accepted."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of curated leads under `data` (no children — use `lead_get` for the full record).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReadResponse"
                },
                "examples": {
                  "Page": {
                    "$ref": "#/components/examples/LeadListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_create": {
      "post": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Create or update a lead",
        "description": "**The default write endpoint for ~99% of integrations.** Idempotent on the lead grain (`mobile_no` + product line + group). Safe to retry. Finds the existing lead matching that trio and updates it, or creates a new one. Returns the CRM `name` — PUT it back to `lead_update`. Profile children are passed as embedded arrays.\n\n### What you may send\n\nOnly the fields YOUR key is allowed to send — call `lead_schema` to see them. Your routing (`source` / product line / `group` / `program`) is **set for you** and stamped server-side — any routing fields you send are ignored. Fields outside your allowed set are dropped.\n\n### How it merges\n\nFor an existing lead, parent fields you SEND are updated; fields you OMIT are LEFT ALONE. Profile children **merge field-by-field** into the existing row (a partial write never wipes the row).\n\n### Default-fill behaviour\n\n- Missing `first_name` → set to `(no name)`\n- Missing `status` → set to `New`\n- Profile arrays accept either actual JSON arrays or stringified JSON.\n\n### Common pitfalls\n\n- Sending an unknown option value (e.g. a status that isn't valid) → `validation_error`. Read the allowed values from `lead_schema` first.\n- Setting `status` to a 'lost' value without its required reason → `validation_error`.\n- Sending fields outside your allowed set → silently dropped (not an error). Confirm with `lead_schema`.\n\n### Related\n\n[Read one lead](/docs/api) to fetch the lead back after writing. [Discover your schema](/docs/discover-schema) to read your fields, required flags, and child keys before writing.\n\n> 🔑 **Discover your fields first.** There's no fixed payload — your granted fields, which are required, and each child table's key all come from **`lead_schema`**. Call it, read `required` / `multi_row` / `key_field`, then build this request. See [Discover your schema](/docs/discover-schema).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLeadRequest"
              },
              "examples": {
                "1. Minimum viable": {
                  "$ref": "#/components/examples/MinimalUpsert"
                },
                "2. With one child row": {
                  "$ref": "#/components/examples/UpsertWithOneProfile"
                },
                "3. Insurer + labs": {
                  "$ref": "#/components/examples/InsurerLabIntakeLead"
                },
                "4. Oncology PSP": {
                  "$ref": "#/components/examples/OncologyPSPLead"
                },
                "5. Wellness subscription": {
                  "$ref": "#/components/examples/WellnessSubscriptionLead"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created or upserted (top-level `status`/`action`/`data`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWriteResponse"
                },
                "examples": {
                  "Created": {
                    "$ref": "#/components/examples/UpsertSuccessCreated"
                  },
                  "Updated": {
                    "$ref": "#/components/examples/UpsertSuccessUpdated"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call. (or a partner reached outside their line).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_create_bulk": {
      "post": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Create or update many leads",
        "description": "Create-or-update up to **100** leads in one call. Body: `{\"leads\":[{...}, …]}`. Each record uses the same idempotent phone+line dedup and field rules as `lead_create`, and runs in its own savepoint — **partial success**: one bad row reports its error, the rest still commit. Over 100 records returns a clean error (page the rest).\n\n> 🔑 **Discover your fields first.** There's no fixed payload — your granted fields, which are required, and each child table's key all come from **`lead_schema`**. Call it, read `required` / `multi_row` / `key_field`, then build this request. See [Discover your schema](/docs/discover-schema).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "leads"
                ],
                "properties": {
                  "leads": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/UpsertLeadRequest"
                    },
                    "description": "Up to 100 lead payloads (same shape as `lead_create`)."
                  }
                }
              },
              "examples": {
                "Two leads": {
                  "$ref": "#/components/examples/LeadCreateBulkRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch ran — partial success. Inspect `summary` + `results[].status` (HTTP 200 even if some rows failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "Partial success": {
                    "$ref": "#/components/examples/BulkSuccessMixed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_get_bulk": {
      "post": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Read many leads by names or mobile_nos",
        "description": "Read up to **100** leads in one call by `names` **or** `mobile_nos` (send one). Returns the curated leads found (allowed fields + read-only routing + inlined children). Out-of-scope or missing ids are simply omitted — `found` may be less than `requested`. Uses POST because the id list travels in the body.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "names": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 100 CRM Lead ids. Use this OR `mobile_nos`."
                  },
                  "mobile_nos": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 100 phone numbers (auto-normalised). Use this OR `names`."
                  }
                },
                "description": "Send exactly one of `names` / `mobile_nos`."
              },
              "examples": {
                "By names": {
                  "$ref": "#/components/examples/LeadGetBulkRequestNames"
                },
                "By mobile_nos": {
                  "$ref": "#/components/examples/LeadGetBulkRequestMobiles"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leads found (input-ordered `results[]`; missing/out-of-scope rows report `not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "Found 1 of 2": {
                    "$ref": "#/components/examples/LeadGetBulkResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_update": {
      "put": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Update a lead by CRM name",
        "description": "Update an existing lead identified by its CRM `name` (the id `lead_create` returned). Send `name` plus any allowed fields; parent fields you SEND are updated, fields you OMIT are LEFT ALONE, and profile children **merge field-by-field** (a partial write never wipes the row). You can only update leads on your own line, and you can never move a lead to a different line (routing is fixed to your key).\n\n> 🔑 **Discover your fields first.** There's no fixed payload — your granted fields, which are required, and each child table's key all come from **`lead_schema`**. Call it, read `required` / `multi_row` / `key_field`, then build this request. See [Discover your schema](/docs/discover-schema).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdateRequest"
              },
              "examples": {
                "Update": {
                  "$ref": "#/components/examples/LeadUpdateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created or upserted (top-level `status`/`action`/`data`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWriteResponse"
                },
                "examples": {
                  "Updated": {
                    "$ref": "#/components/examples/LeadUpdateResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside your line (identical — anti-enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_update_bulk": {
      "put": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Update many leads",
        "description": "Update up to **100** leads in one call. Body: `{\"updates\":[{\"name\":…, …fields}, …]}` — each entry needs its CRM `name` plus the fields to change. Same merge semantics and partner scope-check as `lead_update`, applied per record in its own savepoint (**partial success**).\n\n> 🔑 **Discover your fields first.** There's no fixed payload — your granted fields, which are required, and each child table's key all come from **`lead_schema`**. Call it, read `required` / `multi_row` / `key_field`, then build this request. See [Discover your schema](/docs/discover-schema).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "updates"
                ],
                "properties": {
                  "updates": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CRMLeadUniversal"
                        },
                        {
                          "type": "object",
                          "required": [
                            "name"
                          ],
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "CRM Lead id to update.",
                              "example": "CRM-LEAD-2026-00123"
                            }
                          }
                        }
                      ]
                    },
                    "description": "Up to 100 update payloads; each carries `name` + allowed fields."
                  }
                }
              },
              "examples": {
                "Two updates": {
                  "$ref": "#/components/examples/LeadUpdateBulkRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch ran — partial success. Inspect `summary` + `results[].status` (HTTP 200 even if some rows failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "Partial success": {
                    "$ref": "#/components/examples/BulkSuccessMixed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or a record is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_delete": {
      "delete": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Delete a lead by CRM name",
        "description": "Delete a lead by its CRM `name` (query param or body). You can only delete leads on your own line. A lead with linked activity (calls, tasks, notes) raises `LinkExistsError`, so a worked lead can't be silently nuked.\n\n> 🔑 **Discover your fields first.** There's no fixed payload — your granted fields, which are required, and each child table's key all come from **`lead_schema`**. Call it, read `required` / `multi_row` / `key_field`, then build this request. See [Discover your schema](/docs/discover-schema).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "CRM Lead id to delete (may also be sent in the JSON body).",
            "example": "CRM-LEAD-2026-00123"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted (`status:success`, `action:deleted`, `data:{name}`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWriteResponse"
                },
                "examples": {
                  "Deleted": {
                    "$ref": "#/components/examples/LeadDeleteResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside your line (identical — anti-enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Lead has linked activity — `cannot_delete` (generic message by design).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_delete_bulk": {
      "delete": {
        "tags": [
          "Partner Lead API"
        ],
        "summary": "Delete many leads",
        "description": "Delete up to **100** leads by CRM `name`. Body: `{\"names\":[…]}`. Each delete runs in its own savepoint (**partial success**) and is partner scope-checked; a lead with linked activity fails with `LinkExistsError` for that row while the rest proceed.\n\n> 🔑 **Discover your fields first.** There's no fixed payload — your granted fields, which are required, and each child table's key all come from **`lead_schema`**. Call it, read `required` / `multi_row` / `key_field`, then build this request. See [Discover your schema](/docs/discover-schema).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "names"
                ],
                "properties": {
                  "names": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 100 CRM Lead ids to delete."
                  }
                }
              },
              "examples": {
                "Names": {
[...]
