{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare Partner API",
    "version": "1.0.0",
    "description": "Push leads into TatvaCare and read their state back. Your key decides exactly which fields you can read and write, and which product line your leads belong to — there is no fixed payload.\n\n## What this API does\n\nCreate or update leads by phone (idempotent), single or in bulk. Read one or list many. Delete by id. And **discover your schema** at runtime — call `lead_schema` to see exactly what your key may send and read.\n\n## The shape\n\n```\n Lead (one per phone, per product line + group)\n   ├── top-level fields        — first_name, mobile_no, status, …\n   └── child tables (arrays)   — e.g. custom_lab_profile[], custom_plan_profile[]\n```\n\nA lead is unique per phone + product line + group — re-sending the same patient updates that lead, it never duplicates, so every write is safe to retry. Product line and group are fixed to your key; the program is a mutable attribute (sent in *List* mode, stamped in *Forced* mode) and is never part of identity.\n\n## Where to start\n\n- **New here?** Read the [Overview](/partner-welcome) and [Quickstart](/partner-quickstart).\n- **Building a request?** Call [`lead_schema`](/discover-schema) first — it returns your fields, which are required, and how your child tables work.\n- **Reading a response?** See [Reading responses](/reading-values) and [Errors](/partner-errors).\n\nEvery endpoint has a live **try-it** console below. [Save your API key](/partner-validate-key) once — the console reuses it on every request — then open an endpoint and hit **Send**.",
    "contact": {
      "name": "TatvaCare CRM Ops"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    },
    {
      "url": "http://dev.localhost:8000",
      "description": "Local dev bench"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication",
      "tags": [
        "Authentication"
      ]
    },
    {
      "name": "Lead",
      "tags": [
        "Lead"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Every request needs an `Authorization` header:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nLiteral lowercase `token`, a single space, then your key and secret joined by a colon.\n\n[Save your API key](/partner-validate-key) once and the try-it console reuses it everywhere — you never re-paste it. Then use **Verify your API key** below to confirm the header is right before any lead call.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Lead",
      "description": "Your entire surface — the gated lead methods. Each one resolves what your key is allowed to do: your fixed product line, and the fields you may send and read. Raw `/api/resource/CRM Lead` is **not** available to partner keys (it returns `403`); these methods are the supported path.\n\n| HTTP method | Method | Does |\n|---|---|---|\n| GET | `lead_schema` | Discovery — exactly the fields YOUR key may send/read, plus your routing mode. |\n| GET | `lead_get` | Read one lead by `name` or `mobile_no`. |\n| POST | `lead_create` | Create-or-upsert by phone. Returns the CRM `name`. |\n| PUT | `lead_update` | Update a lead by CRM `name` (the id `lead_create` returned). |\n| DELETE | `lead_delete` | Delete a lead by CRM `name` (a lead with linked activity can't be deleted). |\n| POST | `lead_create_bulk` | `{\"leads\":[{...}, …]}` (≤ 100). Partial success. |\n| PUT | `lead_update_bulk` | `{\"updates\":[{\"name\":…, …}, …]}` (≤ 100). Partial success. |\n| DELETE | `lead_delete_bulk` | `{\"names\":[…]}` (≤ 100). Partial success. |\n| POST | `lead_get_bulk` | `{\"names\":[…]}` **or** `{\"mobile_nos\":[…]}` (≤ 100). Out-of-scope ids omitted. |\n| GET | `lead_list` | Curated filters + pagination, always scoped to your line. |\n\n**`lead_create` is the default write path.** It's idempotent on the lead grain, safe to retry, and handles the lookup-or-create for you.\n\n### Lead grain and dedup\n\nA lead is unique per **phone + product line + group** ([Lead identity](/concepts)). You never send routing — your line is fixed by your mapping — so for you, dedup is simply **phone within your line**: `lead_create` finds the lead matching your line and that phone and updates it, or creates a new one. The same phone on a different line is a separate lead.\n\n### Child profile writes\n\nProfile children (`custom_plan_profile`, `custom_lab_profile`) are sent as **embedded arrays** inside the body — at most one row per profile per lead. Writes **merge field-by-field** into the existing row: fields you send are overlaid, fields you omit are left alone. A partial write never wipes the row. This holds for `lead_create`, `lead_update`, and their bulk forms.\n\n### Routing\n\nRouting (`source`, line, group, program) is **forced server-side** from your key's mapping. Any routing field you send is silently ignored.\n\n### Field validation\n\n- **Allowed fields are per-key.** Call `lead_schema` for exactly what your key may send; anything outside that list is dropped. `mobile_no` is always allowed (the anchor).\n- **Required to create:** `mobile_no`. `first_name` and `status` are default-filled if missing.\n- **Required if status is Junk or Unqualified:** `lost_reason`.\n- **Link-validated** (the value must exist in its master): `status`, `source`, program, and `substage` on the plan profile.\n- **Never write:** `name` (auto-generated), `lead_name` (computed), `creation`, `modified`.\n\n### Reading leads\n\nThree paths: `lead_get` (one, by `name` or `mobile_no`), `lead_get_bulk` (many), `lead_list` (filtered + paginated). All return only your allowed fields and only leads on your line.\n\n`lead_list` honors a **curated set of filters only** — never arbitrary fields:\n\n| Parameter | Meaning |\n|---|---|\n| `status` | exact lead status |\n| `created_after` / `created_before` | `creation` date range |\n| `updated_after` / `updated_before` | `modified` date range |\n| `mobile_no` | exact phone |\n| `limit` | page size (default 20, max 200) |\n| `offset` | rows to skip (paging) |\n\nList results return curated parent fields, **no children** — use `lead_get` for the full record. Response: `{ok, total, count, offset, limit, leads:[…]}`.\n\n### Bulk partial success\n\nEvery bulk method runs each record independently — one bad row reports its error, the rest still commit. Response: `{ok, total, succeeded, failed, results:[{index, ok, action?, name?, error?}]}`.\n\n### Reading children\n\n`lead_get` / `lead_get_bulk` return the profile children inline, filtered to your allowed fields. Child tables can't be read directly via REST — always read them through the parent lead.\n\n---\n\nTo try any method below, [save your API key](/partner-validate-key) first — the try-it console then injects it on every request.",
      "x-zudoku-collapsed": false
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Format: `token <api_key>:<api_secret>` — literal lowercase `token`, single space, key:secret joined by `:`. See Conventions for how to request a key and verify it."
      }
    },
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on `CRM Lead` itself. The top-level fields your key may send/read live here; child tables embed as arrays. Call `lead_schema` to see exactly which fields your key is granted.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key, autonamed `CRM-LEAD-YYYY-NNNNN`. **Read-only** — never include in POST bodies (server generates).",
            "readOnly": true,
            "example": "CRM-LEAD-2026-00123"
          },
          "first_name": {
            "type": "string",
            "description": "First name. Set to `(no name)` if you genuinely don't have it (`lead_create` default-fills this if omitted)."
          },
          "last_name": {
            "type": "string",
            "description": "Last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Patient email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "**Required** — the dedup anchor (with product line + group). E.164 format: `+<country code><digits>`, no hyphens, no spaces.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164 same as mobile_no."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164 same as mobile_no."
          },
          "status": {
            "type": "string",
            "description": "**Required on create.** Universal lifecycle status. New leads start as `New`. Junk and Unqualified are 'Lost' type and require `lost_reason`. Read the allowed values from `lead_schema`.",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Link to `CRM Lead Source`. Read the allowed values from `lead_schema`."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Email of the CRM user owning this lead. Link to `User`. **Only set if the email is a real Frappe user** — otherwise leave blank to avoid `LinkValidationError`."
          },
          "lost_reason": {
            "type": "string",
            "description": "**Required when `status` is `Junk` or `Unqualified`.** Link to `CRM Lost Reason`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "Product Line B",
              "Product Line A",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "**Permission-locked** (`permlevel=1`). Top-level product line. Link to `CRM Vertical`. See `lead_schema`."
          },
          "custom_group": {
            "type": "string",
            "enum": [
              "Group A",
              "Program E",
              "Pharma Z",
              "Product Line B",
              "Group B"
            ],
            "description": "**Permission-locked.** Sub-line under the vertical. Link to `CRM Group`."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Program E",
              "Program F",
              "Product Line B",
              "Program D",
              "Program H",
              "Program B",
              "Program A",
              "Program C"
            ],
            "description": "The PRIMARY program. Link to `CRM Program`. **`permlevel=0`** — rep-writable, so a rep can self-handoff a program within their line (only `custom_vertical` + `custom_group` are manager-locked at `permlevel=1`). Multi-program patients are supported via profile-row presence (see `lead_schema`)."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "**Permission-locked.** The lead's previous program if they transitioned. Link to `CRM Program`. Captures the LAST switch only — full history is in the (deferred) activity layer."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "**Permission-locked. Write-once on capture, never updated.** Records the vertical the patient first entered through, even if their current vertical changes later."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated (deprecated for new writes — use `source` instead)."
          },
          "custom_program_lifecycle_stage": {
            "type": "string",
            "description": "**Permission-locked.** Cross-program lifecycle marker (Acquisition / Active / Retention / etc.) — used for cohort analytics."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External patient identifier from the source system (e.g. Product Line C user ID, partner system ID)."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy LeadSquared ProspectId — migration-only dedup key. Not populated for new leads after the LSQ cutover."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy LeadSquared lead number."
          },
          "custom_lsq_lead_stage_legacy": {
            "type": "string",
            "description": "Legacy LeadSquared stage. Read-only for reporting."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-gen system identifier (campaign or form submission ID)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Patient gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Patient date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Patient age in years. Not auto-calculated from DOB today — caller-provided."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Patient age bucket (e.g. `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Patient's preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State / region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to patient (e.g. Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Patient's job title (rarely used)."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "**Embedded child rows** (max 1 today). Plan / PSP / subscription / drug-program / payment / acquisition / dx-funnel data. On PUT, the array REPLACES the existing rows — see `lead_schema`."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Embedded child rows. Lab values, vitals, conditions, scores."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Embedded child rows. Care team — coaches, RM, therapist, doctor, hospital."
          },
          "lead_name": {
            "type": "string",
            "description": "**Read-only.** Auto-computed from `first_name` + `last_name`. Never write directly.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Lead creation timestamp.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Last-modified timestamp. Useful for change-tracking / delta sync.",
            "readOnly": true
          }
        }
      },
      "PlanProfile": {
        "type": "object",
        "description": "A plan / subscription / program profile row, sent as a JSON array under `custom_plan_profile`. The exact fields your key may send and read are **key-specific** — discover them via `lead_schema` (`data.children.custom_plan_profile.fields`). Never hardcode a field list.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique ID (read-only; present when you read a lead back)."
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "A lab-values & vitals profile row, sent as a JSON array under `custom_lab_profile`. The exact fields your key may send and read are **key-specific** — discover them via `lead_schema` (`data.children.custom_lab_profile.fields`). Never hardcode a field list.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique ID (read-only; present when you read a lead back)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "A care-team & providers profile row, sent as a JSON array under `custom_care_providers_profile`. The exact fields your key may send and read are **key-specific** — discover them via `lead_schema` (`data.children.custom_care_providers_profile.fields`). Never hardcode a field list.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique ID (read-only; present when you read a lead back)."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `POST /api/method/tatva_connect.api.partner.lead_create`. Only `mobile_no` is strictly required (the dedup anchor); `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other fields are optional and must be within the fields your key is allowed to send (call `lead_schema` to see them). You never send routing — it's set for you server-side. Profile children embed as arrays and merge field-by-field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ]
      },
      "LeadUpdateRequest": {
        "type": "object",
        "description": "Request body for `lead_update`. Carries the CRM `name` (the id `lead_create` returned) plus any allowed fields to change. Parent fields you SEND are updated, fields you OMIT are left alone; profile children merge field-by-field. You can't change routing — it's fixed to your key.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id to update.",
                "example": "CRM-LEAD-2026-00123"
              }
            }
          }
        ]
      },
      "PartnerError": {
        "type": "object",
        "description": "Every failure returns this one envelope — even framework errors (bad key, malformed body) are normalized, so you never see a raw traceback. Branch on `error.code` (stable, machine-readable), show `error.message` to a human, and the HTTP status mirrors the code. Full `error.code` → HTTP map: see the Errors page.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Always `error` on a failure."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "validation_error",
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "duplicate",
                  "cannot_delete",
                  "rate_limited",
                  "server_error"
                ],
                "description": "Stable machine-readable code. Branch on this, not on the message text."
              },
              "message": {
                "type": "string",
                "description": "Human-readable message (safe to surface)."
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Present on some `validation_error`s — the field name(s) that failed."
              },
              "retry_after": {
                "type": "integer",
                "description": "Present only on `rate_limited` (429): seconds until your key's budget resets."
              }
            }
          }
        }
      },
      "PartnerWriteResponse": {
        "type": "object",
        "description": "Success envelope from `lead_create` / `lead_update` / `lead_delete`. **Top-level — there is no `message` wrapper** (the gated partner methods emit the body directly). Read `status` first, then `action`, then `data`. A failure instead returns the PartnerError envelope with a non-2xx status.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` on a 2xx."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deleted"
            ],
            "description": "What happened: a new lead, an upsert onto an existing one, or a delete."
          },
          "data": {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id (e.g. `CRM-LEAD-2026-00123`). PUT this back to `lead_update`."
              },
              "source": {
                "type": "string",
                "description": "Lead source (forced from your mapping for partners)."
              },
              "vertical": {
                "type": "string",
                "description": "Product line (`custom_vertical`)."
              },
              "group": {
                "type": "string",
                "description": "Group (`custom_group`)."
              },
              "program": {
                "type": "string",
                "description": "Current program (`custom_current_program`)."
              }
            },
            "description": "On `deleted`, only `name` is present."
          }
        }
      },
      "PartnerReadResponse": {
        "type": "object",
        "description": "Success envelope from `lead_get` / `lead_list`. Top-level (no `message` wrapper). `action` is `fetched`; `data` carries the curated lead (`lead_get`) or the page object (`lead_list`).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "description": "The curated lead (`lead_get`) or the page object `{total,count,offset,limit,leads[]}` (`lead_list`)."
          }
        }
      },
      "PartnerSchemaResponse": {
        "type": "object",
        "description": "Success envelope from `lead_schema`. Top-level (no `message` wrapper), no `action`. `data` holds the fields THIS key may send/read, the child-write rules, dedup grain, bulk limits, and routing mode.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "lead": {
                "type": "array",
                "items": {
                  "type": "object"
                },
                "description": "Allowed parent (CRM Lead) fields."
              },
              "children": {
                "type": "object",
                "description": "Per child table: `{multi_row, key_field, fields[]}`. `multi_row:true` ⇒ upsert-by-key on `key_field`."
              },
              "child_write": {
                "type": "string",
                "description": "How to send child arrays + the upsert-by-key rule."
              },
              "dedup": {
                "type": "string",
                "description": "The lead grain (mobile_no + product line + group)."
              },
              "bulk": {
                "type": "object",
                "description": "`max_per_call`, `list_page_max`, allowed `list_filters`."
              },
              "routing": {
                "type": "object",
                "description": "`forced` / `list` / `none` for a partner (line + group always fixed); `caller-supplied` for a trusted internal caller."
              }
            }
          }
        }
      },
      "PartnerBulkResultEntry": {
        "type": "object",
        "description": "One record's outcome in a bulk response. `status` is `success` or `error` per row. On `success`: `action`+`name` (writes) or `data` (lead_get_bulk). On `error`: the same `error:{code,message}` block as the top-level PartnerError.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "0-based position in the request array (results are input-ordered)."
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "deleted"
            ],
            "description": "Present on a successful write row."
          },
          "name": {
            "type": "string",
            "description": "CRM Lead id (present on a successful write row)."
          },
          "data": {
            "type": "object",
            "description": "Curated lead (present on a successful `lead_get_bulk` row)."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                }
              }
            },
            "description": "Present on a failed row (its savepoint rolled back)."
          }
        }
      },
      "PartnerBulkResponse": {
        "type": "object",
        "description": "Partial-success envelope shared by every bulk method. Top-level (no `message` wrapper). Each record runs in its own savepoint — one bad row reports its error, the rest still commit. `summary` is `{total,succeeded,failed}` for writes and `{requested,found,not_found}` for `lead_get_bulk`. Inspect `results[].status` per row; the HTTP status is 200 even when some rows failed.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` — the batch ran (individual rows may have failed)."
          },
          "summary": {
            "type": "object",
            "description": "Counts: writes ⇒ `{total,succeeded,failed}`; get ⇒ `{requested,found,not_found}`."
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerBulkResultEntry"
            },
            "description": "Per-record outcome, in request order."
          }
        }
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable — just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child — lab values for an insurer lead",
        "description": "Now we attach a Lab Profile row. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Ramesh",
          "status": "New",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full — insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Ramesh",
          "last_name": "Kumar",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://pay.example/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full — oncology PSP lead (drug program + care team)",
        "description": "Illustrative shape for a Group A / Program B clinical lead. The Plan Profile fields shown are examples only — your key's actual fields come from `lead_schema`. Care & Providers carries the assigned coach, doctor, and hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Sunita Rao",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Arjun Rao",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "custom_plan_profile": [
            {
              "patient_indication": "Condition A",
              "cancer_stage": "Stage IV",
              "program_start_date": "2026-05-01",
              "substage": "Program B-Patient Ready for Chemo"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "Vikram Iyer",
              "success_coach_name": "Neha Gupta",
              "doctor_name": "Dr. A. Sharma",
              "hospital_name": "City General Hospital",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full — wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a Product Line C-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Kabir Shah",
          "status": "New",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Wellness Plus",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Neha Gupta",
              "rm_name": "Sanjay Menon",
              "diet_coach_name": "Divya Rao"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "lead_create response — created",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "CRM-LEAD-2026-00123",
            "source": "Program D",
            "vertical": "Product Line B",
            "group": "Group B",
            "program": "Program D"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "lead_create response — updated (existing lead found on the same line)",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "CRM-LEAD-2026-00056",
            "source": "Program D",
            "vertical": "Product Line B",
            "group": "Group B",
            "program": "Program D"
          }
        }
      },
      "LeadSchemaResponse": {
        "summary": "lead_schema — a key granted labs + plan fields",
        "value": {
          "status": "success",
          "data": {
            "lead": [
              {
                "fieldname": "mobile_no",
                "label": "Mobile No",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "status",
                "label": "Status",
                "type": "Link",
                "required": true,
                "options": "CRM Lead Status"
              }
            ],
            "children": {
              "custom_lab_profile": [
                {
                  "fieldname": "hba1c",
                  "label": "HbA1c",
                  "type": "Float",
                  "required": false,
                  "options": null
                },
                {
                  "fieldname": "report_date",
                  "label": "Report Date",
                  "type": "Date",
                  "required": false,
                  "options": null
                }
              ],
              "custom_plan_profile": [
                {
                  "fieldname": "policy_number",
                  "label": "Policy Number",
                  "type": "Data",
                  "required": false,
                  "options": null
                }
              ]
            },
            "child_write": "Send each child as a JSON array under its key. Multi-row children are upsert-by-key on key_field: a new key adds a row, the same key updates that row (only sent fields change), omitted rows are untouched. Single-row children merge onto the one row. Delete a row with {<key_field>, \"_delete\": true}.",
            "dedup": "A lead is unique per (mobile_no, product line, group). Re-sending the same patient updates that lead. Program is NOT part of identity: sending the same patient with a different program transitions the SAME lead, never a new one.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_filters": [
                "status",
                "created_after",
                "created_before",
                "updated_after",
                "updated_before",
                "mobile_no"
              ]
            },
            "routing": {
              "mode": "forced",
              "source": "Program D",
              "vertical": "Metabolic",
              "group": "Program D",
              "program": "Program D",
              "note": "Your routing is fixed. Any routing fields you send are ignored."
            }
          }
        }
      },
      "CuratedLeadGet": {
        "summary": "lead_get — one curated lead with children",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "first_name": "Asha",
            "mobile_no": "+919000000001",
            "status": "New",
            "name": "CRM-LEAD-2026-00123",
            "source": "Program D",
            "custom_vertical": "Metabolic",
            "custom_group": "Program D",
            "custom_current_program": "Program D",
            "custom_lab_profile": [
              {
                "hba1c": 7.2,
                "report_date": "2026-05-30",
                "name": "a1b2c3"
              }
            ],
            "custom_plan_profile": [
              {
                "policy_number": "NB-POL-0001",
                "name": "d4e5f6"
              }
            ]
          }
        }
      },
      "LeadUpdateRequest": {
        "summary": "lead_update — flip status on a known lead",
        "value": {
          "name": "CRM-LEAD-2026-00123",
          "status": "Contacted",
          "custom_lab_profile": [
            {
              "hba1c": 6.9,
              "report_date": "2026-05-18"
            }
          ],
          "summary": "lead_update — flip status, upsert one lab row by its key"
        }
      },
      "LeadUpdateResponse": {
        "summary": "lead_update — updated",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "CRM-LEAD-2026-00123",
            "source": "Program D",
            "vertical": "Metabolic",
            "group": "Program D",
            "program": "Program D"
          }
        }
      },
      "LeadDeleteResponse": {
        "summary": "lead_delete — deleted",
        "value": {
          "status": "success",
          "action": "deleted",
          "data": {
            "name": "CRM-LEAD-2026-00123"
          }
        }
      },
      "LeadCreateBulkRequest": {
        "summary": "lead_create_bulk — two leads",
        "value": {
          "leads": [
            {
              "mobile_no": "9000000001",
              "first_name": "Asha",
              "custom_lab_profile": [
                {
                  "hba1c": 7.2
                }
              ]
            },
            {
              "mobile_no": "9000000002",
              "first_name": "Ravi",
              "status": "New"
            }
          ]
        }
      },
      "LeadUpdateBulkRequest": {
        "summary": "lead_update_bulk — two updates by name",
        "value": {
          "updates": [
            {
              "name": "CRM-LEAD-2026-00123",
              "status": "Contacted"
            },
            {
              "name": "CRM-LEAD-2026-00124",
              "custom_lab_profile": [
                {
                  "hba1c": 6.5
                }
              ]
            }
          ]
        }
      },
      "LeadDeleteBulkRequest": {
        "summary": "lead_delete_bulk — delete by name",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "BulkSuccessMixed": {
        "summary": "Bulk — partial success (one row failed)",
        "value": {
          "status": "success",
          "summary": {
            "total": 2,
            "succeeded": 1,
            "failed": 1
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "created",
              "name": "CRM-LEAD-2026-00125"
            },
            {
              "index": 1,
              "status": "error",
              "error": {
                "code": "validation_error",
                "message": "mobile_no is required"
              }
            }
          ]
        }
      },
      "BulkDeleteSuccess": {
        "summary": "lead_delete_bulk — both deleted",
        "value": {
          "status": "success",
          "summary": {
            "total": 2,
            "succeeded": 2,
            "failed": 0
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "deleted",
              "name": "CRM-LEAD-2026-00123"
            },
            {
              "index": 1,
              "status": "success",
              "action": "deleted",
              "name": "CRM-LEAD-2026-00124"
            }
          ]
        }
      },
      "LeadGetBulkRequestNames": {
        "summary": "lead_get_bulk — by names",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "LeadGetBulkRequestMobiles": {
        "summary": "lead_get_bulk — by mobile_nos",
        "value": {
          "mobile_nos": [
            "9000000001",
            "9000000002"
          ]
        }
      },
      "LeadGetBulkResponse": {
        "summary": "lead_get_bulk — found 1 of 2 (out-of-scope omitted)",
        "value": {
          "status": "success",
          "summary": {
            "requested": 2,
            "found": 1,
            "not_found": 1
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "data": {
                "first_name": "Asha",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Program D",
                "custom_vertical": "Metabolic",
                "custom_group": "Program D",
                "custom_current_program": "Program D",
                "custom_lab_profile": [
                  {
                    "hba1c": 7.2,
                    "report_date": "2026-05-30",
                    "name": "a1b2c3"
                  }
                ]
              }
            },
            {
              "index": 1,
              "status": "error",
              "error": {
                "code": "not_found",
                "message": "Lead not found"
              }
            }
          ]
        }
      },
      "LeadListResponse": {
        "summary": "lead_list — page of curated leads (no children)",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 137,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "leads": [
              {
                "first_name": "Asha",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Program D",
                "custom_vertical": "Metabolic",
                "custom_group": "Program D",
                "custom_current_program": "Program D"
              },
              {
                "first_name": "Ravi",
                "mobile_no": "+919000000002",
                "status": "Contacted",
                "name": "CRM-LEAD-2026-00124",
                "source": "Program D",
                "custom_vertical": "Metabolic",
                "custom_group": "Program D",
                "custom_current_program": "Program D"
              }
            ]
          }
        }
      },
      "AuthCheckResponse": {
        "summary": "Verified — your key is valid",
        "value": {
          "message": "your-integration@partner.example"
        }
      }
    }
  },
  "paths": {
    "/api/method/tatva_connect.api.partner.lead_schema": {
      "get": {
        "tags": [
          "Lead"
        ],
        "summary": "Output Schema",
        "description": "Returns the exact fields **your key** may send and read, which are required, your routing mode, and how each child table works — call this instead of hardcoding a field list, since two keys get different schemas. Full walkthrough: [Schema discovery](/discover-schema).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "The caller's allowed fields + routing mode under `data` (no `message` wrapper).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSchemaResponse"
                },
                "examples": {
                  "Your schema": {
                    "$ref": "#/components/examples/LeadSchemaResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_get": {
      "get": {
        "tags": [
          "Lead"
        ],
        "summary": "Get Lead Data",
        "description": "Fetch one lead by `name` — its unique ID, e.g. `CRM-LEAD-2026-00123` — or by `mobile_no`. Returns your allowed fields plus read-only routing, with child profiles inlined. You only see leads on your own line; an out-of-scope lookup returns `404 not_found`.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The lead's unique ID, e.g. `CRM-LEAD-2026-00123` (returned by Create Lead). Use this OR `mobile_no`.",
            "example": "CRM-LEAD-2026-00123"
          },
          {
            "name": "mobile_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "10-digit Indian number (auto-normalized to `+91…`) or an already-`+`-prefixed number. Use this OR `name`.",
            "example": "9000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "The curated lead (top-level `status`/`action:fetched`/`data`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReadResponse"
                },
                "examples": {
                  "One lead": {
                    "$ref": "#/components/examples/CuratedLeadGet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside your line (identical — anti-enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_list": {
      "get": {
        "tags": [
          "Lead"
        ],
        "summary": "List Leads",
        "description": "List leads on your line with a curated set of safe filters, paginated (page size defaults to 20, max 200). Returns curated parent fields only — **no children**; use Get Lead Data for a full record.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact lead status (e.g. `New`, `Contacted`).",
            "example": "New"
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`creation` >= this date/datetime.",
            "example": "2026-05-01"
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`creation` <= this date/datetime.",
            "example": "2026-06-01"
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`modified` >= this date/datetime.",
            "example": "2026-05-01"
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`modified` <= this date/datetime.",
            "example": "2026-06-01"
          },
          {
            "name": "mobile_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact phone (auto-normalized to `+91…`).",
            "example": "9000000001"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            },
            "example": 50,
            "description": "Page size. Default 20, max 200."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "example": 0,
            "description": "Rows to skip (paging). Alias `limit_start` is also accepted."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of curated leads under `data` (no children — use `lead_get` for the full record).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReadResponse"
                },
                "examples": {
                  "Page": {
                    "$ref": "#/components/examples/LeadListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_create": {
      "post": {
        "tags": [
          "Lead"
        ],
        "summary": "Create Lead",
        "description": "The default write for most integrations. Idempotent on lead identity (`mobile_no` + product line + group): it updates the matching lead or creates a new one, so it is always safe to retry. Returns `name`, the lead's unique ID. Identity model: [Concepts](/concepts).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLeadRequest"
              },
              "examples": {
                "1. Minimum viable": {
                  "$ref": "#/components/examples/MinimalUpsert"
                },
                "2. With one child row": {
                  "$ref": "#/components/examples/UpsertWithOneProfile"
                },
                "3. Insurer + labs": {
                  "$ref": "#/components/examples/InsurerLabIntakeLead"
                },
                "4. Oncology PSP": {
                  "$ref": "#/components/examples/OncologyPSPLead"
                },
                "5. Wellness subscription": {
                  "$ref": "#/components/examples/WellnessSubscriptionLead"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead created or updated (top-level `status`/`action`/`data`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWriteResponse"
                },
                "examples": {
                  "Created": {
                    "$ref": "#/components/examples/UpsertSuccessCreated"
                  },
                  "Updated": {
                    "$ref": "#/components/examples/UpsertSuccessUpdated"
                  }
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_create_bulk": {
      "post": {
        "tags": [
          "Lead"
        ],
        "summary": "Bulk Create",
        "description": "Create or update up to 100 leads in one call — body `{\"leads\": [ ... ]}`. Same idempotent identity and field rules as Create Lead; each row commits in its own savepoint, so one bad row reports its error while the rest still commit (**partial success**). Over 100 rows is rejected.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "leads": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "$ref": "#/components/schemas/UpsertLeadRequest"
                    },
                    "description": "Up to 100 lead payloads (same shape as `lead_create`)."
                  }
                }
              },
              "examples": {
                "Two leads": {
                  "$ref": "#/components/examples/LeadCreateBulkRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch ran — partial success. Inspect `summary` + `results[].status` (HTTP 200 even if some rows failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "Partial success": {
                    "$ref": "#/components/examples/BulkSuccessMixed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_get_bulk": {
      "post": {
        "tags": [
          "Lead"
        ],
        "summary": "Bulk Read",
        "description": "Read up to 100 leads in one call by `names` or `mobile_nos` (send one). Returns the leads found — allowed fields, read-only routing, inlined children; out-of-scope or missing ids are omitted, so `found` may be less than `requested`. POST because the id list travels in the body.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "names": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 100 lead IDs (e.g. `CRM-LEAD-2026-00123`). Use this OR `mobile_nos`."
                  },
                  "mobile_nos": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 100 phone numbers (auto-normalized). Use this OR `names`."
                  }
                },
                "description": "Send exactly one of `names` / `mobile_nos`."
              },
              "examples": {
                "By names": {
                  "$ref": "#/components/examples/LeadGetBulkRequestNames"
                },
                "By mobile_nos": {
                  "$ref": "#/components/examples/LeadGetBulkRequestMobiles"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Leads found (input-ordered `results[]`; missing/out-of-scope rows report `not_found`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "Found 1 of 2": {
                    "$ref": "#/components/examples/LeadGetBulkResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_update": {
      "put": {
        "tags": [
          "Lead"
        ],
        "summary": "Update Lead",
        "description": "Update a lead by `name` — its unique ID, e.g. `CRM-LEAD-2026-00123`. Fields you send are updated, fields you omit are left alone, and child profiles merge field-by-field, so a partial write never wipes a row. You can only update leads on your own line.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/LeadUpdateRequest"
              },
              "examples": {
                "Update": {
                  "$ref": "#/components/examples/LeadUpdateRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Lead updated (top-level `status`/`action`/`data`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWriteResponse"
                },
                "examples": {
                  "Updated": {
                    "$ref": "#/components/examples/LeadUpdateResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside your line (identical — anti-enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_update_bulk": {
      "put": {
        "tags": [
          "Lead"
        ],
        "summary": "Bulk Update",
        "description": "Update up to 100 leads in one call — body `{\"updates\": [ {\"name\": ..., ...} ]}`. Each entry needs the lead's `name` plus the fields to change; same merge semantics and line scope as Update Lead, per record in its own savepoint (**partial success**).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "updates": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "allOf": [
                        {
                          "$ref": "#/components/schemas/CRMLeadUniversal"
                        },
                        {
                          "type": "object",
                          "properties": {
                            "name": {
                              "type": "string",
                              "description": "CRM Lead id to update.",
                              "example": "CRM-LEAD-2026-00123"
                            }
                          }
                        }
                      ]
                    },
                    "description": "Up to 100 update payloads; each carries `name` + allowed fields."
                  }
                }
              },
              "examples": {
                "Two updates": {
                  "$ref": "#/components/examples/LeadUpdateBulkRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch ran — partial success. Inspect `summary` + `results[].status` (HTTP 200 even if some rows failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "Partial success": {
                    "$ref": "#/components/examples/BulkSuccessMixed"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or a record is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_delete": {
      "delete": {
        "tags": [
          "Lead"
        ],
        "summary": "Delete Lead",
        "description": "Delete a lead by `name` (its unique ID), in the query or body. You can only delete leads on your own line. A lead with linked activity (calls, tasks, notes) cannot be deleted and returns `cannot_delete` — see [Errors](/partner-errors).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The lead's unique ID, e.g. `CRM-LEAD-2026-00123`, to delete (may also be sent in the JSON body).",
            "example": "CRM-LEAD-2026-00123"
          }
        ],
        "responses": {
          "200": {
            "description": "Lead deleted (`status:success`, `action:deleted`, `data:{name}`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerWriteResponse"
                },
                "examples": {
                  "Deleted": {
                    "$ref": "#/components/examples/LeadDeleteResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or the lead is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside your line (identical — anti-enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "409": {
            "description": "Lead has linked activity — `cannot_delete` (generic message by design).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_delete_bulk": {
      "delete": {
        "tags": [
          "Lead"
        ],
        "summary": "Bulk Delete",
        "description": "Delete up to 100 leads by `name` — body `{\"names\": [ ... ]}`. Each delete runs in its own savepoint (**partial success**) and is line-scoped; a lead with linked activity fails for that row while the rest proceed.",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "names": {
                    "type": "array",
                    "maxItems": 100,
                    "items": {
                      "type": "string"
                    },
                    "description": "Up to 100 lead IDs (e.g. `CRM-LEAD-2026-00123`) to delete."
                  }
                }
              },
              "examples": {
                "Names": {
                  "$ref": "#/components/examples/LeadDeleteBulkRequest"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Batch ran — partial success. Inspect `summary` + `results[].status` (HTTP 200 even if some rows failed).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerBulkResponse"
                },
                "examples": {
                  "All deleted": {
                    "$ref": "#/components/examples/BulkDeleteSuccess"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "Your key isn't permitted, or a record is outside your line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "description": "Over 100 requests/60s for your key. `error.retry_after` = seconds to wait.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "rate_limited",
                    "message": "Rate limit exceeded (100 requests/min). Retry in 42s.",
                    "retry_after": 42
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/method/frappe.auth.get_logged_user": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify API Key",
        "description": "Confirms your `Authorization` header is correct — it returns the account your key belongs to. Make it your first call when integrating, and a health-check in CI: anything other than `200` means your auth is wrong. Setup: [Authentication](/partner-validate-key).",
        "security": [
          {
            "apiKeyAuth": []
          }
        ],
        "responses": {
          "200": {
            "description": "Authenticated — your key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "$ref": "#/components/examples/AuthCheckResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (HTTP 401)."
          }
        }
      }
    }
  }
}