{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare Partner API",
    "version": "1.0.0",
    "description": "The Partner API pushes leads, activities, files and calls into TatvaCare and reads their state back. One\nkey governs every entity: there is no per-entity enablement. The key determines which fields may be read\nand written, and which product line and group a record belongs to.\n\n## Identity — read this first\n\n**Every record is addressed by `name`.** A create returns the `name` of the row it created — the primary\nkey of the underlying table. It is stored by the caller and is the address used for every subsequent\nread, update and delete. It is the only address the API accepts.\n\n**Deduplication is performed by the CRM, never by the caller.** A lead is unique per\n`(mobile_no, product line, group)`. Re-sending the same patient updates that lead; the program is a\nmutable attribute and is not part of identity. A changed phone number is a new patient and mints a new\nlead. Activities, files and calls are **created** against a lead and are **updated by `name`** — they are\nnever deduplicated on a caller-supplied value, so a re-sent create produces a second record.\n\n**`external_id` is a label, not an address.** It is an optional, free-form reference of the caller's own\nchoosing, stored against the record and echoed back on every read so a caller can recognise their own\nrow. It is never interpreted, never deduplicated on, and never used to locate a record.\n\n**Retries are made safe with the `Idempotency-Key` header.** A write may carry one. The first request\nclaims the key and stores its response; a retry with the same key and the same body replays that stored\nresponse instead of writing again. The same key with a different body is rejected with a 422. This is the\nonly retry-safety mechanism, and it is unrelated to `external_id`.\n\n## The shape\n\nA lead has top-level fields (such as `first_name`, `mobile_no`, `status`) and child tables sent as arrays\n(such as `custom_lab_profile` and `custom_plan_profile`). There is no fixed payload: the schema is\ndiscovered at runtime. Every entity exposes a `*_schema` endpoint returning exactly what the calling key\nmay send and read, with each field marked `REQUIRED`, `OPTIONAL` or `OUTPUT_ONLY`. A field list is never\nhardcoded.\n\n## One envelope\n\nEvery response is emitted at the top level, with no `message` wrapper. A success carries\n`{\"status\": \"success\", \"action\": ..., \"data\": ...}`, where `action` is one of `created`, `updated`,\n`fetched` or `deleted`. A failure carries `{\"status\": \"error\", \"error\": {\"code\", \"message\"}}` with a\nnon-2xx status. Every bulk method returns `{\"status\": \"success\", \"summary\": {\"total\", \"succeeded\",\n\"failed\"}, \"results\": [...]}` — reads and writes alike — with `results` input-ordered and each row\ncarrying its own outcome. A bulk call returns 200 even when individual rows failed.\n\n## Limits\n\nBulk methods accept up to 100 records per call. Lists page at up to 200 rows. Two limits apply\nindependently: a call-rate limit and a daily record-volume quota. Single, bulk and list methods all charge\ntheir true row count against the volume quota. A breach of either returns 429 with `Retry-After`.\n",
    "contact": {
      "name": "TatvaCare CRM Ops"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    },
    {
      "url": "http://dev.localhost:8000",
      "description": "Local dev bench"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Authentication",
      "tags": [
        "Authentication"
      ]
    },
    {
      "name": "Leads",
      "tags": [
        "Leads"
      ]
    },
    {
      "name": "Activities",
      "tags": [
        "Activities"
      ]
    },
    {
      "name": "Files",
      "tags": [
        "Files"
      ]
    },
    {
      "name": "Calls",
      "tags": [
        "Calls"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "Every request needs an `Authorization` header:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nThe literal lowercase `token`, a single space, then the key and secret joined by a colon.\n\nA key saved via [Authentication](/partner-validate-key) is reused by the console on every request. The verification call below confirms the header before any lead call.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Leads",
      "description": "Leads are the root entity. Every activity, file and call hangs off one.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `lead_schema` | Discovery: the fields this key may send and read, plus its routing. |\n| GET | `lead_get` | Read one lead by `name` or `mobile_no`. |\n| GET | `lead_list` | List leads on the key's line, filtered and paginated. |\n| POST | `lead_create` | Create or update, deduped by phone within the line and group. |\n| PUT | `lead_update` | Update a lead by `name`. |\n| DELETE | `lead_delete` | Delete a lead by `name`. |\n| POST | `lead_get_bulk` | `{\"names\":[...]}` or `{\"mobile_nos\":[...]}` (up to 100). |\n| POST | `lead_create_bulk` | `{\"leads\":[...]}` (up to 100). |\n| PUT | `lead_update_bulk` | `{\"updates\":[...]}` (up to 100). |\n| DELETE | `lead_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Identity and dedup\n\nA lead is unique per `(mobile_no, product line, group)` — the CRM's own rule, never an `external_id`. Re-sending the same patient updates that lead. The program is a mutable attribute and is NOT part of identity: the same patient sent with a different program transitions the SAME lead. A changed phone number is a new patient and mints a new lead.\n\n`mobile_no` is a valid address here, and only here, because phone is the lead's natural key. Every other entity is addressed by `name` alone.\n\n### Discover before sending\n\n`lead_schema` returns exactly what THIS key may send and read, each field marked `REQUIRED`, `OPTIONAL` or `OUTPUT_ONLY`. Two keys calling it receive different field lists. A field list is never hardcoded.",
      "x-zudoku-collapsed": false
    },
    {
      "name": "Activities",
      "description": "Activities are logged on a lead. An activity is a task of a configured activity type, scoped to the lead's product line and group. The same key that writes leads writes activities: there is no per-entity enablement, and one key governs all four entity APIs.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `activity_schema` | Discovery by lead: the activity types available to a lead, each with its field schema. |\n| GET | `activity_get` | Read one activity by `name`. |\n| GET | `activity_list` | List a lead's activities, filtered and paginated. |\n| POST | `activity_create` | Create an activity; returns its `name`. |\n| PUT | `activity_update` | Update an activity by `name`. |\n| DELETE | `activity_delete` | Delete an activity by `name`. |\n| POST | `activity_get_bulk` | `{\"names\":[...]}` (up to 100). |\n| POST | `activity_create_bulk` | `{\"activities\":[...]}` (up to 100). |\n| PUT | `activity_update_bulk` | `{\"updates\":[...]}` (up to 100). |\n| DELETE | `activity_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Discover before sending\n\nActivity fields are scoped to the lead: different leads expose different types and fields. `activity_schema?lead=<id>` (or `?mobile_no=`) is called first, and values are sent and read keyed by the schema `fieldname` under `values`. A field list is never hardcoded.\n\n### Identity\n\nAn activity is addressed by `name`, returned when it was created. A POST **creates**: it does not deduplicate, so a re-sent create produces a second activity. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.\n\nOptional `created_at` backdates the activity for a historical load.",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Files",
      "description": "Files are attached to a lead, or to a scoped activity or note on that lead. The same key as leads, with no per-entity enablement.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `file_schema` | Discovery: the attach payload contract. |\n| GET | `file_get` | Read one file's metadata and proxy url by `name`. |\n| GET | `file_list` | List a lead's files, filtered and paginated. |\n| POST | `file_attach` | Decode or download the bytes and attach to a lead, activity or note. |\n| DELETE | `file_delete` | Delete a file by `name`. |\n| POST | `file_get_bulk` | `{\"names\":[...]}` (up to 100). |\n| POST | `file_attach_bulk` | `{\"files\":[...]}` (up to 100). |\n| DELETE | `file_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Always private\n\nEvery file attached through this API is private. `is_private` always reads `true` and `file_url` is always a proxy url, never a raw storage key or a local path. The bytes are supplied either as a downloadable `file_url` (fetched by the server) or as `content_base64`. Exactly one is sent.\n\n### Identity\n\nA file is addressed by `name`, returned when it was attached. A POST **attaches**: it does not deduplicate, so re-sending the same bytes attaches a second file. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.\n\n### No update\n\nA file's bytes are immutable. There is deliberately no update method: replacing a file means attaching the new one and deleting the old.",
      "x-zudoku-collapsed": true
    },
    {
      "name": "Calls",
      "description": "Calls are logged on a lead. A call is stored in the same call log the telephony integration writes to. The same key as leads, with no per-entity enablement.\n\n| HTTP method | Method | Purpose |\n|---|---|---|\n| GET | `call_schema` | Discovery: the call payload contract. |\n| GET | `call_get` | Read one call by `name`. |\n| GET | `call_list` | List a lead's calls, filtered and paginated. |\n| POST | `call_create` | Create a call log; returns its `name`. |\n| PUT | `call_update` | Update a call by `name`. |\n| DELETE | `call_delete` | Delete a call by `name`. |\n| POST | `call_get_bulk` | `{\"names\":[...]}` (up to 100). |\n| POST | `call_create_bulk` | `{\"calls\":[...]}` (up to 100). |\n| PUT | `call_update_bulk` | `{\"updates\":[...]}` (up to 100). |\n| DELETE | `call_delete_bulk` | `{\"names\":[...]}` (up to 100). |\n\n### Attribution: `lead` is always read\n\n`lead` or `mobile_no` attaches the call explicitly, scoped to the line. Omitting both lets the server strict-match the customer number (`from_number` on Inbound, `to_number` on Outbound), scoped to the line. No match, or an ambiguous match, leaves the call unlinked and `lead` reads `null`, never on the wrong lead. `lead` is always read back to confirm whether the call was linked.\n\n### Identity\n\nA call is addressed by `name`, returned when it was created — which is NOT the `external_id`. A POST **creates**: it does not deduplicate, so a re-sent create produces a second call. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.\n\nOptional `started_at` backdates the call on insert.",
      "x-zudoku-collapsed": true
    }
  ],
  "components": {
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on the lead itself. The top-level fields a key may send and read live here, and child tables embed as arrays. The exact fields a key is granted are listed by `lead_schema`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The lead's unique id, in the form `CRM-LEAD-YYYY-NNNNN`. Read-only: the server generates it, so never send it on a create.",
            "readOnly": true,
            "example": "CRM-LEAD-2026-00123"
          },
          "first_name": {
            "type": "string",
            "description": "First name. If it is unknown, `(no name)` is filled in when it is omitted on create."
          },
          "last_name": {
            "type": "string",
            "description": "Last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "Required. The dedup anchor, together with the product line and group. E.164 format: `+<country code><digits>`, no spaces or hyphens.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164, same as `mobile_no`."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164, same as `mobile_no`."
          },
          "status": {
            "type": "string",
            "description": "Required on create. The lead's lifecycle status. New leads start at `New`. Read the allowed values from `lead_schema`.",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Read the allowed values from `lead_schema`."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Email of the CRM user who owns this lead. Set it only to an existing CRM user's email, otherwise leave it blank."
          },
          "lost_reason": {
            "type": "string",
            "description": "Required when `status` is `Junk` or `Unqualified`. Read the allowed values from `lead_schema`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "Product Line B",
              "Product Line A",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "The product line. Fixed to the key and stamped server-side, so it is never sent by the caller."
          },
          "custom_group": {
            "type": "string",
            "enum": [
              "Group A",
              "Program E",
              "Pharma Z",
              "Product Line B",
              "Group B"
            ],
            "description": "The group within the product line. Fixed to the key and stamped server-side, so it is never sent by the caller."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Program E",
              "Program F",
              "Product Line B",
              "Program D",
              "Program H",
              "Program B",
              "Program A",
              "Program C"
            ],
            "description": "The lead's current program. A mutable attribute, not part of identity. Whether it is sent depends on the key's program mode (see `lead_schema`)."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "The lead's previous program if it transitioned. Records the last switch only."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "The product line the lead first entered through. Captured once and never updated."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated. Deprecated for new writes; use `source` instead."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External identifier from the source system."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy migration identifier. Not populated for new leads."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy migration lead number."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-generation identifier (campaign or form submission id)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Age in years. Caller-provided; not derived from the date of birth."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Age bucket (for example `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State or region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to the lead (for example Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Job title (rarely used)."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "Plan, subscription, program, payment, and acquisition data, sent as an array. Writes merge field by field into the existing row, so a partial write never wipes it. Discover the exact fields via `lead_schema`."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Lab values, vitals, conditions, and scores, sent as an array. Discover the exact fields via `lead_schema`."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Care team: coaches, relationship manager, therapist, doctor, hospital, sent as an array. Discover the exact fields via `lead_schema`."
          },
          "lead_name": {
            "type": "string",
            "description": "Read-only. Auto-computed from `first_name` and `last_name`. Never write it.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "Read-only. When the lead was created.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "Read-only. When the lead was last modified. Useful for change tracking and delta sync.",
            "readOnly": true
          }
        }
      },
      "PlanProfile": {
        "type": "object",
        "description": "A plan, subscription, or program profile row, sent as a JSON array under `custom_plan_profile`. The exact fields available are key-specific and are discovered via `lead_schema` (`data.children.custom_plan_profile.fields`). A field list must not be hardcoded.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique id (read-only; present when a lead is read back)."
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "A lab-values and vitals profile row, sent as a JSON array under `custom_lab_profile`. The exact fields available are key-specific and are discovered via `lead_schema` (`data.children.custom_lab_profile.fields`). A field list must not be hardcoded.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique id (read-only; present when a lead is read back)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "A care-team and providers profile row, sent as a JSON array under `custom_care_providers_profile`. The exact fields available are key-specific and are discovered via `lead_schema` (`data.children.custom_care_providers_profile.fields`). A field list must not be hardcoded.",
        "additionalProperties": true,
        "properties": {
          "name": {
            "type": "string",
            "description": "The row's unique id (read-only; present when a lead is read back)."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `lead_create`. Only `mobile_no` is strictly required (the dedup anchor); `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other fields are optional and must be within the fields the key is allowed to send (`lead_schema` lists them). Routing is never sent; it is set server-side. Profile children embed as arrays and merge field by field.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          }
        }
      },
      "LeadUpdateRequest": {
        "type": "object",
        "description": "Request body for `lead_update`. Carries the CRM `name` (the id `lead_create` returned) plus any allowed fields to change. Parent fields that are sent are updated, fields that are omitted are left alone, and profile children merge field by field. Routing cannot be changed; it is fixed to the key.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "properties": {
              "name": {
                "type": "string",
                "description": "CRM Lead id to update.",
                "example": "CRM-LEAD-2026-00123"
              }
            }
          }
        ],
        "properties": {
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          }
        }
      },
      "PartnerError": {
        "type": "object",
        "description": "The single error envelope returned by every failure. Branch on `error.code`; the full `error.code`-to-HTTP map is on the [Errors](/partner-errors) page.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "error"
            ],
            "description": "Always `error` on a failure."
          },
          "error": {
            "type": "object",
            "properties": {
              "code": {
                "type": "string",
                "enum": [
                  "validation_error",
                  "bad_request",
                  "unauthorized",
                  "forbidden",
                  "not_found",
                  "duplicate",
                  "cannot_delete",
                  "rate_limited",
                  "server_error"
                ],
                "description": "Stable machine-readable code. Branch on this, not on the message text."
              },
              "message": {
                "type": "string",
                "description": "Human-readable message (safe to surface)."
              },
              "fields": {
                "type": "array",
                "items": {
                  "type": "string"
                },
                "description": "Present on some `validation_error`s, the field name(s) that failed."
              },
              "retry_after": {
                "type": "integer",
                "description": "Present only on `rate_limited` (429): seconds until the key's budget resets."
              }
            }
          }
        }
      },
      "PartnerWriteResponse": {
        "type": "object",
        "description": "Success envelope from every single-record write and read. It is emitted at the top level; there is no `message` wrapper. `status` is read first, then `action`, then `data`. A failure instead returns the PartnerError envelope with a non-2xx status.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` on a 2xx."
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "What happened: `created`, `updated`, `fetched` or `deleted`."
          },
          "data": {
            "type": "object",
            "description": "The full record. A delete returns `{name}` only."
          }
        }
      },
      "PartnerReadResponse": {
        "type": "object",
        "description": "Success envelope from `lead_get` / `lead_list`. Top-level (no `message` wrapper). `action` is `fetched`; `data` carries the curated lead (`lead_get`) or the page object (`lead_list`).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "description": "The curated lead (`lead_get`) or the page object `{total,count,offset,limit,leads[]}` (`lead_list`)."
          }
        }
      },
      "PartnerSchemaResponse": {
        "type": "object",
        "description": "Success envelope from every `*_schema` discovery method. `data` carries the SAME four blocks on every entity: `entity`, `identity` (how records are addressed), `dedup` (how uniqueness is decided, always by the CRM and never by an `external_id`), and `bulk` (the per-call and page ceilings). `fields` carries the field descriptors, each marked `REQUIRED`, `OPTIONAL` or `OUTPUT_ONLY`. Entity-specific blocks are added alongside.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "entity": {
                "type": "string",
                "enum": [
                  "lead",
                  "activity",
                  "file",
                  "call"
                ]
              },
              "identity": {
                "type": "object",
                "description": "`addressed_by` and the addressing rule in prose."
              },
              "dedup": {
                "type": "string",
                "description": "How uniqueness is decided for this entity."
              },
              "bulk": {
                "type": "object",
                "description": "`max_per_call`, `list_page_max`, `list_page_default`."
              },
              "fields": {
                "type": "array",
                "items": {
                  "$ref": "#/components/schemas/ActivitySchemaField"
                },
                "description": "Field descriptors: fieldname, label, type, behavior, required."
              }
            }
          }
        }
      },
      "PartnerBulkResultEntry": {
        "type": "object",
        "description": "One record's outcome inside a bulk response. `status` is `success` or `error` per row. A success carries `action` and `data` (the full record; a delete carries `{name}`). An error carries the same `error: {code, message}` block as the top-level PartnerError.",
        "properties": {
          "index": {
            "type": "integer",
            "description": "0-based position in the request array (results are input-ordered)."
          },
          "status": {
            "type": "string",
            "enum": [
              "success",
              "error"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "Present on a successful row."
          },
          "data": {
            "type": "object",
            "description": "The full record on a successful row; `{name}` on a successful delete."
          },
          "error": {
            "type": "object",
            "description": "Present on a failed row: `{code, message}`.",
            "properties": {
              "code": {
                "type": "string"
              },
              "message": {
                "type": "string"
              }
            }
          }
        }
      },
      "PartnerBulkResponse": {
        "type": "object",
        "description": "Partial-success envelope shared by EVERY bulk method — reads and writes alike. It is emitted at the top level; there is no `message` wrapper. Each record is handled independently: a write runs in its own savepoint, so one bad row reports its error while the rest still commit. `results` is input-ordered, so `results[i]` is the i-th record of the request. The HTTP status is 200 even when individual rows failed; `results[].status` is inspected per row.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ],
            "description": "`success` — the batch ran. Individual rows may still have failed."
          },
          "summary": {
            "type": "object",
            "description": "Counts for the batch. The SAME three keys on every bulk method, read or write.",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Records in the request."
              },
              "succeeded": {
                "type": "integer",
                "description": "Records that succeeded."
              },
              "failed": {
                "type": "integer",
                "description": "Records that failed."
              }
            }
          },
          "results": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PartnerBulkResultEntry"
            },
            "description": "Per-record outcome, input-ordered."
          }
        }
      },
      "ActivitySchemaField": {
        "type": "object",
        "description": "One field on an activity type, as returned by `activity_schema`. Send and read activity values keyed by `fieldname` (never hardcode a list, discover them per type).",
        "properties": {
          "fieldname": {
            "type": "string",
            "description": "The key to send/read this value under inside the activity `values` object."
          },
          "label": {
            "type": "string",
            "description": "Human label."
          },
          "type": {
            "type": "string",
            "description": "Frappe fieldtype (`Data`, `Float`, `Int`, `Date`, `Datetime`, `Select`, `Link`, `Check`, …)."
          },
          "options": {
            "type": "string",
            "nullable": true,
            "description": "For `Link` the target doctype; for `Select` the newline-separated options; else null."
          },
          "reqd": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "`1` means the field is required for this activity type."
          }
        }
      },
      "ActivityType": {
        "type": "object",
        "description": "One line-scoped activity type available to a lead, returned by `activity_schema`. Pick a `name` and send its `fields` under `values`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The activity type id, send it as `task_type` on create/update.",
            "example": "Welcome Call"
          },
          "is_logged_complete": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "`1` means logging this activity marks it complete (it carries no separate status workflow)."
          },
          "fields": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/ActivitySchemaField"
            },
            "description": "The fields an integrator may send under `values` for this type."
          }
        }
      },
      "Activity": {
        "type": "object",
        "description": "The partner-facing shape of an activity. `values` is re-keyed to the type's schema `fieldname`s; read and write activity data through `values`, never internal fields.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The activity id, the activity's unique id (PUT/DELETE this back).",
            "example": "abc123def4"
          },
          "lead": {
            "type": "string",
            "description": "The CRM Lead this activity hangs off.",
            "example": "CRM-LEAD-2026-00123"
          },
          "task_type": {
            "type": "string",
            "description": "The activity type, a `name` from `activity_schema`.",
            "example": "Welcome Call"
          },
          "status": {
            "type": "string",
            "description": "The task status (e.g. `Todo`, `Done`)."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "values": {
            "type": "object",
            "additionalProperties": true,
            "description": "The activity's data, keyed by the type's schema `fieldname`s (discover them via `activity_schema`)."
          }
        }
      },
      "ActivityUpsertRequest": {
        "type": "object",
        "description": "Body for `activity_create` and `activity_update`. On a create, the lead is targeted by `lead` (its CRM `name`) OR `mobile_no`. On an update, the activity is targeted by its own `name`. `task_type` names the activity type, and `values` carries the data keyed by the type's `fieldname`s, as advertised by `activity_schema` for that lead.\n\nA create does NOT deduplicate: a re-sent create produces a second activity. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record. Optional `created_at` backdates the activity for a historical load.",
        "properties": {
          "lead": {
            "type": "string",
            "description": "CRM Lead id. Send this OR `mobile_no`.",
            "example": "CRM-LEAD-2026-00123"
          },
          "mobile_no": {
            "type": "string",
            "description": "Lead phone (auto-normalized). Send this OR `lead`.",
            "example": "9000000001"
          },
          "task_type": {
            "type": "string",
            "description": "**Required.** The activity type, a `name` from `activity_schema`.",
            "example": "Welcome Call"
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "values": {
            "type": "object",
            "additionalProperties": true,
            "description": "Activity data keyed by the type's schema `fieldname`s. Required fields per type come from `activity_schema`."
          },
          "created_at": {
            "type": "string",
            "format": "date-time",
            "description": "Optional. Backdates the activity's `creation` (historical / migration load). Ignored on update."
          },
          "name": {
            "type": "string",
            "description": "The record's `name` — the primary key returned when it was created. Required on an update; it is the only address the API accepts."
          }
        },
        "required": [
          "task_type"
        ]
      },
      "File": {
        "type": "object",
        "description": "The partner-facing shape of a file on a lead (or a scoped activity task). Files are **always private**; `file_url` is a proxy URL, never a raw storage key or local path.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The File id, the file's unique id (DELETE this back)."
          },
          "file_type": {
            "type": "string",
            "nullable": true,
            "description": "The document category (stored in `custom_file_type`), e.g. `Lab Report`, `Prescription`, caller-supplied."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "filename": {
            "type": "string",
            "description": "Original file name."
          },
          "file_url": {
            "type": "string",
            "description": "Proxy URL to fetch the (private) bytes, never a raw storage key or local path."
          },
          "is_private": {
            "type": "boolean",
            "description": "Always `true`, files attached via this API are private by design."
          },
          "attached_to_doctype": {
            "type": "string",
            "enum": [
              "CRM Lead",
              "CRM Task"
            ],
            "description": "What the file hangs off, the lead, or a scoped activity task."
          },
          "attached_to_name": {
            "type": "string",
            "description": "The id of the lead or task the file is attached to."
          }
        }
      },
      "FileAttachRequest": {
        "type": "object",
        "description": "Body for `file_attach`. The lead is targeted by `lead` OR `mobile_no`, and the file optionally homed on a scoped `activity` (a CRM Task) or `note` on that lead. The bytes are supplied as a downloadable `file_url` OR as `content_base64` — exactly one is sent.\n\nAn attach does NOT deduplicate: re-sending the same bytes attaches a second file. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record.",
        "properties": {
          "lead": {
            "type": "string",
            "description": "CRM Lead id. Send this OR `mobile_no`.",
            "example": "CRM-LEAD-2026-00123"
          },
          "mobile_no": {
            "type": "string",
            "description": "Lead phone (auto-normalized). Send this OR `lead`.",
            "example": "9000000001"
          },
          "activity": {
            "type": "string",
            "description": "Optional activity id to attach the file to instead of the lead. The activity must belong to this lead (else generic not-found)."
          },
          "note": {
            "type": "string",
            "description": "Optional note id to attach the file to instead of the lead. The note must belong to the same lead. Send `activity` or `note`, not both."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "file_type": {
            "type": "string",
            "description": "Document category (stored in `custom_file_type`), e.g. `Lab Report`."
          },
          "filename": {
            "type": "string",
            "description": "**Required.** The file name to store."
          },
          "file_url": {
            "type": "string",
            "description": "A (signed / expiring) URL the server downloads the bytes from. Send this OR `content_base64`."
          },
          "content_base64": {
            "type": "string",
            "description": "The file bytes, base64-encoded. Send this OR `file_url`."
          }
        },
        "required": [
          "filename"
        ]
      },
      "Call": {
        "type": "object",
        "description": "The partner-facing shape of a call log. **`lead` may be `null`** when no phone match or an ambiguous (2+) match was found; fail-closed attribution never attaches a call to the wrong lead. Always read `lead` to know whether the call was linked.",
        "properties": {
          "name": {
            "type": "string",
            "description": "The CRM Call Log id (the autonamed row name; NOT the `external_id`)."
          },
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "lead": {
            "type": "string",
            "nullable": true,
            "description": "The linked CRM Lead, **`null` when attribution found no/ambiguous match** (the call is left unlinked, never attached to a wrong lead). Read this."
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "description": "Call direction (maps to the call log `type`: Inbound to Incoming, Outbound to Outgoing)."
          },
          "from_number": {
            "type": "string",
            "description": "Calling party number."
          },
          "to_number": {
            "type": "string",
            "description": "Called party number."
          },
          "status": {
            "type": "string",
            "description": "Call status (e.g. `Completed`, `Missed`, `No Answer`)."
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds."
          },
          "recording_url": {
            "type": "string",
            "nullable": true,
            "description": "URL of the call recording, if any."
          },
          "start_time": {
            "type": "string",
            "nullable": true,
            "description": "Call start timestamp."
          }
        }
      },
      "CallUpsertRequest": {
        "type": "object",
        "description": "Body for `call_create` and `call_update`. `direction` (Inbound or Outbound) is required on a create. On an update, the call is targeted by its own `name`.\n\nAttribution: `lead` or `mobile_no` targets a lead explicitly, scoped to the line. Omitting both lets the server strict-match the customer number (`from_number` on Inbound, `to_number` on Outbound) within the line. No match, or an ambiguous match, leaves the call unlinked and `lead` reads `null`.\n\nA create does NOT deduplicate: a re-sent create produces a second call. A retry is made safe with the `Idempotency-Key` header. `external_id` is an optional label and never locates a record. Optional `started_at` backdates the call on insert.",
        "properties": {
          "external_id": {
            "type": "string",
            "description": "**Optional label.** The caller's own reference for this record, stored and echoed back on every read. It is never interpreted, never deduplicated on, and never used to locate a record — records are addressed by `name`. Retries are made safe with the `Idempotency-Key` header, not with this field."
          },
          "direction": {
            "type": "string",
            "enum": [
              "Inbound",
              "Outbound"
            ],
            "description": "**Required.** Call direction."
          },
          "lead": {
            "type": "string",
            "description": "Optional CRM Lead id to attach to (line-scoped). If sent with `mobile_no`, `lead` wins.",
            "example": "CRM-LEAD-2026-00123"
          },
          "mobile_no": {
            "type": "string",
            "description": "Optional lead phone (auto-normalized) to attach to (line-scoped)."
          },
          "from_number": {
            "type": "string",
            "description": "Calling party number. On an Inbound call with no `lead`/`mobile_no`, this is the customer number used for attribution."
          },
          "to_number": {
            "type": "string",
            "description": "Called party number. On an Outbound call with no `lead`/`mobile_no`, this is the customer number used for attribution."
          },
          "status": {
            "type": "string",
            "description": "Call status. Defaults to `Completed` on insert if omitted."
          },
          "duration": {
            "type": "integer",
            "description": "Call duration in seconds."
          },
          "recording_url": {
            "type": "string",
            "description": "URL of the call recording (optional)."
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "description": "Call start time. On insert it also backdates the row's `creation` (historical load)."
          },
          "name": {
            "type": "string",
            "description": "The record's `name` — the primary key returned when it was created. Required on an update; it is the only address the API accepts."
          }
        },
        "required": [
          "direction"
        ]
      },
      "EntityListResponse": {
        "type": "object",
        "description": "Success envelope from every list method (`lead_list` / `activity_list` / `file_list` / `call_list`). It is emitted at the top level; there is no `message` wrapper, and `action` is `fetched`. `data` is a page object carrying the SAME five keys on every entity, plus the entity array under its own plural name (`leads` / `activities` / `files` / `calls`).",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "fetched"
            ]
          },
          "data": {
            "type": "object",
            "properties": {
              "total": {
                "type": "integer",
                "description": "Total rows matching the filter, across all pages."
              },
              "count": {
                "type": "integer",
                "description": "Rows in THIS page."
              },
              "offset": {
                "type": "integer",
                "description": "Rows skipped (paging)."
              },
              "limit": {
                "type": "integer",
                "description": "Page size used (defaults to 20, capped at 200)."
              },
              "has_more": {
                "type": "boolean",
                "description": "Whether further pages remain."
              }
            }
          }
        }
      },
      "EntityReadResponse": {
        "type": "object",
        "description": "Success envelope from every single-record endpoint of an entity (`*_schema`, `*_get`, `*_create`, `*_update`, `*_delete`). It is emitted at the top level; there is no `message` wrapper. Every write returns the FULL record in `data`, so a create, an update and a get can never hand back different shapes.",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "success"
            ]
          },
          "action": {
            "type": "string",
            "enum": [
              "created",
              "updated",
              "fetched",
              "deleted"
            ],
            "description": "What happened. Reads report `fetched`, writes report `created` or `updated`, and a delete reports `deleted`."
          },
          "data": {
            "description": "The full record (Lead / Activity / File / Call), the `{name}` on a delete, or the discovery object on a `*_schema` call."
          }
        }
      },
      "BulkNamesRequest": {
        "type": "object",
        "required": [
          "names"
        ],
        "description": "A batch addressed by `name` — the primary keys returned when the records were created. Up to 100 per call.",
        "properties": {
          "names": {
            "type": "array",
            "items": {
              "type": "string"
            },
            "maxItems": 100,
            "description": "The records' `name`s. Up to 100."
          }
        }
      },
      "ActivityUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "description": "A batch of activity updates, each addressed by `name`. Up to 100 per call.",
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/ActivityUpsertRequest"
            },
            "description": "Each entry carries the activity's `name` plus the fields to change."
          }
        }
      },
      "CallUpdateBulkRequest": {
        "type": "object",
        "required": [
          "updates"
        ],
        "description": "A batch of call updates, each addressed by `name`. Up to 100 per call.",
        "properties": {
          "updates": {
            "type": "array",
            "maxItems": 100,
            "items": {
              "$ref": "#/components/schemas/CallUpsertRequest"
            },
            "description": "Each entry carries the call's `name` plus the fields to change."
          }
        }
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable: just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child: lab values for an insurer lead",
        "description": "A Lab Profile row is attached. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Example",
          "status": "New",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full: insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Example",
          "last_name": "Example",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://pay.example/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full: oncology PSP lead (drug program + care team)",
        "description": "Illustrative shape for a Group A / Program B clinical lead. The Plan Profile fields shown are examples only; the actual fields for a key come from `lead_schema`. Care and Providers carries the assigned coach, doctor, and hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Example Lead",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Caregiver Example",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "custom_plan_profile": [
            {
              "patient_indication": "Condition A",
              "cancer_stage": "Stage IV",
              "program_start_date": "2026-05-01",
              "substage": "Program B-Ready for Treatment"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "ABM Example",
              "success_coach_name": "Coach Example",
              "doctor_name": "Dr. Example",
              "hospital_name": "Example Hospital",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full: wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a Product Line C-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Example Lead",
          "status": "New",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Example Plan",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Coach Example",
              "rm_name": "RM Example",
              "diet_coach_name": "Diet Coach Example"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "lead_create response: created",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "CRM-LEAD-2026-00123",
            "source": "Program D",
            "vertical": "Product Line B",
            "group": "Group B",
            "program": "Program D"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "lead_create response: updated (existing lead found on the same line)",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "CRM-LEAD-2026-00056",
            "source": "Program D",
            "vertical": "Product Line B",
            "group": "Group B",
            "program": "Program D"
          }
        }
      },
      "LeadSchemaResponse": {
        "summary": "lead_schema: a key granted labs + plan fields",
        "value": {
          "status": "success",
          "data": {
            "lead": [
              {
                "fieldname": "mobile_no",
                "label": "Mobile No",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "first_name",
                "label": "First Name",
                "type": "Data",
                "required": false,
                "options": null
              },
              {
                "fieldname": "status",
                "label": "Status",
                "type": "Link",
                "required": true,
                "options": "CRM Lead Status"
              }
            ],
            "children": {
              "custom_lab_profile": [
                {
                  "fieldname": "hba1c",
                  "label": "HbA1c",
                  "type": "Float",
                  "required": false,
                  "options": null
                },
                {
                  "fieldname": "report_date",
                  "label": "Report Date",
                  "type": "Date",
                  "required": false,
                  "options": null
                }
              ],
              "custom_plan_profile": [
                {
                  "fieldname": "policy_number",
                  "label": "Policy Number",
                  "type": "Data",
                  "required": false,
                  "options": null
                }
              ]
            },
            "child_write": "Send each child as a JSON array under its key. Multi-row children are upsert-by-key on key_field: a new key adds a row, the same key updates that row (only sent fields change), omitted rows are untouched. Single-row children merge onto the one row. Delete a row with {<key_field>, \"_delete\": true}.",
            "dedup": "A lead is unique per (mobile_no, product line, group). Re-sending the same phone updates that lead. Program is not part of identity: sending the same phone with a different program transitions the same lead, never a new one.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_filters": [
                "status",
                "created_after",
                "created_before",
                "updated_after",
                "updated_before",
                "mobile_no"
              ]
            },
            "routing": {
              "mode": "forced",
              "source": "Program D",
              "vertical": "Metabolic",
              "group": "Program D",
              "program": "Program D",
              "note": "Your routing is fixed. Any routing fields you send are ignored."
            }
          }
        }
      },
      "CuratedLeadGet": {
        "summary": "lead_get: one curated lead with children",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "first_name": "Example",
            "mobile_no": "+919000000001",
            "status": "New",
            "name": "CRM-LEAD-2026-00123",
            "source": "Program D",
            "custom_vertical": "Metabolic",
            "custom_group": "Program D",
            "custom_current_program": "Program D",
            "custom_lab_profile": [
              {
                "hba1c": 7.2,
                "report_date": "2026-05-30",
                "name": "a1b2c3"
              }
            ],
            "custom_plan_profile": [
              {
                "policy_number": "NB-POL-0001",
                "name": "d4e5f6"
              }
            ]
          }
        }
      },
      "LeadUpdateRequest": {
        "summary": "lead_update: flip status on a known lead",
        "value": {
          "name": "CRM-LEAD-2026-00123",
          "status": "Contacted",
          "custom_lab_profile": [
            {
              "hba1c": 6.9,
              "report_date": "2026-05-18"
            }
          ],
          "summary": "lead_update: flip status, upsert one lab row by its key"
        }
      },
      "LeadUpdateResponse": {
        "summary": "lead_update: updated",
        "value": {
          "status": "success",
          "action": "updated",
          "data": {
            "name": "CRM-LEAD-2026-00123",
            "source": "Program D",
            "vertical": "Metabolic",
            "group": "Program D",
            "program": "Program D"
          }
        }
      },
      "LeadDeleteResponse": {
        "summary": "lead_delete: deleted",
        "value": {
          "status": "success",
          "action": "deleted",
          "data": {
            "name": "CRM-LEAD-2026-00123"
          }
        }
      },
      "LeadCreateBulkRequest": {
        "summary": "lead_create_bulk: two leads",
        "value": {
          "leads": [
            {
              "mobile_no": "9000000001",
              "first_name": "Example",
              "custom_lab_profile": [
                {
                  "hba1c": 7.2
                }
              ]
            },
            {
              "mobile_no": "9000000002",
              "first_name": "Example",
              "status": "New"
            }
          ]
        }
      },
      "LeadUpdateBulkRequest": {
        "summary": "lead_update_bulk: two updates by name",
        "value": {
          "updates": [
            {
              "name": "CRM-LEAD-2026-00123",
              "status": "Contacted"
            },
            {
              "name": "CRM-LEAD-2026-00124",
              "custom_lab_profile": [
                {
                  "hba1c": 6.5
                }
              ]
            }
          ]
        }
      },
      "LeadDeleteBulkRequest": {
        "summary": "lead_delete_bulk: delete by name",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "BulkSuccessMixed": {
        "summary": "Bulk: partial success (one row failed)",
        "value": {
          "status": "success",
          "summary": {
            "total": 2,
            "succeeded": 1,
            "failed": 1
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "created",
              "name": "CRM-LEAD-2026-00125"
            },
            {
              "index": 1,
              "status": "error",
              "error": {
                "code": "validation_error",
                "message": "mobile_no is required"
              }
            }
          ]
        }
      },
      "BulkDeleteSuccess": {
        "summary": "lead_delete_bulk: both deleted",
        "value": {
          "status": "success",
          "summary": {
            "total": 2,
            "succeeded": 2,
            "failed": 0
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "deleted",
              "name": "CRM-LEAD-2026-00123"
            },
            {
              "index": 1,
              "status": "success",
              "action": "deleted",
              "name": "CRM-LEAD-2026-00124"
            }
          ]
        }
      },
      "LeadGetBulkRequestNames": {
        "summary": "lead_get_bulk: by names",
        "value": {
          "names": [
            "CRM-LEAD-2026-00123",
            "CRM-LEAD-2026-00124"
          ]
        }
      },
      "LeadGetBulkRequestMobiles": {
        "summary": "lead_get_bulk: by mobile_nos",
        "value": {
          "mobile_nos": [
            "9000000001",
            "9000000002"
          ]
        }
      },
      "LeadListResponse": {
        "summary": "lead_list: page of curated leads (no children)",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 137,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "leads": [
              {
                "first_name": "Example",
                "mobile_no": "+919000000001",
                "status": "New",
                "name": "CRM-LEAD-2026-00123",
                "source": "Program D",
                "custom_vertical": "Metabolic",
                "custom_group": "Program D",
                "custom_current_program": "Program D"
              },
              {
                "first_name": "Example",
                "mobile_no": "+919000000002",
                "status": "Contacted",
                "name": "CRM-LEAD-2026-00124",
                "source": "Program D",
                "custom_vertical": "Metabolic",
                "custom_group": "Program D",
                "custom_current_program": "Program D"
              }
            ]
          }
        }
      },
      "AuthCheckResponse": {
        "summary": "Verified: the key is valid",
        "value": {
          "message": "your-integration@partner.example"
        }
      },
      "ActivitySchemaResponse": {
        "summary": "activity_schema: types available to a lead",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "lead": "CRM-LEAD-2026-00123",
            "task_types": [
              {
                "name": "Welcome Call",
                "is_logged_complete": 1,
                "fields": [
                  {
                    "fieldname": "call_outcome",
                    "label": "Call Outcome",
                    "type": "Select",
                    "options": "Connected\nNo Answer\nBusy",
                    "reqd": 1
                  },
                  {
                    "fieldname": "notes",
                    "label": "Notes",
                    "type": "Small Text",
                    "options": null,
                    "reqd": 0
                  }
                ]
              }
            ]
          }
        }
      },
      "ActivityCreateRequest": {
        "summary": "activity_create: log a welcome call (deduped on external_id)",
        "value": {
          "lead": "CRM-LEAD-2026-00123",
          "task_type": "Welcome Call",
          "external_id": "LSQ-ACT-88231",
          "values": {
            "call_outcome": "Connected",
            "notes": "Onboarded, scheduled follow-up."
          }
        }
      },
      "ActivityCreateBulkRequest": {
        "summary": "activity_create_bulk: two activities",
        "value": {
          "activities": [
            {
              "mobile_no": "9000000001",
              "task_type": "Welcome Call",
              "external_id": "LSQ-ACT-1",
              "values": {
                "call_outcome": "Connected"
              }
            },
            {
              "mobile_no": "9000000002",
              "task_type": "Welcome Call",
              "external_id": "LSQ-ACT-2",
              "values": {
                "call_outcome": "No Answer"
              }
            }
          ]
        }
      },
      "ActivityGetBulkRequest": {
        "summary": "activity_get_bulk: by external_ids",
        "value": {
          "external_ids": [
            "LSQ-ACT-1",
            "LSQ-ACT-2"
          ]
        }
      },
      "ActivityListResponse": {
        "summary": "activity_list: page of a lead's activities",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 5,
            "count": 1,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "activities": [
              {
                "name": "abc123def4",
                "lead": "CRM-LEAD-2026-00123",
                "task_type": "Welcome Call",
                "status": "Done",
                "external_id": "LSQ-ACT-1",
                "values": {
                  "call_outcome": "Connected"
                }
              }
            ]
          }
        }
      },
      "FileAttachRequestUrl": {
        "summary": "file_attach: by file_url (server downloads it)",
        "value": {
          "lead": "CRM-LEAD-2026-00123",
          "external_id": "LSQ-ATT-5521",
          "file_type": "Lab Report",
          "filename": "hba1c-2026-05.pdf",
          "file_url": "https://signed.example/blob/abc?sig=..."
        }
      },
      "FileAttachRequestBase64": {
        "summary": "file_attach: by content_base64",
        "value": {
          "mobile_no": "9000000001",
          "external_id": "LSQ-ATT-5522",
          "file_type": "Prescription",
          "filename": "rx.pdf",
          "content_base64": "JVBERi0xLjQKJ..."
        }
      },
      "FileAttachResponse": {
        "summary": "file_attach: created",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "fghij67890",
            "file_type": "Lab Report",
            "external_id": "LSQ-ATT-5521",
            "filename": "hba1c-2026-05.pdf",
            "file_url": "/api/method/tatva_connect.storage.file_manager.proxy?key=...",
            "is_private": true,
            "attached_to_doctype": "CRM Lead",
            "attached_to_name": "CRM-LEAD-2026-00123"
          }
        }
      },
      "FileListResponse": {
        "summary": "file_list: a lead's files",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 2,
            "count": 2,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "files": [
              {
                "name": "fghij67890",
                "file_type": "Lab Report",
                "external_id": "LSQ-ATT-5521",
                "filename": "hba1c-2026-05.pdf",
                "file_url": "/api/method/tatva_connect.storage.file_manager.proxy?key=...",
                "is_private": true,
                "attached_to_doctype": "CRM Lead",
                "attached_to_name": "CRM-LEAD-2026-00123"
              }
            ]
          }
        }
      },
      "FileAttachBulkRequest": {
        "summary": "file_attach_bulk: two files",
        "value": {
          "files": [
            {
              "mobile_no": "9000000001",
              "external_id": "LSQ-ATT-1",
              "file_type": "Lab Report",
              "filename": "a.pdf",
              "file_url": "https://signed.example/a"
            },
            {
              "mobile_no": "9000000001",
              "external_id": "LSQ-ATT-2",
              "file_type": "Prescription",
              "filename": "b.pdf",
              "content_base64": "JVBER..."
            }
          ]
        }
      },
      "CallCreateRequest": {
        "summary": "call_create: explicit lead, inbound",
        "value": {
          "lead": "CRM-LEAD-2026-00123",
          "external_id": "LSQ-CALL-9001",
          "direction": "Inbound",
          "from_number": "+919000000001",
          "to_number": "+918040001234",
          "status": "Completed",
          "duration": 142,
          "recording_url": "https://rec.example/9001.mp3",
          "started_at": "2026-05-30T10:15:00"
        }
      },
      "CallCreateRequestAttribute": {
        "summary": "call_create: no lead, server strict-matches the customer number",
        "value": {
          "external_id": "LSQ-CALL-9002",
          "direction": "Outbound",
          "from_number": "+918040001234",
          "to_number": "+919000000001",
          "status": "Completed",
          "duration": 30
        }
      },
      "CallCreateResponse": {
        "summary": "call_create: created and linked",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "PARTNER-LSQ-CALL-9001",
            "external_id": "LSQ-CALL-9001",
            "lead": "CRM-LEAD-2026-00123",
            "direction": "Inbound",
            "from_number": "+919000000001",
            "to_number": "+918040001234",
            "status": "Completed",
            "duration": 142,
            "recording_url": "https://rec.example/9001.mp3",
            "start_time": "2026-05-30 10:15:00"
          }
        }
      },
      "CallCreateResponseUnlinked": {
        "summary": "call_create: created but UNLINKED (no/ambiguous phone match)",
        "description": "Attribution found no single matching lead on the caller's line, so `lead` is `null`. The call is stored but not attached to any lead; `lead` is read to detect this.",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "PARTNER-LSQ-CALL-9002",
            "external_id": "LSQ-CALL-9002",
            "lead": null,
            "direction": "Outbound",
            "from_number": "+918040001234",
            "to_number": "+919000000001",
            "status": "Completed",
            "duration": 30,
            "recording_url": null,
            "start_time": null
          }
        }
      },
      "CallListResponse": {
        "summary": "call_list: a lead's calls",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "total": 3,
            "count": 1,
            "offset": 0,
            "limit": 20,
            "has_more": false,
            "calls": [
              {
                "name": "PARTNER-LSQ-CALL-9001",
                "external_id": "LSQ-CALL-9001",
                "lead": "CRM-LEAD-2026-00123",
                "direction": "Inbound",
                "from_number": "+919000000001",
                "to_number": "+918040001234",
                "status": "Completed",
                "duration": 142,
                "recording_url": "https://rec.example/9001.mp3",
                "start_time": "2026-05-30 10:15:00"
              }
            ]
          }
        }
      },
      "CallCreateBulkRequest": {
        "summary": "call_create_bulk: two calls",
        "value": {
          "calls": [
            {
              "external_id": "LSQ-CALL-1",
              "direction": "Inbound",
              "from_number": "+919000000001",
              "to_number": "+918040001234",
              "status": "Completed",
              "duration": 60
            },
            {
              "external_id": "LSQ-CALL-2",
              "direction": "Outbound",
              "from_number": "+918040001234",
              "to_number": "+919000000099",
              "status": "Missed"
            }
          ]
        }
      },
      "BulkNamesRequestExample": {
        "summary": "Address a batch by name",
        "value": {
          "names": [
            "b1a2c3d4e5",
            "f6g7h8i9j0",
            "k1l2m3n4o5"
          ]
        }
      },
      "BulkDeleteResponseExample": {
        "summary": "Two deleted, one already gone",
        "value": {
          "status": "success",
          "summary": {
            "total": 3,
            "succeeded": 2,
            "failed": 1
          },
          "results": [
            {
              "index": 0,
              "status": "success",
              "action": "deleted",
              "data": {
                "name": "b1a2c3d4e5"
              }
            },
            {
              "index": 1,
              "status": "success",
              "action": "deleted",
              "data": {
                "name": "f6g7h8i9j0"
              }
            },
            {
              "index": 2,
              "status": "error",
              "error": {
                "code": "not_found",
                "message": "Activity not found"
              }
            }
          ]
        }
      },
      "FileSchemaResponse": {
        "summary": "The attach payload contract",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "entity": "file",
            "identity": {
              "addressed_by": "name",
              "note": "Every record is addressed by `name` — the primary key of its underlying table, returned when the record is created."
            },
            "dedup": "None. Every POST attaches a new file and returns a new `name`. Retries are made safe with the Idempotency-Key header; `external_id` does not deduplicate.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_page_default": 20
            },
            "fields": [
              {
                "fieldname": "lead",
                "label": "Lead",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              },
              {
                "fieldname": "filename",
                "label": "Filename",
                "type": "Data",
                "behavior": "REQUIRED",
                "required": true,
                "options": null
              },
              {
                "fieldname": "external_id",
                "label": "External ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              }
            ],
            "immutable": "A file's bytes cannot be changed. Replacing a file means attaching the new one and deleting the old."
          }
        }
      },
      "CallSchemaResponse": {
        "summary": "The call payload contract",
        "value": {
          "status": "success",
          "action": "fetched",
          "data": {
            "entity": "call",
            "identity": {
              "addressed_by": "name",
              "note": "Every record is addressed by `name` — the primary key of its underlying table, returned when the record is created."
            },
            "dedup": "None. Every POST creates a new call log and returns a new `name`. Retries are made safe with the Idempotency-Key header; `external_id` does not deduplicate.",
            "bulk": {
              "max_per_call": 100,
              "list_page_max": 200,
              "list_page_default": 20
            },
            "fields": [
              {
                "fieldname": "direction",
                "label": "Direction",
                "type": "Select",
                "behavior": "REQUIRED",
                "required": true,
                "options": null,
                "allowed_values": [
                  "Inbound",
                  "Outbound"
                ]
              },
              {
                "fieldname": "external_id",
                "label": "External ID",
                "type": "Data",
                "behavior": "OPTIONAL",
                "required": false,
                "options": null
              }
            ]
          }
        }
      },
      "CallUpdateRequest": {
        "summary": "Correct a call's duration and status",
        "value": {
          "name": "PARTNER-a1b2c3d4e5",
          "status": "Completed",
          "duration": 187
        }
      },
      "ActivityUpdateBulkRequest": {
        "summary": "Update two activities by name",
        "value": {
          "updates": [
            {
              "name": "b1a2c3d4e5",
              "task_type": "Welcome Call",
              "values": {
                "call_outcome": "Connected"
              }
            },
            {
              "name": "f6g7h8i9j0",
              "task_type": "Welcome Call",
              "values": {
                "call_outcome": "Not reachable"
              }
            }
          ]
        }
      },
      "CallUpdateBulkRequest": {
        "summary": "Update two calls by name",
        "value": {
          "updates": [
            {
              "name": "PARTNER-a1b2c3d4e5",
              "status": "Completed",
              "duration": 187
            },
            {
              "name": "PARTNER-f6g7h8i9j0",
              "status": "No Answer",
              "duration": 0
            }
          ]
        }
      },
      "ActivityCreateResponse": {
        "summary": "activity_create: created",
        "value": {
          "status": "success",
          "action": "created",
          "data": {
            "name": "b1a2c3d4e5",
            "lead": "CRM-LEAD-2026-00123",
            "task_type": "Welcome Call",
            "status": "Completed",
            "external_id": "PARTNER-ACT-9981",
            "values": {
              "call_outcome": "Connected",
              "call_notes": "Patient onboarded."
            }
          }
        }
      }
    },
    "headers": {
      "RateLimit-Limit": {
        "description": "The key's request budget for the current window. Sent on every partner response. A shared global ceiling is enforced separately, so a 429 can occur on the global limit even while RateLimit-Remaining is above zero. Absent when rate-limit enforcement is off or the caller is exempt.",
        "schema": {
          "type": "integer",
          "example": 120
        }
      },
      "RateLimit-Remaining": {
        "description": "Requests still available in the current window. Sent on every partner response. Absent when rate-limit enforcement is off or the caller is exempt.",
        "schema": {
          "type": "integer",
          "example": 1158
        }
      },
      "RateLimit-Reset": {
        "description": "Seconds until the window refills and the budget resets. Sent on every partner response (success and 429). Absent when rate-limit enforcement is off or the caller is exempt (a System Manager with no mapping).",
        "schema": {
          "type": "integer",
          "example": 37
        }
      },
      "Retry-After": {
        "description": "Sent only on a 429: seconds to wait before retrying. Mirrors `error.retry_after` in the body.",
        "schema": {
          "type": "integer",
          "example": 42
        }
      }
    },
    "responses": {
      "RateLimited": {
        "description": "Rate limit exceeded (`error.code` is `rate_limited`). Throttling is enforced against both the per-key budget and a shared global ceiling; the call is limited if either is exhausted. `Retry-After` or `error.retry_after` seconds are waited, then the call is retried (every write is idempotent, so retrying is safe).",
        "headers": {
          "RateLimit-Limit": {
            "$ref": "#/components/headers/RateLimit-Limit"
          },
          "RateLimit-Remaining": {
            "$ref": "#/components/headers/RateLimit-Remaining"
          },
          "RateLimit-Reset": {
            "$ref": "#/components/headers/RateLimit-Reset"
          },
          "Retry-After": {
            "$ref": "#/components/headers/Retry-After"
          }
        },
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/PartnerError"
            },
            "example": {
              "status": "error",
              "error": {
                "code": "rate_limited",
                "message": "Rate limit exceeded. Retry in 42s.",
                "retry_after": 42
              }
            }
          }
        }
      }
    }
  },
  "paths": {
    "/api/method/frappe.auth.get_logged_user": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify API Key",
        "description": "Confirms the `Authorization` header is correct by returning the account the key belongs to. Suitable as the first call when integrating, and as a health check in CI: anything other than `200` means the auth is wrong. Setup: [Authentication](/partner-validate-key).",
        "responses": {
          "200": {
            "description": "Authenticated: the key is valid.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "$ref": "#/components/examples/AuthCheckResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key (HTTP 401)."
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_schema": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Output Schema",
        "description": "Returns the exact fields the key may send and read, which of them are required, the routing mode, and how each child table behaves. Called instead of hardcoding a field list, since two keys return different schemas. Full walkthrough: [Schema discovery](/discover-schema).",
        "responses": {
          "200": {
            "description": "The caller's allowed fields + routing mode under `data` (no `message` wrapper).",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerSchemaResponse"
                },
                "examples": {
                  "Your schema": {
                    "$ref": "#/components/examples/LeadSchemaResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "The key is not permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_get": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Get Lead Data",
        "description": "Fetches one lead by `name` (its unique id, e.g. `CRM-LEAD-2026-00123`) or by `mobile_no`. Returns the key's allowed fields plus read-only routing, with child profiles inlined. Only leads on the caller's own line are visible; an out-of-scope lookup returns `404 not_found`.",
        "parameters": [
          {
            "name": "name",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "The lead's unique ID, e.g. `CRM-LEAD-2026-00123` (returned by Create Lead). Use this OR `mobile_no`.",
            "example": "CRM-LEAD-2026-00123"
          },
          {
            "name": "mobile_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "10-digit Indian number (auto-normalized to `+91…`) or an already-`+`-prefixed number. Use this OR `name`.",
            "example": "9000000001"
          }
        ],
        "responses": {
          "200": {
            "description": "The curated lead (top-level `status`/`action:fetched`/`data`).",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReadResponse"
                },
                "examples": {
                  "One lead": {
                    "$ref": "#/components/examples/CuratedLeadGet"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "The key is not permitted to make this call, or the lead is outside the caller's line.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "404": {
            "description": "Lead not found or outside the caller's line (identical, to prevent enumeration).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                },
                "example": {
                  "status": "error",
                  "error": {
                    "code": "not_found",
                    "message": "Lead not found"
                  }
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_list": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "List Leads",
        "description": "Lists leads on the caller's line with a curated set of safe filters, paginated (page size defaults to 20, max 200). Returns curated parent fields only, no children; Get Lead Data returns a full record.",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact lead status (e.g. `New`, `Contacted`).",
            "example": "New"
          },
          {
            "name": "created_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`creation` >= this date/datetime.",
            "example": "2026-05-01"
          },
          {
            "name": "created_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`creation` <= this date/datetime.",
            "example": "2026-06-01"
          },
          {
            "name": "updated_after",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`modified` >= this date/datetime.",
            "example": "2026-05-01"
          },
          {
            "name": "updated_before",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "format": "date"
            },
            "description": "`modified` <= this date/datetime.",
            "example": "2026-06-01"
          },
          {
            "name": "mobile_no",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            },
            "description": "Exact phone (auto-normalized to `+91…`).",
            "example": "9000000001"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 20,
              "maximum": 200
            },
            "example": 50,
            "description": "Page size. Default 20, max 200."
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer",
              "default": 0
            },
            "example": 0,
            "description": "Rows to skip (paging). Alias `limit_start` is also accepted."
          }
        ],
        "responses": {
          "200": {
            "description": "A page of curated leads under `data` (no children, use `lead_get` for the full record).",
            "headers": {
              "RateLimit-Limit": {
                "$ref": "#/components/headers/RateLimit-Limit"
              },
              "RateLimit-Remaining": {
                "$ref": "#/components/headers/RateLimit-Remaining"
              },
              "RateLimit-Reset": {
                "$ref": "#/components/headers/RateLimit-Reset"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerReadResponse"
                },
                "examples": {
                  "Page": {
                    "$ref": "#/components/examples/LeadListResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Missing or invalid API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "403": {
            "description": "The key is not permitted to make this call.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "400": {
            "description": "Validation error or malformed body (`validation_error` / `bad_request`).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PartnerError"
                }
              }
            }
          },
          "429": {
            "$ref": "#/components/responses/RateLimited"
          }
        }
      }
    },
    "/api/method/tatva_connect.api.partner.lead_create": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create Lead",
        "description": "A lead is created, or the existing lead on the same phone within the key's line and group is updated. The FULL record is returned, including the `name` — the address used for every subsequent update and delete.\n\nDeduplication is the CRM's own rule, `(mobile_no, product line, group)`, and is never driven by a caller-supplied value. The program is a mutable attribute and is NOT part of identity. A changed phone number is a new patient and mints a new lead.\n\n### Identity\n\nRecords are addressed by `name`, the primary key returned when the record was created. `external_id` is an optional label of the caller's own choosing: it is stored and echoed back, never interpreted, and never used to locate a record. Retries are made safe with the `Idempotency-Key` header.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
[...]
