{
  "openapi": "3.1.0",
  "info": {
    "title": "TatvaCare CRM API",
    "version": "1.0.0",
    "description": "Reference for integrating with the TatvaCare CRM \u2014 the single source of truth for patient leads across every TatvaCare product line.\n\n## What this API does\n\nWrite leads (create / update / upsert). Read leads. Discover the data model at runtime. Attach files. It's the systems door into the CRM \u2014 external systems put leads in and read state back, while internal teams work those leads in the CRM web app.\n\n## The shape\n\n```\n CRM Lead (one row per patient \u2014 deduped by mobile_no)\n   \u251c\u2500\u2500 Plan Profile           \u2014 what plan / PSP / insurance / drug program / subscription\n   \u251c\u2500\u2500 Lab Profile            \u2014 lab values, vitals, conditions, scores\n   \u2514\u2500\u2500 Care & Providers       \u2014 coaches, RM, therapist, doctor, hospital\n```\n\nThe lead carries identity, contact, and routing fields. The three children carry concern-specific data. A patient typically has 1\u20133 child rows populated. Multi-program is normal.\n\n## Where to start\n\n- **New here?** Read [Welcome](/docs/welcome), then [Authentication](/docs/api/authentication), then the [Quickstart](/docs/quickstart).\n- **New to Frappe?** Start with [What's a DocType?](/docs/frappe-doctypes) \u2014 the concepts this API is built on, in plain English.\n- **Already have a key?** Jump to [Upsert a lead by phone](/docs/api/leads#upsert-a-lead-by-phone-recommended).\n- **Need to know what fields exist?** [Introspect a doctype](/docs/api/schema#introspect-a-doctypes-full-schema).\n\nEvery endpoint is tested live in the **API Reference** \u2014 open an endpoint, paste your key, and hit **Send**.",
    "contact": {
      "name": "TatvaCare CRM Ops",
      "email": "pareekshith.bompally@tatvacare.in"
    }
  },
  "servers": [
    {
      "url": "https://one.tatvacare.in",
      "description": "Production"
    }
  ],
  "x-tagGroups": [
    {
      "name": "Getting started",
      "tags": [
        "Authentication"
      ]
    },
    {
      "name": "Resources",
      "tags": [
        "Leads",
        "Files"
      ]
    },
    {
      "name": "Automations",
      "tags": [
        "Automations"
      ]
    },
    {
      "name": "Channels",
      "tags": [
        "WhatsApp",
        "Telephony"
      ]
    },
    {
      "name": "Administration",
      "tags": [
        "Users",
        "Roles and Permissions",
        "Jobs"
      ]
    },
    {
      "name": "Reference",
      "tags": [
        "Reference Data",
        "Schema",
        "Tags",
        "Errors & Logs"
      ]
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "## How to authenticate\n\nEvery request needs an `Authorization` header. Format:\n\n```\nAuthorization: token <api_key>:<api_secret>\n```\n\nThe word `token` is **literal lowercase**, followed by a single space, then `api_key`, a colon `:`, then `api_secret`. No `Bearer`, no quotes, no JWT.\n\nExample (placeholder \u2014 not a real key):\n\n```\nAuthorization: token 000000000000000:000000000000000\n```\n\n### How to get a key\n\n1. **Email** `pareekshith.bompally@tatvacare.in` with: integration name, who owns it, expected request volume.\n2. **You receive** a dedicated user (e.g. `mytatva-writer@tatvacare.in`) plus its `api_key:api_secret` pair. The user has the **System Manager** role so it can write the permission-locked routing fields (`custom_vertical`, `custom_psp_group`, `custom_current_program`, `custom_origin_vertical`, `custom_previous_program`, `custom_program_lifecycle_stage`). A regular user key would silently drop those fields on write, which is why integration keys are provisioned with this role.\n3. **Store** the pair as one environment variable: `FRAPPE_API_TOKEN=\"000000000000000:000000000000000\"`. Treat it like a database password.\n\n### One key per integration\n\nDon't share keys across systems. Each integration gets its own user + key so we can revoke / rotate / audit per integration. If you need a key for staging plus a separate one for prod, request both.\n\n### Verify your key works\n\nThe fastest handshake \u2014 returns the authenticated user's email if the key is valid:\n\n```bash\ncurl -H 'Authorization: token <api_key>:<api_secret>' \\\n     https://one.tatvacare.in/api/method/frappe.auth.get_logged_user\n```\n\nSuccess returns `{\"message\":\"mytatva-writer@tatvacare.in\"}`. A `401` means the header is malformed (most often: missing the literal word `token`, extra spaces, swapped key/secret order).\n\n### Rotation, revocation, leakage\n\nIf a key is ever leaked, exposed in logs, committed to git \u2014 email CRM Ops immediately. We'll revoke it (the user gets disabled) and reissue a fresh pair. The new pair has different values; update your env var and redeploy.\n\nRoutine rotation isn't enforced today; we'll add a schedule if/when compliance requires it.\n\n### What the key can NOT do\n\n- It can't bypass field-level validation (Link values must exist, required fields can't be empty).\n- It can't call non-whitelisted methods (anything not documented here or under `frappe.client.*`).\n- It can't see leads outside the CRM site (it's scoped to this site only)."
    },
    {
      "name": "Leads",
      "description": "## How to write leads to the CRM\n\nThree write paths. Pick the right one for the situation:\n\n| Endpoint | When to use | Idempotent? |\n|---|---|---|\n| `POST /api/method/upsert_lead_by_phone` | **DEFAULT.** Create-or-update by `mobile_no`. Single round-trip. | \u2705 Yes |\n| `POST /api/resource/CRM Lead` | You explicitly need create-only semantics (e.g. you've verified the lead doesn't exist and want a hard error if it does). | \u274c No |\n| `PUT /api/resource/CRM Lead/{name}` | Partial update when you already know the CRM `name` (from a prior write). | \u2705 Yes (same input = same state) |\n\n**99% of integrations should use Upsert by phone.** It's safer (idempotent), simpler (one call), and handles the lookup-or-create dance for you.\n\n### Profile child write semantics (important)\n\nProfile children (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) are sent as **embedded arrays** inside the parent body. There's at most ONE row per profile per lead today.\n\n**A `PUT` with a profile array REPLACES the entire array.** If you send `{\"custom_plan_profile\": [{\"plan_name\": \"X\"}]}` and the existing row had `policy_number: \"NB-001\"`, the `policy_number` is LOST \u2014 your single-field write replaced the whole row.\n\nThree ways to handle this:\n\n1. **Use Upsert** \u2014 it merges fields you send into the existing row, preserving fields you don't send. RECOMMENDED.\n2. **Read-modify-write** when using REST PUT:\n   ```python\n   lead = GET /api/resource/CRM Lead/<name>\n   row  = (lead.custom_plan_profile or [{}])[0]\n   row[\"plan_name\"] = \"X\"   # mutate\n   PUT /api/resource/CRM Lead/<name>  body={\"custom_plan_profile\": [row]}\n   ```\n3. **Always send the full row** \u2014 only viable if your source system holds the complete profile state, which is uncommon.\n\n### Routing fields are permission-locked\n\nThe 6 routing/lifecycle fields on `CRM Lead` (`custom_vertical`, `custom_psp_group`, `custom_current_program`, `custom_previous_program`, `custom_origin_vertical`, `custom_program_lifecycle_stage`) have `permlevel=1`. The System Manager integration key writes them; a non-manager key would silently drop them with NO error. If you ever see leads in the CRM missing routing values, this is the cause.\n\n### Field validation summary\n\n- **Required on every create**: `first_name`, `status`. (Upsert defaults them if missing \u2014 `(no name)` and `New`.)\n- **Required for upsert specifically**: `mobile_no` (it's the dedup key).\n- **Required IF status is Junk or Unqualified**: `lost_reason` (Frappe raises `ValidationError` otherwise).\n- **Link-validated** (values must exist in their master): `status`, `source`, `lost_reason`, `custom_vertical`, `custom_psp_group`, `custom_current_program`, `custom_previous_program`, `custom_origin_vertical`, `lead_owner` (must be a real Frappe user), `substage` on Plan Profile (format `{program}-{substage_name}`).\n- **Never write**: `name` (autonamed), `lead_name` (computed from first+last name), `creation`, `modified`, `lead_owner` unless you've verified the email exists as a user.\n\n---\n\n## How to read leads from the CRM\n\nThree paths: get one by name, list with filters, count with filters.\n\n### Pagination & filtering syntax (applies to all list endpoints)\n\nFrappe's list query parameters are URL-encoded JSON arrays. They look ugly but they're standard.\n\n| Parameter | Type | Example |\n|---|---|---|\n| `filters` | JSON array of `[field, op, value]` | `[[\"status\",\"=\",\"New\"]]` |\n| `fields` | JSON array of fieldnames | `[\"name\",\"mobile_no\",\"status\"]` |\n| `limit_page_length` | integer (max 20 by default, can pass higher) | `100` |\n| `limit_start` | integer offset for paging | `100` (skip first 100) |\n| `order_by` | string SQL-style | `modified desc` |\n\n**Filter operators**: `=`, `!=`, `>`, `>=`, `<`, `<=`, `like`, `in`, `not in`, `between`, `is`, `is not`.\n\nMulti-condition AND: list multiple filters in the same array \u2014 `[[\"status\",\"=\",\"New\"],[\"custom_psp_group\",\"=\",\"Anaya\"]]`.\n\n**curl gotcha**: use `--data-urlencode` to properly encode the brackets:\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"status\",\"=\",\"New\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"mobile_no\"]' \\\n     --data-urlencode 'limit_page_length=50' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead\n```\n\nRaw `[`/`]` in the URL will return 500.\n\n### Reading a lead returns embedded children\n\n`GET /api/resource/CRM Lead/{name}` returns the parent doc with `custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile` arrays inline. Each will be `[]` if no row exists for that profile, otherwise `[{...}]` with all fields populated.\n\n### What about reading the children directly?\n\nYou can't. `/api/resource/CRM Plan Profile` returns HTTP 403 because the profile doctypes are `istable=1` (child tables) \u2014 they have no standalone permission scope. Always read children through the parent lead."
    },
    {
      "name": "Files",
      "description": "## Files attached to leads\n\nFiles (lab reports PDFs, prescriptions, insurance docs, etc.) attach to leads via Frappe's core `File` doctype. The pattern is:\n\n1. **Upload** the binary using `POST /api/method/upload_file` with multipart/form-data. You tell it `doctype=CRM Lead` + `docname=<lead name>` so it attaches to the right lead. **Always set `is_private=1` for patient documents.**\n2. **List** a lead's files by querying `/api/resource/File` filtered by `attached_to_doctype` + `attached_to_name`.\n3. **Download** the file by GETting its `file_url`. Public files (`/files/...`) are open; private files (`/private/files/...`) require an authenticated session with read permission on the parent lead.\n4. **Delete** with `DELETE /api/resource/File/{name}`.\n\n### Privacy rule \u2014 patient docs must be private\n\nPublic files at `/files/...` are world-readable to anyone with the URL. Patient lab reports / prescriptions / claim documents must be uploaded with `is_private=1` so they land at `/private/files/...` and require auth to fetch.\n\nA file uploaded as private:\n- Returns `file_url: /private/files/<hash>.<ext>` in the response.\n- Can only be GETted by a session user who has read permission on the lead it's attached to. Your integration key (with System Manager role) can fetch it. An anonymous tab cannot.\n\n### Download requires the right context\n\nIf you fetch a private `file_url` from an integration script, send the same `Authorization: token KEY:SECRET` header. The 403 you'd otherwise get is intentional \u2014 the file is gated on lead permission."
    },
    {
      "name": "Reference Data",
      "description": "## Link-master tables \u2014 read these to validate your writes\n\nMany lead fields are **Link** fields, meaning the value MUST exist as a row in a lookup master doctype. Sending an unknown value returns HTTP 404 `LinkValidationError`.\n\nRead each master once at startup (or cache) so you know the valid values to send.\n\n| Field on CRM Lead | Lookup master | Example endpoint |\n|---|---|---|\n| `status` | `CRM Lead Status` | `GET /api/resource/CRM%20Lead%20Status` |\n| `source` | `CRM Lead Source` | `GET /api/resource/CRM%20Lead%20Source` |\n| `lost_reason` | `CRM Lost Reason` | `GET /api/resource/CRM%20Lost%20Reason` |\n| `custom_vertical` | `CRM Vertical` | `GET /api/resource/CRM%20Vertical` |\n| `custom_psp_group` | `CRM Group` | `GET /api/resource/CRM%20Group` |\n| `custom_current_program` / `custom_previous_program` | `CRM Program` | `GET /api/resource/CRM%20Program` |\n| `custom_origin_vertical` | `CRM Vertical` | (same as above) |\n| `lead_owner` | `User` (Frappe core) | `GET /api/resource/User?filters=[[\"enabled\",\"=\",1]]&fields=[\"name\",\"full_name\"]` |\n| `substage` (on Plan Profile) | `CRM Lead Substage` | `GET /api/resource/CRM%20Lead%20Substage?filters=[[\"program\",\"=\",\"Niva Bupa\"]]` |\n\nResponses are the standard `{\"data\":[{\"name\":\"...\"},...]}` shape \u2014 the `name` field of each row is the value you'd send back in your write.\n\n### Substages are program-scoped\n\nUnlike the other lookups, `CRM Lead Substage` rows are scoped by a `program` field. **Always filter by `program=<the lead's current program>`** when enumerating valid substages for a specific lead:\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"program\",\"=\",\"Sigrima\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"substage_name\",\"main_stage\"]' \\\n     --data-urlencode 'limit_page_length=200' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead%20Substage\n```\n\nThe `name` of each row (format `{program}-{substage_name}`, e.g. `Sigrima-Patient Ready for Chemo`) is what you write back into `custom_plan_profile[].substage`."
    },
    {
      "name": "Schema",
      "description": "## Runtime schema introspection \u2014 don't hardcode field lists\n\nThe API docs you're reading lists every field on `CRM Lead` and the three profile children. But the source of truth is the LIVE Frappe doctype definition \u2014 and you can fetch it directly. Do this in your integration code so you adapt automatically when new fields are added.\n\n### Read a doctype's full definition\n\nEvery Frappe doctype is itself accessible via REST. Get the full schema (every field, type, options, validations) with:\n\n```bash\ncurl -H 'Authorization: token KEY:SECRET' \\\n     https://one.tatvacare.in/api/resource/DocType/CRM%20Lead\n```\n\nThe response includes a `data.fields[]` array \u2014 each entry is one field with attributes `fieldname`, `fieldtype` (`Data`/`Select`/`Link`/`Date`/`Datetime`/`Int`/`Float`/`Check`/`Currency`/`Small Text`/`Long Text`/`Table`/`Section Break`/`Column Break`/`Tab Break`/etc.), `label`, `reqd` (required), `options` (for Link: the target doctype name; for Select: newline-separated valid values), `permlevel` (0=anyone, 1=manager-only), and more.\n\nSame call works for the children \u2014 replace the name in the URL (URL-encode spaces):\n\n```\nGET /api/resource/DocType/CRM%20Plan%20Profile\nGET /api/resource/DocType/CRM%20Lab%20Profile\nGET /api/resource/DocType/CRM%20Care%20Providers%20Profile\nGET /api/resource/DocType/CRM%20Lead%20Substage\n```\n\n### List records of any doctype\n\nThe `/api/resource/<DocType>` pattern lists records:\n\n```bash\ncurl -H 'Authorization: token KEY:SECRET' \\\n     -G --data-urlencode 'filters=[[\"custom_psp_group\",\"=\",\"Anaya\"]]' \\\n        --data-urlencode 'fields=[\"name\",\"first_name\",\"mobile_no\",\"status\"]' \\\n        --data-urlencode 'limit_page_length=50' \\\n     https://one.tatvacare.in/api/resource/CRM%20Lead\n```\n\nSee [Read](/docs/api/leads) for the full filter / pagination syntax.\n\n### When schema changes happen\n\nWhen we add a field, you'll see it appear in the doctype definition. Your code keeps working \u2014 your existing writes succeed (new field is optional and nullable), your reads return the extra field which you can ignore until you're ready to consume it. We notify integrators via email before any **breaking** change (renames, deletes, validation tightening).\n\n### Beyond Lead\n\nThe entire Frappe REST pattern works for ANY doctype. If you discover a need (e.g. read `CRM Call Log` records linked to a lead), the same `/api/resource/<DocType>` pattern applies. The doctypes worth knowing about for an integrator:\n\n- `CRM Lead` (this spec's primary target)\n- `CRM Plan Profile`, `CRM Lab Profile`, `CRM Care Providers Profile` (children of Lead)\n- `CRM Lead Substage` (program-scoped substage master)\n- `CRM Vertical`, `CRM Group`, `CRM Program` (routing masters)\n- `CRM Lead Status`, `CRM Lead Source`, `CRM Lost Reason` (universal lookup masters)\n- `CRM Call Log`, `CRM Task`, `FCRM Note`, `Comment`, `Communication`, `ToDo` (activity-adjacent \u2014 read about them in Frappe's standard docs)\n- `File` (attachments \u2014 see [Attachments](/docs/api/files))\n\nIf you find yourself reaching for a non-Lead doctype, email Ops first \u2014 we want to know what use case you're hitting so we can document it (or wrap it in a saner endpoint)."
    },
    {
      "name": "WhatsApp",
      "description": "## WhatsApp on a lead\n\n> **Rollout note.** Ships with the WATI integration; a `404` means the integration app isn't deployed on that environment yet.\n\nEvery WhatsApp message \u2014 inbound or outbound \u2014 is a row in the **`WhatsApp Message`** doctype, linked to its lead via `reference_doctype` + `reference_name`. So you read a conversation the same way you read anything else: a filtered `GET /api/resource/WhatsApp Message`.\n\nSending is doctype-driven too \u2014 inserting a `WhatsApp Message` row triggers the actual send behind the scenes, routed through **WATI** (our WhatsApp provider) so the team's existing templates and broadcasts keep working. Multi-sender is built in: one **`WhatsApp Account`** row per WhatsApp number, so different product lines can send from different numbers.\n\nSee [WhatsApp](/docs/whatsapp) in the Documentation tab for the full picture."
    },
    {
      "name": "Telephony",
      "description": "## Calls on a lead\n\nCalls are rows in **`CRM Call Log`**, linked to a lead via `reference_doctype` + `reference_docname`. **Reading call logs is live today.** A row carries `type` (Incoming/Outgoing), `status`, `from`/`to`, `duration`, and `recording_url` (private \u2014 patient PII).\n\nOutbound **click-to-call** and automatic inbound logging are provided by **Acefone**; that half is in build, so the click-to-call endpoint is badged planned and `telephony_medium` has no `Acefone` value until it deploys.\n\nSee [Telephony](/docs/telephony) in the Documentation tab."
    },
    {
      "name": "Users",
      "description": "## Users, onboarding & API keys\n\nEvery account \u2014 an agent or an integration \u2014 is a `User`, and its **roles** decide what it can do ([Roles & permissions](/docs/api/roles-and-permissions)). Two admin jobs live here:\n\n- **Onboard** \u2014 create a user with the right roles (and, for people, a welcome email to set a password).\n- **Mint a key** \u2014 generate an `api_key`/`api_secret` for an integration account, exactly the pair [Authentication](/docs/api/authentication) expects.\n\nThe end-to-end onboarding of an integration: `POST User` (with its role) \u2192 `generate_keys` (capture the secret) \u2192 hand the pair to the integration. See [Users & onboarding](/docs/users) in the Documentation tab.\n\n> **\u26a0 Admin-only.** These need an admin-roled key, and `generate_keys` **rotates** \u2014 it invalidates the user's previous secret."
    },
    {
      "name": "Roles and Permissions",
      "description": "## Inspect roles, scoping, and permissions\n\nA key acts **as a user** and runs that user's permission checks \u2014 it never bypasses them (see [Permissions in 60 seconds](/docs/frappe-permissions)). What a key can do is decided by three layers:\n\n- **Roles** \u2014 what actions (Read / Write / Create / Delete) on what doctypes.\n- **User Permissions** \u2014 which rows a user may see (row-level scoping, e.g. only `Anaya` leads).\n- **Field permlevels** \u2014 which fields a user may write (routing fields are level-1, manager-only).\n\nThese endpoints let you read all three so you know exactly what a key is allowed to do. See [Roles & permissions](/docs/roles-and-permissions) in the Documentation tab."
    },
    {
      "name": "Tags",
      "description": "## Label leads and find them fast\n\nTags are free-form labels on a lead (`vip`, `reactivation`, \u2026) \u2014 the quickest way to slice leads without adding a field. Frappe keeps them in two synced places: a denormalised `_user_tags` string on the lead (good for a quick `like` filter) and a **`Tag Link`** row per (tag, document) pair (the clean way to ask *which* leads carry a tag). The label vocabulary lives in the **`Tag`** doctype.\n\nAlways set/clear tags through the whitelisted `add_tag` / `remove_tag` methods so both stores stay consistent \u2014 never write `_user_tags` by hand. See [Tags](/docs/tags) in the Documentation tab."
    },
    {
      "name": "Jobs",
      "description": "Scheduled and background jobs. `Scheduled Job Type` holds the definitions (method, cron, stopped, last run); `Scheduled Job Log` holds the execution history. Both are read-only over the API and require System Manager. There is no REST endpoint to trigger a job (Desk / bench only). See the Jobs guide for the inventory."
    },
    {
      "name": "Errors & Logs",
      "description": "Operational visibility, read-only. Error Log = server exceptions/tracebacks; Integration Request = outbound provider calls + responses; plus Scheduled Job Log (see Jobs) and WhatsApp Notification Log. Requires System Manager. See the Errors & status guide for a health sweep."
    },
    {
      "name": "Automations",
      "description": "Event-driven lead-lifecycle automations: dedup, auto-assignment, tasks, checklists, and the automation registry. See the Internal Automations guide."
    }
  ],
  "security": [
    {
      "apiKeyAuth": []
    }
  ],
  "components": {
    "securitySchemes": {
      "apiKeyAuth": {
        "type": "apiKey",
        "in": "header",
        "name": "Authorization",
        "description": "Format: `token <api_key>:<api_secret>` \u2014 literal lowercase `token`, single space, key:secret joined by `:`. See the [Authentication](/docs/api/authentication) page for how to request a key and a one-liner to verify it works."
      }
    },
    "schemas": {
      "CRMLeadUniversal": {
        "type": "object",
        "description": "Universal fields on `CRM Lead` itself. 29 custom fields plus standard Frappe fields. Profile children (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) are pointers to embedded child arrays \u2014 see [Concepts](/docs/concepts) for the model.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key, autonamed `CRM-LEAD-YYYY-NNNNN`. **Read-only** \u2014 never include in POST bodies (server generates).",
            "readOnly": true,
            "example": "CRM-LEAD-2026-00123"
          },
          "first_name": {
            "type": "string",
            "description": "**Required.** Patient first name. Set to `(no name)` if you genuinely don't have it (the upsert endpoint default-fills this)."
          },
          "last_name": {
            "type": "string",
            "description": "Patient last name (optional)."
          },
          "email": {
            "type": "string",
            "format": "email",
            "description": "Patient email (optional)."
          },
          "mobile_no": {
            "type": "string",
            "description": "**Required for upsert** (dedup key). E.164 format: `+<country code><digits>`, no hyphens, no spaces.",
            "example": "+919999000123"
          },
          "phone": {
            "type": "string",
            "description": "Secondary phone (optional). E.164 same as mobile_no."
          },
          "custom_alternate_number": {
            "type": "string",
            "description": "Alternate contact phone (optional). E.164 same as mobile_no."
          },
          "status": {
            "type": "string",
            "description": "**Required on create.** Universal lifecycle status. New leads start as `New`. Junk and Unqualified are 'Lost' type and require `lost_reason`. Enumerate live values via [Lookups \u2192 Lead Status](/docs/api/reference-data).",
            "enum": [
              "New",
              "Contacted",
              "Nurture",
              "Qualified",
              "Converted",
              "Junk",
              "Unqualified"
            ],
            "default": "New"
          },
          "source": {
            "type": "string",
            "description": "Lead acquisition channel. Link to `CRM Lead Source`. Enumerate via [Lookups \u2192 Lead Source](/docs/api/reference-data)."
          },
          "lead_owner": {
            "type": "string",
            "format": "email",
            "description": "Email of the CRM user owning this lead. Link to `User`. **Only set if the email is a real Frappe user** \u2014 otherwise leave blank to avoid `LinkValidationError`."
          },
          "lost_reason": {
            "type": "string",
            "description": "**Required when `status` is `Junk` or `Unqualified`.** Link to `CRM Lost Reason`.",
            "enum": [
              "Pricing",
              "Competition",
              "Budget Constraints",
              "Missing Features",
              "Long Sales Cycle",
              "No Decision-Maker",
              "Unresponsive Prospect",
              "Poor Fit",
              "Other"
            ]
          },
          "lost_notes": {
            "type": "string",
            "description": "Free-text note explaining why the lead was lost."
          },
          "custom_vertical": {
            "type": "string",
            "enum": [
              "GoodFlip",
              "GoodFlip Care",
              "Pill Up",
              "TatvaPractice"
            ],
            "description": "**Permission-locked** (`permlevel=1`). Top-level product line. Link to `CRM Vertical`. See [Concepts \u203a routing chain](/docs/concepts)."
          },
          "custom_psp_group": {
            "type": "string",
            "enum": [
              "Anaya",
              "Anyra",
              "Eisai",
              "GoodFlip",
              "Insurers"
            ],
            "description": "**Permission-locked.** Sub-line under the vertical. Link to `CRM Group`."
          },
          "custom_current_program": {
            "type": "string",
            "enum": [
              "Anyra - Retina",
              "Eisai - Alzheimers",
              "GoodFlip",
              "Niva Bupa",
              "Nivolumab",
              "Sigrima",
              "Tukavo",
              "Ujvira"
            ],
            "description": "**Permission-locked.** The PRIMARY program. Link to `CRM Program`. Multi-program patients are supported via profile-row presence (see [Concepts](/docs/concepts))."
          },
          "custom_previous_program": {
            "type": "string",
            "description": "**Permission-locked.** The lead's previous program if they transitioned. Link to `CRM Program`. Captures the LAST switch only \u2014 full history is in the (deferred) activity layer."
          },
          "custom_origin_vertical": {
            "type": "string",
            "description": "**Permission-locked. Write-once on capture, never updated.** Records the vertical the patient first entered through, even if their current vertical changes later."
          },
          "custom_source_origin": {
            "type": "string",
            "description": "Where the lead source data originated (deprecated for new writes \u2014 use `source` instead)."
          },
          "custom_program_lifecycle_stage": {
            "type": "string",
            "description": "**Permission-locked.** Cross-program lifecycle marker (Acquisition / Active / Retention / etc.) \u2014 used for cohort analytics."
          },
          "custom_patient_id": {
            "type": "string",
            "description": "External patient identifier from the source system (e.g. MyTatva user ID, partner system ID)."
          },
          "custom_lsq_prospect_id": {
            "type": "string",
            "description": "Legacy LeadSquared ProspectId \u2014 migration-only dedup key. Not populated for new leads after the LSQ cutover."
          },
          "custom_lsq_lead_number": {
            "type": "string",
            "description": "Legacy LeadSquared lead number."
          },
          "custom_lsq_lead_stage_legacy": {
            "type": "string",
            "description": "Legacy LeadSquared stage. Read-only for reporting."
          },
          "custom_lead_gen_id": {
            "type": "string",
            "description": "External lead-gen system identifier (campaign or form submission ID)."
          },
          "custom_records_type": {
            "type": "string",
            "description": "Free-text records-classification field."
          },
          "custom_gender": {
            "type": "string",
            "enum": [
              "Female",
              "Male",
              "Other"
            ],
            "description": "Patient gender."
          },
          "custom_dob": {
            "type": "string",
            "format": "date",
            "example": "1965-03-15",
            "description": "Patient date of birth (`YYYY-MM-DD`)."
          },
          "custom_patient_age": {
            "type": "integer",
            "description": "Patient age in years. Not auto-calculated from DOB today \u2014 caller-provided."
          },
          "custom_age_group": {
            "type": "string",
            "description": "Patient age bucket (e.g. `25-34`, `45-54`)."
          },
          "custom_preferred_language": {
            "type": "string",
            "example": "English",
            "description": "Patient's preferred communication language."
          },
          "custom_city": {
            "type": "string",
            "description": "City."
          },
          "custom_state": {
            "type": "string",
            "description": "State / region."
          },
          "custom_pincode": {
            "type": "string",
            "description": "Postal code."
          },
          "custom_caregiver_name": {
            "type": "string",
            "description": "Primary caregiver's name."
          },
          "custom_caregiver_phone": {
            "type": "string",
            "description": "Caregiver's phone (E.164)."
          },
          "custom_caregiver_relation": {
            "type": "string",
            "description": "Caregiver's relationship to patient (e.g. Spouse, Daughter, Son)."
          },
          "custom_job_title": {
            "type": "string",
            "description": "Patient's job title (rarely used)."
          },
          "custom_plan_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PlanProfile"
            },
            "description": "**Embedded child rows** (max 1 today). Plan / PSP / subscription / drug-program / payment / acquisition / dx-funnel data. On PUT, the array REPLACES the existing rows \u2014 see [Write \u203a profile semantics](/docs/api/leads)."
          },
          "custom_lab_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/LabProfile"
            },
            "description": "Embedded child rows. Lab values, vitals, conditions, scores."
          },
          "custom_care_providers_profile": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/CareProvidersProfile"
            },
            "description": "Embedded child rows. Care team \u2014 coaches, RM, therapist, doctor, hospital."
          },
          "lead_name": {
            "type": "string",
            "description": "**Read-only.** Auto-computed from `first_name` + `last_name`. Never write directly.",
            "readOnly": true
          },
          "creation": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Lead creation timestamp.",
            "readOnly": true
          },
          "modified": {
            "type": "string",
            "format": "date-time",
            "description": "**Read-only.** Last-modified timestamp. Useful for change-tracking / delta sync.",
            "readOnly": true
          }
        },
        "required": [
          "first_name",
          "status"
        ]
      },
      "PlanProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 79 fields. Holds everything plan-shaped: subscription / PSP enrollment, drug-program clinical (oncology), Rx workflow, payment + insurer fields, acquisition (UTM + signup), diagnostic-funnel timestamps, and the program-scoped substage Link. See [Concepts](/docs/concepts) for why this is sliced by concern, not by program.",
        "properties": {
          "signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date the patient signed up (any platform)."
          },
          "mobile_app_signup_date": {
            "type": "string",
            "format": "date",
            "description": "Date specifically of mobile app sign-up."
          },
          "signed_up_on_app": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean flag (0/1). Whether the patient signed up via mobile app."
          },
          "platform": {
            "type": "string",
            "description": "Mobile app platform \u2014 Android / iOS / Web."
          },
          "user_source": {
            "type": "string",
            "description": "Free-text source identifier (granular than `CRM Lead Source`)."
          },
          "utm_source": {
            "type": "string",
            "description": "UTM source (marketing attribution)."
          },
          "utm_medium": {
            "type": "string",
            "description": "UTM medium."
          },
          "utm_campaign": {
            "type": "string",
            "description": "UTM campaign."
          },
          "utm_term": {
            "type": "string",
            "description": "UTM term."
          },
          "utm_content": {
            "type": "string",
            "description": "UTM content."
          },
          "utm_disease": {
            "type": "string",
            "description": "UTM disease tag \u2014 used in disease-targeted campaigns."
          },
          "utm_therapy_area": {
            "type": "string",
            "description": "UTM therapy-area tag."
          },
          "source_campaign": {
            "type": "string",
            "description": "Source campaign (alternate naming used by some campaigns)."
          },
          "source_medium": {
            "type": "string",
            "description": "Source medium."
          },
          "source_content": {
            "type": "string",
            "description": "Source content."
          },
          "plan_name": {
            "type": "string",
            "description": "Name of the plan / PSP / subscription the patient is enrolled in."
          },
          "plan_duration": {
            "type": "string",
            "description": "Plan duration (e.g. `3 months`, `12 months`)."
          },
          "plan_includes_cgm": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes a Continuous Glucose Monitor."
          },
          "cgm_brand": {
            "type": "string",
            "description": "CGM device brand (e.g. Abbott, Dexcom)."
          },
          "sensor_count": {
            "type": "integer",
            "description": "Number of CGM sensors included."
          },
          "transmitter_count": {
            "type": "integer",
            "description": "Number of CGM transmitters included."
          },
          "bca_device": {
            "type": "string",
            "description": "Body Composition Analyzer device, if part of the plan."
          },
          "recurrence": {
            "type": "string",
            "description": "Plan recurrence pattern (monthly / quarterly / annual)."
          },
          "program_duration": {
            "type": "string",
            "description": "Program / treatment duration."
          },
          "program_start_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment starts."
          },
          "program_end_date": {
            "type": "string",
            "format": "date",
            "description": "Date the program / treatment ends."
          },
          "program_price": {
            "type": "number",
            "description": "Program price in INR."
          },
          "dx_landing_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient landed on the lab-test booking page. Stamp current time when the LSQ flag fires."
          },
          "dx_intent_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient indicated intent to book."
          },
          "dx_details_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted personal details."
          },
          "dx_address_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient submitted address."
          },
          "dx_slot_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: patient selected a slot."
          },
          "dx_confirmed_at": {
            "type": "string",
            "format": "date-time",
            "description": "Diagnostic funnel step: booking confirmed."
          },
          "labtest_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Lab test booking completed (terminal funnel step)."
          },
          "invoice_uploaded": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the patient has uploaded an invoice."
          },
          "invoice_amount": {
            "type": "number",
            "description": "Invoice amount in INR."
          },
          "payment_link": {
            "type": "string",
            "format": "uri",
            "description": "URL the patient can use to complete payment."
          },
          "paying_status": {
            "type": "string",
            "description": "Free-text payment status (e.g. Paid, Pending, Defaulted)."
          },
          "coins_balance": {
            "type": "integer",
            "description": "Patient's loyalty/wallet coin balance."
          },
          "policy_number": {
            "type": "string",
            "description": "Insurer policy number (e.g. Niva Bupa policy)."
          },
          "member_id": {
            "type": "string",
            "description": "Insurer member identifier within the policy."
          },
          "priority_text": {
            "type": "string",
            "description": "Admin-only priority note."
          },
          "patient_indication": {
            "type": "string",
            "description": "Clinical indication (e.g. `HER2+ MBC`)."
          },
          "cancer_stage": {
            "type": "string",
            "description": "Cancer stage (e.g. `Stage IV`)."
          },
          "brain_mets_category": {
            "type": "string",
            "description": "Brain metastases category."
          },
          "tucavo_brain_mets": {
            "type": "string",
            "description": "Tukavo brain-mets indicator."
          },
          "side_effects": {
            "type": "string",
            "description": "Side effects experienced."
          },
          "side_effects_detail": {
            "type": "string",
            "description": "Free-text side-effects detail."
          },
          "pcr_received": {
            "type": "string",
            "description": "PCR (Pathology) report received status."
          },
          "reason_for_no_indication": {
            "type": "string",
            "description": "Reason if `patient_indication` couldn't be set."
          },
          "physio_or_dietician": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "Boolean. Whether the plan includes physio / dietician."
          },
          "tucatinib_chemo_cycle": {
            "type": "integer",
            "description": "Tucatinib chemo cycle number."
          },
          "tucatinib_indication": {
            "type": "string",
            "description": "Tucatinib clinical indication."
          },
          "tucatinib_psp": {
            "type": "string",
            "description": "Tucatinib Patient Support Program identifier."
          },
          "tucatinib_dosage": {
            "type": "string",
            "description": "Tucatinib dosage."
          },
          "tukavo_psp": {
            "type": "string",
            "description": "Tukavo Patient Support Program identifier."
          },
          "sigrima_pap_category": {
            "type": "string",
            "description": "Sigrima Patient Assistance Program category."
          },
          "sigrima_psp_category": {
            "type": "string",
            "description": "Sigrima PSP category."
          },
          "sigrima_psp_enabled": {
            "type": "string",
            "description": "Sigrima PSP enabled flag."
          },
          "ujvira_chemo_cycle_number": {
            "type": "integer",
            "description": "Ujvira chemo cycle number."
          },
          "ujvira_indication": {
            "type": "string",
            "description": "Ujvira clinical indication."
          },
          "ujvira_pap_category": {
            "type": "string",
            "description": "Ujvira PAP category."
          },
          "ujvira_dosage": {
            "type": "string",
            "description": "Ujvira dosage."
          },
          "nivo_chemo_cycle": {
            "type": "integer",
            "description": "Nivolumab chemo cycle number."
          },
          "nivo_indication": {
            "type": "string",
            "description": "Nivolumab clinical indication."
          },
          "nivo_pap_category": {
            "type": "string",
            "description": "Nivolumab PAP category."
          },
          "nivo_dosage": {
            "type": "string",
            "description": "Nivolumab dosage."
          },
          "capecitabine_dosage": {
            "type": "string",
            "description": "Capecitabine dosage."
          },
          "vivitra_enabled": {
            "type": "string",
            "description": "Vivitra (Trastuzumab biosimilar) enabled flag."
          },
          "vivitra_free_required": {
            "type": "string",
            "description": "Whether free Vivitra is required."
          },
          "vivitra_order_cycle_number": {
            "type": "integer",
            "description": "Vivitra order cycle."
          },
          "vivitra_order_id": {
            "type": "string",
            "description": "Vivitra order identifier."
          },
          "transition_from_sigrima": {
            "type": "string",
            "description": "Transition marker if patient came from Sigrima."
          },
          "transition_from_ujvira": {
            "type": "string",
            "description": "Transition marker if patient came from Ujvira."
          },
          "transition_old_to_new_pap": {
            "type": "string",
            "description": "Transition from old PAP to new PAP."
          },
          "rx_status": {
            "type": "string",
            "description": "Prescription review status (e.g. Pending / Approved / Rejected)."
          },
          "rx_reviewed_by": {
            "type": "string",
            "format": "email",
            "description": "Email of the user who reviewed the prescription. Link to `User`."
          },
          "rx_rejection_reason": {
            "type": "string",
            "description": "Reason the prescription was rejected (if applicable)."
          },
          "substage": {
            "type": "string",
            "description": "**Program-scoped operational stage.** Link to `CRM Lead Substage`. Value format is `{program}-{substage_name}` (e.g. `Niva Bupa-Payment Link Sent`, `Sigrima-Patient Ready for Chemo`). Enumerate valid values for a program via [Lookups \u203a Lead Substage](/docs/api/reference-data). The universal `status` field on `CRM Lead` is independent of substage \u2014 see [Concepts \u203a substages](/docs/concepts).",
            "example": "Niva Bupa-Payment Link Sent"
          }
        }
      },
      "LabProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 22 fields. Lab values, vitals (height/weight/BMI), conditions (primary + co-morbid), and metabolic score / assessment data.",
        "properties": {
          "hba1c": {
            "type": "number",
            "description": "HbA1c \u2014 3-month average blood sugar (%)."
          },
          "fbs": {
            "type": "number",
            "description": "Fasting Blood Sugar (mg/dL)."
          },
          "ldl": {
            "type": "number",
            "description": "LDL Cholesterol (mg/dL)."
          },
          "hdl": {
            "type": "number",
            "description": "HDL Cholesterol (mg/dL)."
          },
          "vldl": {
            "type": "number",
            "description": "VLDL Cholesterol (mg/dL)."
          },
          "total_cholesterol": {
            "type": "number",
            "description": "Total Cholesterol (mg/dL)."
          },
          "triglycerides": {
            "type": "number",
            "description": "Triglycerides (mg/dL)."
          },
          "tsh": {
            "type": "number",
            "description": "TSH \u2014 Thyroid Stimulating Hormone."
          },
          "creatinine": {
            "type": "number",
            "description": "Creatinine (mg/dL) \u2014 kidney function marker."
          },
          "egfr": {
            "type": "number",
            "description": "eGFR \u2014 Estimated Glomerular Filtration Rate (kidney)."
          },
          "alt_sgpt": {
            "type": "number",
            "description": "ALT / SGPT \u2014 liver enzyme."
          },
          "ggt": {
            "type": "number",
            "description": "GGT \u2014 liver enzyme."
          },
          "height_feet": {
            "type": "number",
            "description": "Patient height in feet."
          },
          "weight_kg": {
            "type": "number",
            "description": "Patient weight in kg."
          },
          "bmi": {
            "type": "number",
            "description": "Body Mass Index. Caller-computed today (no auto-calc hook yet). Formula: `weight_kg / (height_meters^2)`."
          },
          "primary_condition": {
            "type": "string",
            "description": "Patient's primary medical condition. Free text today; will become a Link master when the option list is locked."
          },
          "comorbid_conditions": {
            "type": "string",
            "description": "Comma-separated co-morbid conditions. Will move to a child Table doctype when multi-select pattern is needed."
          },
          "initial_metabolic_score": {
            "type": "number",
            "description": "Initial metabolic score from assessment."
          },
          "final_metabolic_score": {
            "type": "number",
            "description": "Final / latest metabolic score."
          },
          "metabolic_questionnaire_link": {
            "type": "string",
            "format": "uri",
            "description": "URL to the metabolic questionnaire PDF / form."
          },
          "assessment_responses": {
            "type": "string",
            "description": "Raw assessment payload \u2014 typically a JSON-as-string blob with all questionnaire responses."
          },
          "report_date": {
            "type": "string",
            "format": "date",
            "description": "Date the lab report was generated (`YYYY-MM-DD`)."
          }
        }
      },
      "CareProvidersProfile": {
        "type": "object",
        "description": "Child of `CRM Lead`. 15 fields. The patient's care team (internal coaches + RM + therapist) and medical providers (treating doctor + hospital). UI label: 'Care & Providers'. The internal doctype name has no `&` (Frappe restriction).",
        "properties": {
          "success_coach_name": {
            "type": "string",
            "description": "Success Coach name \u2014 primary internal contact for the patient."
          },
          "rm_name": {
            "type": "string",
            "description": "Relationship Manager name \u2014 handles calls and follow-ups."
          },
          "therapist_name": {
            "type": "string",
            "description": "Therapist / counsellor name."
          },
          "diet_coach_name": {
            "type": "string",
            "description": "Diet coach name."
          },
          "exercise_coach_name": {
            "type": "string",
            "description": "Exercise coach name."
          },
          "abm_name": {
            "type": "string",
            "description": "Area Business Manager \u2014 operational lead handler for PSP-style engagements."
          },
          "doctor_name": {
            "type": "string",
            "description": "Treating doctor's short name."
          },
          "doctor_full_name": {
            "type": "string",
            "description": "Treating doctor's full name."
          },
          "hospital_name": {
            "type": "string",
            "description": "Hospital short name."
          },
          "hospital_full_name": {
            "type": "string",
            "description": "Hospital full name."
          },
          "hospital_city": {
            "type": "string",
            "description": "Hospital city short code."
          },
          "hospital_city_name": {
            "type": "string",
            "description": "Hospital city full name."
          },
          "hospital_state": {
            "type": "string",
            "description": "Hospital state."
          },
          "hospital_type": {
            "type": "string",
            "description": "Hospital type (e.g. Private, Government, Trust)."
          },
          "coach_appointment_booked_at": {
            "type": "string",
            "format": "date-time",
            "description": "Timestamp when the patient's first coach appointment was booked."
          }
        }
      },
      "LookupItem": {
        "type": "object",
        "description": "Generic single-column lookup-master row. The `name` field holds the value you'd send back into a Link field on `CRM Lead`.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Primary key \u2014 also the human-readable value (e.g. `Sigrima`, `Anaya`, `Mobile App`).",
            "example": "Sigrima"
          }
        }
      },
      "LeadSubstage": {
        "type": "object",
        "description": "Row in `CRM Lead Substage` master. One row per (program, substage_name) pair. New programs add rows here \u2014 never new columns on Plan Profile.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Auto-formatted `{program}-{substage_name}`. This is the value you send back into `custom_plan_profile[].substage`.",
            "example": "Niva Bupa-Payment Link Sent"
          },
          "substage_name": {
            "type": "string",
            "example": "Payment Link Sent",
            "description": "Human-readable substage name within a program."
          },
          "program": {
            "type": "string",
            "description": "Link to `CRM Program`. Which program this substage belongs to.",
            "example": "Niva Bupa"
          },
          "main_stage": {
            "type": "string",
            "enum": [
              "New",
              "Opportunity",
              "Active",
              "On Hold",
              "Drop-off",
              "Completed",
              "Lost",
              "Archived",
              "Converted"
            ],
            "description": "Coarse grouping for reporting."
          }
        }
      },
      "UpsertLeadRequest": {
        "type": "object",
        "description": "Request body for `POST /api/method/upsert_lead_by_phone`. Only `mobile_no` is strictly required; `first_name` and `status` are default-filled if missing (`(no name)` and `New`). All other `CRMLeadUniversal` fields are optional. Profile children embed as arrays.",
        "allOf": [
          {
            "$ref": "#/components/schemas/CRMLeadUniversal"
          },
          {
            "type": "object",
            "required": [
              "mobile_no"
            ]
          }
        ]
      },
      "UpsertLeadResponse": {
        "type": "object",
        "description": "Always HTTP 200 today (silent-200 quirk pending patch \u2014 see [Errors](/docs/errors)). Check `message.ok` (boolean) for success.",
        "properties": {
          "message": {
            "type": "object",
            "properties": {
              "ok": {
                "type": "boolean",
                "description": "True on success, false on validation/processing failure."
              },
              "action": {
                "type": "string",
                "enum": [
                  "created",
                  "updated"
                ],
                "description": "Present only when `ok=true`."
              },
              "name": {
                "type": "string",
                "description": "CRM Lead primary key (e.g. `CRM-LEAD-2026-00123`). Present only when `ok=true`."
              },
              "mobile_no": {
                "type": "string",
                "description": "Echoed back from the request."
              },
              "error": {
                "type": "string",
                "description": "Present only when `ok=false`. Human-readable error message."
              }
            },
            "required": [
              "ok"
            ]
          }
        }
      },
      "FrappeListResponse": {
        "type": "object",
        "description": "Standard Frappe list response shape. `data` is an array of objects with the fields requested via the `fields` query parameter.",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "FrappeDocResponse": {
        "type": "object",
        "description": "Standard Frappe single-document response. `data` is the full doc with all fields (including embedded child arrays for Tables).",
        "properties": {
          "data": {
            "type": "object"
          }
        }
      },
      "FileDoc": {
        "type": "object",
        "description": "Row in Frappe's core `File` doctype. Returned by upload, list, and get operations.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe primary key for the file row (hash-based, e.g. `c14b27639e`)."
          },
          "file_name": {
            "type": "string",
            "description": "Display filename."
          },
          "file_url": {
            "type": "string",
            "description": "Path to download. `/files/<x>` for public, `/private/files/<x>` for private."
          },
          "is_private": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0 = public (open to anyone with URL), 1 = private (auth required)."
          },
          "attached_to_doctype": {
            "type": "string",
            "example": "CRM Lead",
            "description": "Parent doctype this file is attached to."
          },
          "attached_to_name": {
            "type": "string",
            "example": "CRM-LEAD-2026-00123",
            "description": "Parent record name."
          },
          "file_size": {
            "type": "integer",
            "description": "Size in bytes."
          },
          "file_type": {
            "type": "string",
            "description": "Extension / type (e.g. PDF, PNG)."
          },
          "content_hash": {
            "type": "string",
            "description": "MD5 of the content \u2014 use to dedup re-uploads."
          }
        }
      },
      "Error": {
        "type": "object",
        "description": "Frappe error envelope. Returned for HTTP 4xx/5xx. **NOT used for upsert silent-200 failures** \u2014 those use `message.ok=false` in the upsert response shape.",
        "properties": {
          "exc_type": {
            "type": "string",
            "example": "LinkValidationError",
            "description": "Exception class name. Use to programmatically discriminate error types."
          },
          "exception": {
            "type": "string",
            "example": "Could not find Custom Field: CRM Lead-foo",
            "description": "Human-readable exception message."
          },
          "_server_messages": {
            "type": "string",
            "description": "JSON-encoded array of additional human-readable messages."
          }
        }
      },
      "CallLog": {
        "type": "object",
        "description": "One row in `CRM Call Log` \u2014 a single inbound or outbound call.",
        "properties": {
          "name": {
            "type": "string",
            "description": "Frappe document id."
          },
          "id": {
            "type": "string",
            "description": "Provider call id."
          },
          "type": {
            "type": "string",
            "enum": [
              "Incoming",
              "Outgoing"
            ]
          },
          "status": {
            "type": "string",
            "enum": [
              "Initiated",
              "Ringing",
              "In Progress",
              "Completed",
              "Failed",
              "Busy",
              "No Answer",
              "Queued",
              "Canceled"
            ]
          },
          "from": {
            "type": "string",
            "description": "Caller number."
          },
          "to": {
            "type": "string",
            "description": "Destination number."
          },
          "duration": {
            "type": "integer",
            "description": "Call length in seconds."
          },
          "recording_url": {
            "type": "string",
            "description": "Recording link (private \u2014 patient PII)."
          },
          "telephony_medium": {
            "type": "string",
            "description": "Provider that placed the call (`Manual` / `Twilio` / `Exotel`; `Acefone` once deployed)."
          },
          "caller": {
            "type": "string",
            "description": "Agent (Link to User)."
          },
          "receiver": {
            "type": "string",
            "description": "Agent (Link to User)."
          },
          "start_time": {
            "type": "string",
            "format": "date-time"
          },
          "end_time": {
            "type": "string",
            "format": "date-time"
          },
          "reference_doctype": {
            "type": "string",
            "example": "CRM Lead"
          },
          "reference_docname": {
            "type": "string",
            "description": "The linked lead's name."
          }
        }
      },
      "WhatsAppMessage": {
        "type": "object",
        "description": "One row in `WhatsApp Message` \u2014 a single inbound or outbound WhatsApp message (planned surface).",
        "properties": {
          "name": {
            "type": "string"
          },
          "type": {
            "type": "string",
            "enum": [
              "Incoming",
              "Outgoing"
            ]
          },
          "message": {
            "type": "string",
            "description": "Message body (HTML)."
          },
          "status": {
            "type": "string",
            "enum": [
              "SENT",
              "Delivered",
              "Read",
              "Replied",
              "Failed"
            ]
          },
          "from": {
            "type": "string",
            "description": "Sender number (inbound)."
          },
          "to": {
            "type": "string",
            "description": "Recipient number (outbound)."
          },
          "content_type": {
            "type": "string",
            "description": "text / image / document / video / audio / interactive / template."
          },
          "message_type": {
            "type": "string",
            "enum": [
              "Manual",
              "Template"
            ]
          },
          "message_id": {
            "type": "string",
            "description": "Threading id used to match status updates."
          },
          "profile_name": {
            "type": "string",
            "description": "Sender display name."
          },
          "whatsapp_account": {
            "type": "string",
            "description": "Sending account / WhatsApp number (Link to WhatsApp Account)."
          },
          "reference_doctype": {
            "type": "string",
            "example": "CRM Lead"
          },
          "reference_name": {
            "type": "string",
            "description": "The linked lead's name."
          }
        }
      },
      "Role": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string",
            "example": "Sales Manager"
          },
          "role_name": {
            "type": "string",
            "example": "Sales Manager"
          },
          "disabled": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "desk_access": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "1 = can reach the Frappe desk/UI."
          },
          "is_custom": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        }
      },
      "UserPermission": {
        "type": "object",
        "description": "One row-level restriction \u2014 limits which records a user may see.",
        "properties": {
          "name": {
            "type": "string"
          },
          "user": {
            "type": "string",
            "format": "email"
          },
          "allow": {
            "type": "string",
            "description": "The doctype the restriction is on.",
            "example": "CRM Group"
          },
          "for_value": {
            "type": "string",
            "description": "The single value the user is scoped to.",
            "example": "Anaya"
          },
          "applicable_for": {
            "type": "string",
            "description": "Restrict only when accessing this doctype (blank = everywhere)."
          },
          "apply_to_all_doctypes": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          },
          "is_default": {
            "type": "integer",
            "enum": [
              0,
              1
            ]
          }
        }
      },
      "UserAccount": {
        "type": "object",
        "description": "A Frappe `User` \u2014 an agent or an integration account. Roles decide capability.",
        "properties": {
          "name": {
            "type": "string",
            "format": "email",
            "description": "The user id (= email)."
          },
          "email": {
            "type": "string",
            "format": "email"
          },
          "first_name": {
            "type": "string"
          },
          "full_name": {
            "type": "string"
          },
          "enabled": {
            "type": "integer",
            "enum": [
              0,
              1
            ],
            "description": "0 = disabled (login + keys blocked)."
          },
          "user_type": {
            "type": "string",
            "enum": [
              "System User",
              "Website User"
            ]
          },
          "roles": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "role": {
                  "type": "string"
                }
              }
            },
            "description": "Child table of assigned roles."
          },
          "api_key": {
            "type": "string",
            "description": "Set once keys are generated; the secret is never returned on read."
          }
        }
      }
    },
    "examples": {
      "MinimalUpsert": {
        "summary": "Minimum viable \u2014 just enough to create a lead",
        "description": "Only the dedup key (`mobile_no`) plus mandatory `first_name`/`status` (or let them default-fill). No routing, no profiles. Useful for an absolute-minimum smoke test.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Test Lead",
          "status": "New"
        }
      },
      "UpsertWithRouting": {
        "summary": "Minimum + routing \u2014 locked to a program",
        "description": "Adds the 4 routing fields. Lead is now tagged to a specific vertical / group / program, which drives sales-rep assignment and reporting.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Asha",
          "last_name": "K",
          "status": "New",
          "source": "Mobile App",
          "custom_vertical": "GoodFlip Care",
          "custom_psp_group": "Anaya",
          "custom_current_program": "Sigrima",
          "custom_origin_vertical": "GoodFlip Care"
        }
      },
      "UpsertWithOneProfile": {
        "summary": "Add one profile child \u2014 lab values for an insurer lead",
        "description": "Now we attach a Lab Profile row. Typical of an insurer pushing a lab-screened lead.",
        "value": {
          "mobile_no": "+919999000099",
          "first_name": "Ramesh",
          "status": "New",
          "source": "Niva Bupa",
          "custom_vertical": "GoodFlip",
          "custom_psp_group": "Insurers",
          "custom_current_program": "Niva Bupa",
          "custom_origin_vertical": "GoodFlip",
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "InsurerLabIntakeLead": {
        "summary": "Full \u2014 insurer-screening lead (labs + policy + alt phone)",
        "description": "Realistic shape for an inbound insurer feed. Plan Profile for policy/payment, Lab Profile for the full panel.",
        "value": {
          "mobile_no": "+919999000123",
          "first_name": "Ramesh",
          "last_name": "Kumar",
          "custom_dob": "1965-03-15",
          "custom_gender": "Male",
          "custom_city": "Bangalore",
          "custom_alternate_number": "+919811112222",
          "status": "New",
          "source": "Niva Bupa",
          "custom_vertical": "GoodFlip",
          "custom_psp_group": "Insurers",
          "custom_current_program": "Niva Bupa",
          "custom_origin_vertical": "GoodFlip",
          "custom_plan_profile": [
            {
              "policy_number": "NB-XXXXXX",
              "member_id": "M-XXXXXX",
              "payment_link": "https://niva.example/pay/abc"
            }
          ],
          "custom_lab_profile": [
            {
              "hba1c": 7.2,
              "fbs": 138,
              "ldl": 142,
              "hdl": 38,
              "tsh": 3.4,
              "creatinine": 1.1,
              "egfr": 78,
              "bmi": 26.5,
              "primary_condition": "Type 2 Diabetes",
              "comorbid_conditions": "Hypertension, Hyperlipidemia",
              "report_date": "2026-05-18"
            }
          ]
        }
      },
      "OncologyPSPLead": {
        "summary": "Full \u2014 oncology PSP lead (drug program + care team)",
        "description": "Realistic shape for an Anaya Sigrima clinical lead. Plan Profile has drug-specific fields + the program substage; Care & Providers has the assigned coach + doctor + hospital.",
        "value": {
          "mobile_no": "+919800000001",
          "first_name": "Sunita Rao",
          "custom_dob": "1980-01-01",
          "custom_gender": "Female",
          "custom_caregiver_name": "Arjun Rao",
          "custom_caregiver_phone": "+919800000011",
          "custom_caregiver_relation": "Spouse",
          "status": "New",
          "source": "Landing Page MR Form",
          "custom_vertical": "GoodFlip Care",
          "custom_psp_group": "Anaya",
          "custom_current_program": "Sigrima",
          "custom_origin_vertical": "GoodFlip Care",
          "custom_plan_profile": [
            {
              "patient_indication": "HER2+ MBC",
              "cancer_stage": "Stage IV",
              "sigrima_psp_category": "PSP A",
              "vivitra_enabled": "Yes",
              "substage": "Sigrima-Patient Ready for Chemo"
            }
          ],
          "custom_care_providers_profile": [
            {
              "abm_name": "Vikram Iyer",
              "success_coach_name": "Neha Gupta",
              "doctor_name": "Dr. A. Sharma",
              "hospital_name": "City Oncology Centre",
              "hospital_city": "Pune"
            }
          ]
        }
      },
      "WellnessSubscriptionLead": {
        "summary": "Full \u2014 wellness subscription lead (plan + score + care team)",
        "description": "Realistic shape for a MyTatva-style subscription sign-up. Plan Profile carries subscription + UTM; Lab Profile carries metabolic score; Care & Providers carries the assigned coach stack.",
        "value": {
          "mobile_no": "+919800000002",
          "first_name": "Kabir Shah",
          "status": "New",
          "source": "Mobile App",
          "custom_vertical": "GoodFlip",
          "custom_origin_vertical": "GoodFlip",
          "custom_plan_profile": [
            {
              "signup_date": "2026-04-15",
              "platform": "Android",
              "utm_source": "instagram",
              "plan_name": "Wellness Plus",
              "program_start_date": "2026-04-15",
              "program_end_date": "2026-07-15",
              "program_price": 4999,
              "plan_includes_cgm": 1,
              "cgm_brand": "Abbott"
            }
          ],
          "custom_lab_profile": [
            {
              "initial_metabolic_score": 58,
              "final_metabolic_score": 72,
              "metabolic_questionnaire_link": "https://..."
            }
          ],
          "custom_care_providers_profile": [
            {
              "success_coach_name": "Neha Gupta",
              "rm_name": "Sanjay Menon",
              "diet_coach_name": "Divya Rao"
            }
          ]
        }
      },
      "UpsertSuccessCreated": {
        "summary": "Upsert response \u2014 created",
        "value": {
          "message": {
            "ok": true,
            "action": "created",
            "name": "CRM-LEAD-2026-00123",
            "mobile_no": "+919999000123"
          }
        }
      },
      "UpsertSuccessUpdated": {
        "summary": "Upsert response \u2014 updated (existing lead found by mobile_no)",
        "value": {
          "message": {
            "ok": true,
            "action": "updated",
            "name": "CRM-LEAD-2026-00056",
            "mobile_no": "+919999000123"
          }
        }
      },
      "UpsertFailure": {
        "summary": "Upsert response \u2014 failure (HTTP still 200; check ok)",
        "value": {
          "message": {
            "ok": false,
            "error": "Please specify a reason for losing the lead."
          }
        }
      },
      "ErrorLinkValidation": {
        "summary": "404 \u2014 invalid Link value",
        "value": {
          "exc_type": "LinkValidationError",
          "exception": "Could not find CRM Program: SigrimaXXX"
        }
      },
      "LookupVerticalResponse": {
        "summary": "Vertical lookup \u2014 example response",
        "value": {
          "data": [
            {
              "name": "GoodFlip"
            },
            {
              "name": "GoodFlip Care"
            },
            {
              "name": "Pill Up"
            },
            {
              "name": "TatvaPractice"
            }
          ]
        }
      },
      "LookupSubstageResponse": {
        "summary": "Lead Substage lookup \u2014 filtered by program",
        "value": {
          "data": [
            {
              "name": "Sigrima-New Patient",
              "substage_name": "New Patient",
              "main_stage": "New"
            },
            {
              "name": "Sigrima-Patient Ready for Chemo",
              "substage_name": "Patient Ready for Chemo",
              "main_stage": "Active"
            },
            {
              "name": "Sigrima-Coordination via ABM",
              "substage_name": "Coordination via ABM",
              "main_stage": "Active"
            }
          ]
        }
      },
      "AuthCheckResponse": {
        "summary": "Auth verification \u2014 successful key",
        "value": {
          "message": "mytatva-writer@tatvacare.in"
        }
      },
      "FileUploadResponse": {
        "summary": "File upload \u2014 successful (private)",
        "value": {
          "message": {
            "name": "c14b27639e",
            "file_name": "lab-report-may.pdf",
            "file_url": "/private/files/c14b27639e-lab-report-may.pdf",
            "is_private": 1,
            "attached_to_doctype": "CRM Lead",
            "attached_to_name": "CRM-LEAD-2026-00123",
            "file_size": 184231
          }
        }
      }
    }
  },
  "paths": {
    "/api/method/frappe.auth.get_logged_user": {
      "get": {
        "tags": [
          "Authentication"
        ],
        "summary": "Verify API key",
        "description": "Returns the email of the user the API key belongs to. The single fastest way to verify your `Authorization` header is correct.\n\n**Use this** as your first call when integrating, and as a health-check in your CI/CD pipeline. Anything other than HTTP 200 with the user's email means your auth is broken before any business call.",
        "responses": {
          "200": {
            "description": "Authenticated.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string",
                      "format": "email"
                    }
                  }
                },
                "examples": {
                  "OK": {
                    "$ref": "#/components/examples/AuthCheckResponse"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bad/missing API key. Body returns HTML (Frappe website login redirect) \u2014 that's the signal."
          }
        }
      }
    },
    "/api/resource/CRM Lead": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "List leads",
        "description": "Standard Frappe list endpoint. Returns the requested `fields` for leads matching `filters`, paginated.\n\nFilter operator vocabulary, pagination, and `--data-urlencode` curl pattern are explained in [Read](/docs/api/leads).",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"custom_current_program\",\"=\",\"Niva Bupa\"]]",
            "description": "JSON-encoded array of `[field, operator, value]` filters. AND'd together."
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[\"name\",\"first_name\",\"mobile_no\",\"custom_current_program\"]",
            "description": "JSON-encoded array of fieldnames to return. Defaults to `name` only \u2014 usually you want more."
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            },
            "description": "Page size. Max recommended ~500."
          },
          {
            "name": "limit_start",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 0
            },
            "description": "Skip offset for pagination."
          },
          {
            "name": "order_by",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "modified desc",
            "description": "SQL-style ORDER BY. Useful: `modified desc` for delta-sync."
          }
        ],
        "responses": {
          "200": {
            "description": "List of leads.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeListResponse"
                },
                "example": {
                  "data": [
                    {
                      "name": "CRM-LEAD-2026-00001",
                      "lead_name": "Anita Sharma",
                      "first_name": "Anita",
                      "mobile_no": "+919876543210",
                      "status": "New",
                      "custom_vertical": "Oncology",
                      "custom_psp_group": "Anaya",
                      "custom_current_program": "Nivolumab",
                      "lead_owner": "riya.nair@tatvacare.in",
                      "creation": "2026-06-01 10:32:14.000000"
                    }
                  ]
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Create a lead",
        "description": "Standard Frappe create. **Use Upsert by phone instead** unless you specifically need create-only semantics (e.g. you've verified the lead doesn't exist and want a hard error if it does).\n\nUnlike Upsert: not idempotent, will not merge with existing lead by phone, returns the standard Frappe error envelope on failure (not the `message.ok` pattern).",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CRMLeadUniversal"
              },
              "examples": {
                "Oncology PSP": {
                  "$ref": "#/components/examples/OncologyPSPLead"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Created lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                },
                "example": {
                  "data": {
                    "name": "CRM-LEAD-2026-00001",
                    "lead_name": "Anita Sharma",
                    "first_name": "Anita",
                    "mobile_no": "+919876543210",
                    "status": "New",
                    "custom_vertical": "Oncology",
                    "custom_psp_group": "Anaya",
                    "custom_current_program": "Nivolumab",
                    "lead_owner": "riya.nair@tatvacare.in",
                    "creation": "2026-06-01 10:32:14.000000"
                  }
                }
              }
            }
          },
          "404": {
            "description": "LinkValidationError \u2014 a Link value isn't in its master.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                },
                "examples": {
                  "LinkValidation": {
                    "$ref": "#/components/examples/ErrorLinkValidation"
                  }
                }
              }
            }
          },
          "417": {
            "description": "MandatoryError \u2014 `first_name` or `status` missing."
          }
        }
      }
    },
    "/api/resource/CRM Lead/{name}": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Read one lead",
        "description": "Returns the full lead doc, INCLUDING all child Table fields (`custom_plan_profile`, `custom_lab_profile`, `custom_care_providers_profile`) inline as arrays. Each array is `[]` if no row exists, otherwise `[{...}]` with all fields.",
        "responses": {
          "200": {
            "description": "Lead with embedded children.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                },
                "example": {
                  "data": {
                    "name": "CRM-LEAD-2026-00001",
                    "lead_name": "Anita Sharma",
                    "first_name": "Anita",
                    "mobile_no": "+919876543210",
                    "status": "New",
                    "custom_vertical": "Oncology",
                    "custom_psp_group": "Anaya",
                    "custom_current_program": "Nivolumab",
                    "lead_owner": "riya.nair@tatvacare.in",
                    "creation": "2026-06-01 10:32:14.000000",
                    "custom_plan_profile": [
                      {
                        "nivo_indication": "NSCLC",
                        "nivo_dosage": "240 mg",
                        "cycles_planned": 12
                      }
                    ],
                    "custom_care_providers_profile": [
                      {
                        "doctor_name": "Dr. Mehta",
                        "hospital_name": "Apollo, Mumbai"
                      }
                    ]
                  }
                }
              }
            }
          },
          "404": {
            "description": "Lead not found."
          }
        }
      },
      "put": {
        "tags": [
          "Leads"
        ],
        "summary": "Update a lead",
        "description": "Send only changed fields.\n\n### Profile child semantics\n\nA PUT with `custom_plan_profile: [{...}]` **REPLACES** the entire array. To update a single field on the existing row without losing the rest, use **read-modify-write**:\n\n```python\nlead = GET /api/resource/CRM Lead/{name}\nrow  = (lead.custom_plan_profile or [{}])[0]\nrow['dx_landing_at'] = '2026-06-02 10:15:00'\nPUT /api/resource/CRM Lead/{name}  body={'custom_plan_profile': [row]}\n```\n\n**Or just use [Upsert by phone](/docs/api/leads)** \u2014 it merges your fields into the existing row automatically.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CRMLeadUniversal"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Updated lead.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/FrappeDocResponse"
                },
                "example": {
                  "data": {
                    "name": "CRM-LEAD-2026-00001",
                    "lead_name": "Anita Sharma",
                    "first_name": "Anita",
                    "mobile_no": "+919876543210",
                    "status": "New",
                    "custom_vertical": "Oncology",
                    "custom_psp_group": "Anaya",
                    "custom_current_program": "Nivolumab",
                    "lead_owner": "riya.nair@tatvacare.in",
                    "creation": "2026-06-01 10:32:14.000000"
                  }
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Leads"
        ],
        "summary": "Delete a lead",
        "description": "Hard delete. Use sparingly. **For lifecycle-end leads, prefer setting `status` to `Junk` or `Unqualified` instead** \u2014 preserves history for reporting.",
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "ok"
                }
              }
            }
          }
        }
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
            "type": "string"
          },
          "example": "CRM-LEAD-2026-00123",
          "description": "CRM Lead primary key. Obtained from a prior write response (`message.name` from upsert) or a list query."
        }
      ]
    },
    "/api/method/frappe.client.get_count": {
      "get": {
        "tags": [
          "Leads"
        ],
        "summary": "Count records",
        "description": "Returns the number of records matching the filters. Useful for pre-write checks (e.g. duplicate phone count before insert) and dashboard counts.",
        "parameters": [
          {
            "name": "doctype",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "example": "CRM Lead"
          },
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"mobile_no\",\"=\",\"+919999000123\"]]"
          }
        ],
        "responses": {
          "200": {
            "description": "Count.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "integer"
                    }
                  }
                },
                "example": {
                  "message": 812
                }
              }
            }
          }
        }
      }
    },
    "/api/method/upsert_lead_by_phone": {
      "post": {
        "tags": [
          "Leads"
        ],
        "summary": "Upsert a lead by phone",
        "description": "**The recommended write endpoint for ~99% of integrations.** Idempotent on `mobile_no`. Safe to retry. Finds an existing lead by `mobile_no` and updates it, or creates a new one. Profile children are passed as embedded arrays \u2014 same shape as standard REST.\n\n### How it merges\n\nFor an existing lead, fields you SEND are updated; fields you OMIT are LEFT ALONE. For profile children, fields you send ARE MERGED into the existing row (not replaced wholesale). This is the safest write pattern \u2014 use it unless you specifically need raw REST semantics.\n\n### Default-fill behaviour\n\n- Missing `first_name` \u2192 set to `(no name)`\n- Missing `status` \u2192 set to `New`\n- Profile arrays accept either actual JSON arrays or stringified JSON (the script parses both).\n\n### Always check `message.ok` (not HTTP status)\n\nHTTP 200 is returned even on failure today (silent-200 quirk pending patch). Inspect the boolean `message.ok` field. A patch will set HTTP 422 on the failure path; the boolean check works in both cases \u2014 safe to write your client code against `message.ok` today.\n\n### Common pitfalls\n\n- Sending an unknown Link value (e.g. mistyped program name) \u2192 `message.ok: false` with `LinkValidationError` in the error string. Fix: read [Lookups](/docs/api/reference-data) first.\n- Setting `status` to `Junk` or `Unqualified` without `lost_reason` \u2192 `ValidationError: Please specify a reason for losing the lead.` Add `lost_reason` from the [Lookups](/docs/api/reference-data) values.\n- Sending a `lead_owner` email that isn't a real Frappe user \u2192 `LinkValidationError`. Leave blank if unsure.\n\n### Related\n\n[Read \u203a Get one lead](/docs/api/leads) to fetch the lead back after writing. [Lookups](/docs/api/reference-data) to enumerate valid Link values before writing.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertLeadRequest"
              },
              "examples": {
                "1. Minimum viable": {
                  "$ref": "#/components/examples/MinimalUpsert"
                },
                "2. With routing": {
                  "$ref": "#/components/examples/UpsertWithRouting"
                },
                "3. With one profile": {
                  "$ref": "#/components/examples/UpsertWithOneProfile"
                },
                "4. Full \u2014 insurer + labs": {
                  "$ref": "#/components/examples/InsurerLabIntakeLead"
                },
                "5. Full \u2014 oncology PSP": {
                  "$ref": "#/components/examples/OncologyPSPLead"
                },
                "6. Full \u2014 wellness subscription": {
                  "$ref": "#/components/examples/WellnessSubscriptionLead"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Always 200 today (silent-200 quirk). Inspect `message.ok`.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UpsertLeadResponse"
                },
                "examples": {
                  "Created": {
                    "$ref": "#/components/examples/UpsertSuccessCreated"
                  },
                  "Updated": {
                    "$ref": "#/components/examples/UpsertSuccessUpdated"
                  },
                  "Failure": {
                    "$ref": "#/components/examples/UpsertFailure"
                  }
                }
              }
            }
          },
          "401": {
            "description": "Bad/missing API key.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/File": {
      "get": {
        "tags": [
          "Files"
        ],
        "summary": "List files attached to a lead",
        "description": "Standard Frappe list endpoint for the `File` doctype. To get files for a specific lead, filter on `attached_to_doctype` + `attached_to_name`.\n\n```bash\ncurl -G -H 'Authorization: token KEY:SECRET' \\\n     --data-urlencode 'filters=[[\"attached_to_doctype\",\"=\",\"CRM Lead\"],[\"attached_to_name\",\"=\",\"CRM-LEAD-2026-00123\"]]' \\\n     --data-urlencode 'fields=[\"name\",\"file_name\",\"file_url\",\"file_size\",\"is_private\",\"creation\"]' \\\n     https://one.tatvacare.in/api/resource/File\n```",
        "parameters": [
          {
            "name": "filters",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[[\"attached_to_doctype\",\"=\",\"CRM Lead\"],[\"attached_to_name\",\"=\",\"CRM-LEAD-2026-00123\"]]"
          },
          {
            "name": "fields",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "example": "[\"name\",\"file_name\",\"file_url\",\"is_private\"]"
          },
          {
            "name": "limit_page_length",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 20
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of File rows.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FileDoc"
                      }
                    }
                  }
                },
                "example": {
                  "data": [
                    {
                      "name": "8a7b6c5d",
                      "file_name": "prescription.pdf",
                      "file_url": "/private/files/prescription.pdf",
                      "attached_to_doctype": "CRM Lead",
                      "attached_to_name": "CRM-LEAD-2026-00001",
                      "is_private": 1
                    }
                  ]
                }
              }
            }
          }
        }
      }
    },
    "/api/method/upload_file": {
      "post": {
        "tags": [
          "Files"
        ],
        "summary": "Upload a file and attach to a lead",
        "description": "Frappe core file-upload endpoint. Multipart/form-data. **Always set `is_private=1` for patient documents** \u2014 the file URL will be `/private/files/...` requiring auth to fetch.\n\n### Required form parts\n\n- `file` \u2014 the binary file content\n- `doctype` \u2014 `CRM Lead`\n- `docname` \u2014 the lead's primary key (e.g. `CRM-LEAD-2026-00123`)\n- `is_private` \u2014 `1` (use `1` for patient docs, `0` only for non-sensitive content)\n\n### Optional form parts\n\n- `fieldname` \u2014 if you want the file to populate a specific Attach field on the lead\n- `folder` \u2014 defaults to `Home`\n- `file_name` \u2014 override the display name\n- `optimize` \u2014 optimize images on upload (jpg/png/gif)\n\n### Curl example\n\n```bash\ncurl -X POST -H 'Authorization: token KEY:SECRET' \\\n     -F 'file=@./lab-report-may.pdf' \\\n     -F 'doctype=CRM Lead' \\\n     -F 'docname=CRM-LEAD-2026-00123' \\\n     -F 'is_private=1' \\\n     https://one.tatvacare.in/api/method/upload_file\n```\n\n### Download the file later\n\nThe response includes `file_url`. To download:\n- Public files (`/files/...`) \u2014 open `GET <base_url><file_url>` with no auth.\n- Private files (`/private/files/...`) \u2014 `GET <base_url><file_url>` with the same `Authorization: token KEY:SECRET` header. A 403 from a private URL means your auth is missing or the lead permission check failed.\n\n### Dedup re-uploads\n\nEach upload creates a new `File` row, even if you upload the same bytes twice. To dedup client-side, hash the file and check existing files via `GET /api/resource/File?filters=[[\"content_hash\",\"=\",\"<md5>\"],[\"attached_to_name\",\"=\",\"<lead>\"]]`.",
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  },
                  "doctype": {
                    "type": "string",
                    "example": "CRM Lead"
                  },
                  "docname": {
                    "type": "string",
                    "example": "CRM-LEAD-2026-00123"
                  },
                  "is_private": {
                    "type": "integer",
                    "enum": [
                      0,
                      1
                    ],
                    "default": 1
                  },
                  "fieldname": {
                    "type": "string"
                  },
                  "folder": {
                    "type": "string",
                    "default": "Home"
                  },
                  "file_name": {
                    "type": "string"
                  }
                },
                "required": [
                  "file",
                  "doctype",
                  "docname"
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "File uploaded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "$ref": "#/components/schemas/FileDoc"
                    }
                  }
                },
                "examples": {
                  "Private upload": {
                    "$ref": "#/components/examples/FileUploadResponse"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/resource/File/{name}": {
      "delete": {
        "tags": [
          "Files"
        ],
        "summary": "Delete a file",
        "description": "Removes the File row AND the physical file from disk. Idempotent \u2014 a second DELETE returns 404, which is fine.",
        "responses": {
          "200": {
            "description": "Deleted.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                },
                "example": {
                  "message": "ok"
                }
              }
            }
          },
          "404": {
            "description": "Already deleted (safe)."
          }
        }
      },
      "parameters": [
        {
          "name": "name",
          "in": "path",
          "required": true,
          "schema": {
[...]
